<po-page-detail [p-breadcrumb]="breadcrumb" [p-title]="titleDet">
	<form [formGroup]="formPedido" class="po-mb-2">
		<po-container class="po-row juriLoadingCover">
			<po-divider
				class="po-offset-lg-2 po-offset-xl-2 po-lg-8"
				p-label="{{ litDetPed?.formPed.vlrMigracao }}"
				*ngIf="bHasValorDistribuir"
			></po-divider>
			<div
				class="po-row po-offset-lg-2 po-offset-xl-2 po-lg-8 po-mb-lg-2"
				*ngIf="bHasValorDistribuir"
			>
				<!--Valor possível original-->
				<po-decimal
					*ngIf="true"
					class="po-lg-3 form-group"
					name="vlrPossivelOrig"
					formControlName="vlrPossivelOrig"
					p-label="{{ litDetPed?.formPed.vlrPossivelOri }}"
					p-disabled="true"
				>
				</po-decimal>
				<!--Valor total já distribuido-->
				<po-decimal
					class="po-lg-3 form-group"
					name="vlrDistribuidoOrig"
					formControlName="vlrDistribuidoOrig"
					p-label="{{ litDetPed?.formPed.vlrDistri }}"
					p-disabled="true"
				>
				</po-decimal>
			</div>
			<po-divider
				class="po-offset-lg-2 po-offset-xl-2 po-lg-8"
				p-label="{{ litDetPed?.formPed.detalhes }}"
				*ngIf="bHasValorDistribuir"
			></po-divider>
			<div class="po-row po-offset-lg-2 po-offset-xl-2 po-lg-8 po-mb-lg-2">
				<po-loading-overlay
					p-screen-lock="false"
					[hidden]="isHideLoadingPedido"
					p-text="{{ litDetPed?.carregando }}"
				>
				</po-loading-overlay>
				<!--Pedido-->
				<po-combo
					class="po-lg-3 form-group"
					name="tpPedido"
					p-label="{{ litDetPed?.formPed.tpPedido }}"
					p-debounce-time="500"
					[p-filter-service]="tpPedidoAdapterService"
					formControlName="tpPedido"
				>
				</po-combo>
				<!--Data do pedido-->
				<po-datepicker
					class="po-lg-3 form-group"
					(focusout)="preencheDataJuros()"
					p-format="dd/mm/yyyy"
					name="dataPedidoVlr"
					formControlName="dataPedidoVlr"
					p-label="{{ litDetPed?.formPed.dataPedidoVlr }}"
				>
				</po-datepicker>
				<!-- Forma de correção-->
				<po-combo
					class="po-lg-3 form-group"
					name="correcao"
					p-label="{{ litDetPed?.formPed.correcao }}"
					[p-options]="listCorrecao"
					p-debounce-time="500"
					[p-filter-service]="fCorrecaoAdapterService"
					[p-filter-params]="filtroCorrecao"
					formControlName="correcao"
					(p-change)="checkMulta($event)"
				>
				</po-combo>
				<!--Prognostico-->
				<po-input
					class="po-lg-3 form-group"
					name="prognostico"
					formControlName="prognostico"
					p-label="{{ litDetPed?.formPed.prognostico }}"
					p-disabled="true"
				>
				</po-input>
				<!--Valor do pedido-->
				<po-decimal
					#valorPedido
					(focusout)="atualizaVlrPossivel()"
					class="po-lg-3 form-group"
					name="vlrpedido"
					formControlName="vlrpedido"
					p-min="10"
					p-label="{{ litDetPed?.formPed.vlrpedido }}"
				>
				</po-decimal>
				<!--Valor provavel-->
				<po-decimal
					(focusout)="atualizaVlrPossivel()"
					class="po-lg-3 form-group"
					name="vlrprovavel"
					formControlName="vlrprovavel"
					p-label="{{ litDetPed?.formPed.vlrprovavel }}"
				>
				</po-decimal>
				<!--Valor remoto-->
				<po-decimal
					(focusout)="atualizaVlrPossivel()"
					class="po-lg-3 form-group"
					name="vlrremoto"
					formControlName="vlrremoto"
					p-label="{{ litDetPed?.formPed.vlrremoto }}"
				>
				</po-decimal>
				<!--Valor incontroverso-->
				<po-decimal
					(focusout)="atualizaVlrPossivel()"
					class="po-lg-3 form-group"
					name="vlrincontroverso"
					formControlName="vlrincontroverso"
					p-label="{{ litDetPed?.formPed.vlrincontroverso }}"
				>
				</po-decimal>
				<div
					class="po-row po-field-container-bottom"
					*ngIf="formPedido.value.vlrpedido <= 0"
				>
					<div class="po-field-container-bottom-text-error po-lg-3">
						<span class="po-icon po-icon-warning po-field-container-icon-error"></span>
						<div style="display: inline-block; vertical-align: sub;">
							{{ litDetPed?.formPed.valorNegativo }}"
						</div>
					</div>
				</div>
				<!--Valor possivel-->
				<po-decimal
					class="po-lg-3 form-group"
					name="vlrpossivel"
					formControlName="vlrpossivel"
					p-label="{{ litDetPed?.formPed.vlrpossivel }}"
					p-disabled="true"
				>
				</po-decimal>
				<!--Data juros-->
				<po-datepicker
					class="po-lg-3 form-group"
					p-format="dd/mm/yyyy"
					name="dtJuros"
					formControlName="dtJuros"
					p-label="{{ litDetPed?.formPed.dataJuros }}"
				>
				</po-datepicker>
				<!--Data multa-->
				<po-datepicker
					class="po-lg-3 form-group"
					p-format="dd/mm/yyyy"
					name="dtMulta"
					formControlName="dtMulta"
					p-label="{{ litDetPed?.formPed.dataMulta }}"
					[p-disabled]="disabledMulta"
				>
				</po-datepicker>
				<!--Percentual multa-->
				<po-input
					class="po-lg-3 form-group"
					name="percMulta"
					formControlName="percMulta"
					p-label="{{ litDetPed?.formPed.percMulta }}"
					p-mask="99999"
					p-tooltip="{{ litDetPed?.formPed.tootipMulta }}"
					p-tooltip-position="right"
					[p-disabled]="disabledMulta"
				>
				</po-input>
				<!--Detalhe-->
				<div class="po-row po-mb-lg-1">
					<po-textarea
						name="detalhamento"
						class="form-group po-lg-12"
						p-label="{{ litDetPed?.formPed.inputDetalhamento }}"
						p-rows="4"
						formControlName="detalhamento"
					>
					</po-textarea>
				</div>
				<!-- Calcula redutor? -->
				<po-switch
					*ngIf="!isHideVlrRedutor"
					class="po-lg-3 form-group"
					name="atualizaRedutor"
					formControlName="atualizaRedutor"
					p-label-off="{{ litDetPed?.formPed.nao }}"
					p-label-on="{{ litDetPed?.formPed.sim }}"
					p-label="{{ litDetPed?.formPed.redutor }}"
				>
				</po-switch>

				<!--Valor redutor-->
				<po-decimal
					*ngIf="!isHideVlrRedutor"
					class="po-lg-3 form-group"
					name="vlrRedutor"
					formControlName="vlrRedutor"
					p-label="{{ litDetPed?.formPed.vlrRedutor }}"
					p-disabled="true"
				>
				</po-decimal>
			</div>

			<!-- Avançado -->
			<div
				*ngIf="mostraAvancado"
				class="po-row po-offset-lg-2 po-offset-xl-2 po-lg-8 po-mb-lg-2"
				(click)="toggleAvancado = !toggleAvancado; desabilitaMulta()"
				[class.not-active]="isMinimizeDisabled"
			>
				<div class="po-font-text-large-bold po-sm-12 po-md-12 po-lg-12 po-clickable">
					{{ litDetPed?.formPed.avancado }}
					<span
						class="po-icon {{
							toggleAvancado ? 'po-icon-arrow-up' : 'po-icon-arrow-down'
						}}"
					></span>
				</div>
			</div>
			<ng-container *ngIf="toggleAvancado">
				<div class="po-row po-offset-lg-2 po-offset-xl-2 po-lg-8 po-mb-lg-2">
					<!-- Multa -->
					<po-decimal
						class="po-lg-3 form-group"
						name="percMultaAvc"
						formControlName="percMultaAvc"
						p-label="{{ litDetPed?.formPed.percMulta }}"
						p-maxlength="6"
						(p-change)="avancadoAct()"
					>
					</po-decimal>

					<!-- Encargos -->
					<po-decimal
						class="po-lg-3 form-group"
						name="percEncargos"
						formControlName="percEncargos"
						p-label="{{ litDetPed?.formPed.percEncargos }}"
						p-maxlength="6"
						(p-change)="avancadoAct()"
					>
					</po-decimal>

					<!-- Honorários -->
					<po-decimal
						class="po-lg-3 form-group"
						name="percHonorarios"
						formControlName="percHonorarios"
						p-label="{{ litDetPed?.formPed.percHonorarios }}"
						p-maxlength="6"
						(p-change)="avancadoAct()"
					>
					</po-decimal>

					<div class="po-row po-field-container-bottom">
						<!-- Forma de correção multa -->
						<po-combo
							class="po-lg-6 form-group"
							name="correcaoMultaAvc"
							p-label="{{ litDetPed?.formPed.correcaoMultaAvc }}"
							[p-options]="listCorrecao"
							p-debounce-time="500"
							[p-filter-service]="fCorrecaoAdapterService"
							[p-filter-params]="filtroCorrecao"
							formControlName="correcaoMultaAvc"
							[p-disabled]="isCorrMultaDisabled"
							(p-change)="avancadoAct()"
						>
						</po-combo>

						<!-- Atualiza multa? -->
						<po-switch
							class="po-lg-3 form-group"
							name="atualizaMulta"
							formControlName="atualizaMultaAvc"
							p-label-off="{{ litDetPed?.formPed.nao }}"
							p-label-on="{{ litDetPed?.formPed.sim }}"
							p-label="{{ litDetPed?.formPed.atuMulta }}"
							(p-change)="clearFormaCorr($event)"
						>
						</po-switch>

						<po-button
							class="po-pull-right po-mb-0 po-mt-4 po-mr-1"
							p-label="{{ litDetPed?.formPed.btnClearAvc }}"
							(p-click)="modalClearAvc.open()"
							[p-disabled]="isClearBtnDisabled"
						>
						</po-button>
					</div>
				</div>
			</ng-container>
			<!-- Avançado fim -->
		</po-container>
	</form>

	<po-modal
		#modalClearAvc
		p-title="{{ litDetPed?.formPed.tituloModal }}"
		[p-primary-action]="limpar"
		[p-secondary-action]="fechar"
	>
		{{ litDetPed?.formPed.confirmClearAvc }}
	</po-modal>
	<div class="po-pull-right">
		<po-button
			class="btn"
			p-label="{{ litDetPed?.formPed.btnCancelar }}"
			(p-click)="onCancel()"
		>
		</po-button>

		<po-button
			class="btn"
			p-label="{{ litDetPed?.formPed.btnExcluir }}"
			[p-disabled]="btnExcluirDisabled"
			(p-click)="modal.open()"
		>
		</po-button>

		<po-modal
			#modal
			p-title="{{ litDetPed?.formPed.tituloModal }}"
			[p-primary-action]="excluir"
			[p-secondary-action]="fechar"
		>
			{{ litDetPed?.formPed.confirmExclusao }}
		</po-modal>

		<po-button
			class="btn"
			p-type="default"
			[p-label]="btnIncluirLabel"
			[p-disabled]="btnIncluirEnabled"
			p-type="primary"
			[p-loading]="isHideLoadingInclusao"
			(p-click)="confirmVerify()"
		>
		</po-button>
	</div>

	<jur-justif-modal #modJustif> </jur-justif-modal>
</po-page-detail>
