<po-page-default
	[p-breadcrumb]="breadcrumb" 
	p-title="{{ titleDet }}">

	<form [formGroup]="formTarefa" class="po-mb-2">
			<po-container p-no-border="false">
				<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
					p-no-border="true">

					<!-- Data -->
					<div class="po-lg-2 form-group">
						<po-datepicker
							p-format="dd/mm/yyyy"
							p-label="{{ litDetTarefa?.dataP }}"
							name="dataPrazo"
							[formControl]="formTarefa.controls['dataPrazo']">
						</po-datepicker>
					</div>

					<!-- Hora -->
					<div class="po-lg-2 form-group">
						<po-input
							p-mask="99:99" 
							p-label="{{ litDetTarefa?.hora }}"
							name="hora"
							formControlName="hora"
							p-optional="true">
						</po-input>
					</div>
					<!-- Tipo de Prazo -->
					<div class="po-lg-4 form-group">
						<po-combo #tipo
							name="tipoPrazo"
							formControlName="tipoPrazo"
							p-label="{{ litDetTarefa?.tipoP }}"
							p-debounce-time=500
							(p-change)="getDetailTarefa(tipo?.selectedOption)"
							p-change-on-enter="true"
							[p-filter-service]='tpTarefaService'>
						</po-combo>
					</div>

					<!-- Status -->
					<div class="po-lg-4 form-group">
						<po-combo
							name="statusPrazo"
							formControlName="statusPrazo"
							p-label="{{ litDetTarefa?.statusP }}"
							p-debounce-time=500
							[p-filter-service]='statusTarefaService'>
						</po-combo>
					</div>
					
					<!-- Responsável -->
					<div class="po-lg-8 form-group">
						<po-combo
							name="respPrazo"
							formControlName="respPrazo"
							p-label="{{ litDetTarefa?.responsavelP }}"
							p-debounce-time=500
							[p-filter-service]='participanteAdapterService'
							[p-filter-params]="filtroResp">
						</po-combo>
					</div>

					<!-- Proposto (Opcional)    -->
					<div class="po-lg-4 form-group">
						<po-combo
							name="prepPrazo"
							formControlName="prepPrazo"
							p-label="{{ litDetTarefa?.prepostoP }}"
							p-debounce-time=500
							[p-filter-service]='prepostoAdapterService'
							p-optional="true">
						</po-combo>
					</div>
				
					<!-- Descrição (Opcional) -->
					<div class="po-lg-12 form-group">
						<po-textarea
							name="descPrazo"
							p-label="{{ litDetTarefa?.descricaoP }}"
							p-rows="8"
							formControlName="descPrazo"
							p-optional="true">
						</po-textarea>
					</div>
		

					<po-button 
						class="po-lg-3 po-mb-lg-1 po-row"
						p-label="{{litDetTarefa?.selecionaArq}}"
						(p-click)="getDocuments()">
					</po-button>
					<po-upload #docUpload
						class="po-lg-12 uploadDoc"
						p-url="/juri/JURLEGALPROCESS/anexo"
						p-multiple="true"
						(p-upload)="uploadFiles($event)"
						(p-success)="uploadSucess()"
						p-hide-send-button
						p-hide-select-button
						p-required>
					</po-upload>
					<po-button class="po-pull-right po-lg-3 po-ml-0"
						name="btnPesquisaAvan"
						p-label="{{ litDetTarefa?.anexos }}"
						[p-disabled]="bOperacaoInclusao"
						p-small="true"
						(p-click)="callAnexos()"
						p-type="link">
					</po-button>	
				</div>
		</po-container>	
	</form>

	<!-- Botões -->
	<po-container p-no-border="true">
		<div class="po-pull-right">
				<!-- Cancelar -->
				<po-button class="btn"
					p-label="{{ litDetTarefa?.btnCancelar }}"
					(p-click)="onCancel()">
				</po-button>

				<!-- Excluir -->
				<po-button class="btn"
					p-label="{{ lblBtnExcluir }}"
					[p-disabled]="bOperacaoInclusao"
					(p-click)="thfModal.open()">
				</po-button>
				
				<po-modal #excluiTarefa
					p-title="Atenção!"
					[p-primary-action]="excluir"
					[p-secondary-action]="fechar">
					{{ litDetTarefa?.oCompromisso }}
					{{ descTipo}}
					{{ litDetTarefa?.confirmExclusao }}
				</po-modal>

				<!-- Incluir/Alterar -->
				<po-button class="btn"
					p-type="default"
					[p-label]="lblBtnSalvar"
					p-type="primary"
					[p-loading]= "loadingTarefa"
					(p-click)="confirmVerify()">
				</po-button>
			</div>
	</po-container>
	<jur-justif-modal #modJustif>
	</jur-justif-modal>
</po-page-default>