<po-page-default [p-breadcrumb]="breadCrumb">
	<!-- Widget de Detalhes da distribuição -->
	<po-widget
		class="{{
			hasDocumento ? 'po-lg-6 po-pl-0 juriLoadingCover' : 'po-lg-12 po-pl-0 juriLoadingCover'
		}}"
		p-no-shadow="true"
		(window:resize)="onHeightTela()"
		[p-height]="nHeightMonitor"
	>
		<!-- título da widget de detalhes da distribuição -->
		<div class="po-row po-mb-2">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litDetDist?.detDist }}
			</div>
		</div>

		<po-loading-overlay
			p-screen-lock="true"
			[hidden]="hideLoadingDetDist"
			p-text="{{ litDetDist.loading }}"
		>
		</po-loading-overlay>

		<!-- Responsável por apresentar os detalhes da distribuição -->
		<po-dynamic-view [p-fields]="fieldsDistribuicao" [p-value]="valuesDistribuicao">
		</po-dynamic-view>
	</po-widget>

	<!-- Widget dos documentos peticionados -->
	<po-widget
		*ngIf="hasDocumento"
		class="po-lg-6 po-pl-0 po-pr-0"
		p-no-shadow="true"
		[p-height]="nHeightMonitor"
	>
		<!-- título da widget de documento peticionados -->
		<div class="po-row po-mb-2">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litDetDist?.docPeticio }}
			</div>
		</div>

		<!-- Apresenta documentos peticionados -->
		<iframe
			[src]="linkDoc | safe"
			frameborder="0"
			[height]="nHeightPdfMonitor"
			width="100%"
		></iframe>
	</po-widget>

	<!-- Botão voltar -->
	<po-button
		class="btn po-pull-right"
		p-type="primary"
		p-label="{{ litDetDist?.voltar }}"
		(p-click)="onCancel()"
	>
	</po-button>
</po-page-default>
