<po-page-default 
	[p-breadcrumb]="breadcrumb" 
	p-title="{{ litAditivos?.titleAditivos}}">
	<!-- Aditivos -->
	<div class="po-lg-12 po-pl-0 po-pr-0 po-mb-2">
		<po-button 
			p-label="{{ litAditivos?.novoAditivo}}" 
			p-type="primary" 
			(p-click)="callAditivo()">
		</po-button>
		<po-loading-overlay
			p-screen-lock="true" 
			[hidden]="isHideLoadingAditivos" 
			p-text="{{ litAditivos?.loading}}">
		</po-loading-overlay>
		<!-- Pesquisa por tipo de Aditivo -->
		<div class="jurAlignButton po-pull-right po-lg-2 po-pr-0">
			<po-combo #comboPesquisa
				name="searchAditivo"
				[(ngModel)]="searchKey"
				(p-change)="getAditivos()"
				p-placeholder="{{ litAditivos?.pesquisa }}" 
				p-icon="po-icon-search"
				[p-filter-service]="fwModelAdaptorService"
				[p-filter-params]="adaptorParamTipoAditivo"
				p-change-on-enter="true">
			</po-combo>
		</div>
	</div>

	
	<po-container p-no-border="false" p-no-padding="true" class="juriLoadingCover po-lg-12 po-pr-0 po-pl-0">
		<!-- Grid de Aditivos -->
		<po-table
			[p-columns]="colAditivos"
			[p-items]="listAditivos"
			p-sort="true"
			p-striped="true"
			p-hide-text-overflow="true">
		</po-table>
	</po-container>
</po-page-default>