
:host ::ng-deep .po-accordion-item:not(:first-child) .po-accordion-item-header{
	border-top: 1px solid lightgray;
}

:host ::ng-deep .po-accordion-item-header{
	padding: 4px 0;
}

:host ::ng-deep .po-accordion-item-body-content {
	padding: 8px;
	border-top: 1px solid #eceeee;
}

:host ::ng-deep .po-accordion {
	box-shadow: none;
	border: 1px solid #eceeee;
}