<po-page-default
	p-title="{{litUserConfig?.page.title}}"
	[p-breadcrumb]="breadcrumb">

	<po-container 
		p-no-border="true"
		p-no-padding="true"
		p-no-shadow="true">

		<!-- Campo para filtrar a configuração desejada -->
		<po-input class="po-lg-4 po-pl-0"
			p-icon="po-icon-search"
			[name]="filter"
			p-placeholder="{{litUserConfig?.page.searchPlaceHolder}}"
			(p-change-model)="filter = $event"
			(p-change)="filter = $event"
			(p-enter)="filter = $event"
			p-clean="true">
		</po-input>
		
		<div class="po-pull-right po-mt-1 po-mr-1">
			<po-button class="po-pr-1"
				p-label="{{ litUserConfig?.button.btnBack}}"
				p-type="default"
				(p-click)="sairConfig()">
			</po-button>

			<po-button 
				p-label="{{ litUserConfig?.button.btnSave}}"
				p-type="primary"
				(p-click)="salvarConfig()">
			</po-button>
		</div>
	</po-container>

	<div class="po-mt-3">
		<po-widget>
			<po-accordion>
				<po-accordion-item
					*ngFor="let accordionItem of accordionItems | filterAccordionByDescription: filter : this ; let i = index" 
					[p-label]="accordionItem.label">

					<div class="po-pl-0 po-mb-1">
						<p *ngIf="accordionItem?.subtitle">{{accordionItem.subtitle}}</p>

						<po-dynamic-form
							[p-fields]="accordionItem?.fields | filterFieldByDescription: filter : accordionItem "
							[p-value]="accordionItem?.value">
						</po-dynamic-form>
					</div>
				</po-accordion-item>
			</po-accordion>

			<div class="po-font-text-bold po-text-center" 
				*ngIf="!hasListAccordion"> 
				{{litUserConfig?.page.searchNotFound}}
			</div>

		</po-widget>
	</div>
</po-page-default>