<po-page-default 
	[p-breadcrumb]="breadcrumb" 
	[p-title]="titleDet">

	<form [formGroup]="formAditivo" class="po-mb-2">

		<po-container p-no-border="false" class="juriLoadingCover po-lg-12 po-pr-0 po-pl-0">
			<!-- loading -->
			<po-loading-overlay *ngIf="!isLoadingAditivo"
				p-screen-lock="true"
				[hidden]="isLoadingAditivo"
				p-text="{{ litDetAditivo?.carregando }}" >
			</po-loading-overlay>

			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">

				<!-- Detalhamento Aditivo -->
				<po-input class="po-lg-5 form-group"
					p-label="{{ litDetAditivo?.form.detalhe }}"
					name="detalhe"
					p-maxlength="200"
					p-optional="true"
					formControlName="detalhe">
				</po-input>

				<!-- Data Assinatura -->
				<po-datepicker class="form-group po-lg-3"
					p-label="{{ litDetAditivo?.form.dtAssinatura }}"
					name="dtAssinatura"
					formControlName="dtAssinatura"
					[p-required]="true">
				</po-datepicker>

				<!-- tipo -->
				<po-combo class="po-lg-4 form-group"
					name="tipo"
					p-label="{{ litDetAditivo?.form.tipo }}"
					[p-filter-service]='fwModelAdaptorService'
					[p-filter-params]="adaptorParamTipo"
					formControlName="tipo"
					[p-required]="true">
				</po-combo>
			</div>

			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				
				<!-- Numero contrato-->
				<po-input class="form-group po-lg-4"
					p-label="{{ litDetAditivo?.form.numeroContrato }}"
					name="numeroContrato"
					p-maxlength="30"
					p-optional="true"
					formControlName="numeroContrato">
				</po-input>

				<!-- Inicio vigencia -->
				<po-datepicker class="form-group po-lg-4"
					p-label="{{ litDetAditivo?.form.iniVigencia }}"
					name="iniVigencia"
					formControlName="iniVigencia"
					[p-required]="true">
				</po-datepicker>

				<!-- Fim vigencia -->
				<po-datepicker class="form-group po-lg-4"
					p-label="{{ litDetAditivo?.form.fimVigencia }}"
					name="fimVigencia"
					formControlName="fimVigencia"
					[p-required]="true">
				</po-datepicker>
			</div>

			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">

				<!-- Data Valor -->
				<po-datepicker class="form-group po-lg-4"
				p-label="{{ litDetAditivo?.form.dtValor }}"
				name="dtValor"
				formControlName="dtValor"
				p-optional="true">
				</po-datepicker>

				<!-- Forma de correcao -->
				<po-combo class="po-lg-4 form-group"
					name="fCorrecao"
					p-label="{{ litDetAditivo?.form.fCorrecao }}"
					formControlName="fCorrecao"
					[p-filter-service]='fwModelAdaptorService'
					[p-filter-params]="adaptorParamFCorrecao"
					p-debounce-time=500
					p-optional="true">
				</po-combo>

				<!-- Valor -->
				<po-decimal class="po-lg-4 form-group"
					name="valor"
					p-label="{{ litDetAditivo?.form.valor }}"
					formControlName="valor"
					p-maxlength=11
					p-thousand-maxlength="10"
					[p-required]="true">
				</po-decimal>
			</div>

			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2" p-no-border="false">

				<!-- Objeto -->
				<po-textarea
					name="objeto"
					class="form-group po-lg-12"
					p-label="{{ litDetAditivo?.form.objeto }}"
					[p-rows]="2"
					p-optional="true"
					formControlName="objeto">
				</po-textarea>

			</div>
		</po-container>
	</form>

	<!-- Botões -->
	<po-container p-no-border="true">
		<div class="po-pull-right">
			<!-- Cancelar -->
			<po-button class="btn"
				p-label="{{ litDetAditivo?.btn.btnCancelar }}"
				(p-click)="onCancel()">
			</po-button>

			<!-- Excluir -->
			<po-button class="btn"
				p-label="{{ litDetAditivo?.btn.btnExcluir }}"
				[p-disabled]="isOperacaoInclusao"
				(p-click)="excluiModal.open()">
			</po-button>

			<!-- Modal de Exclusão -->
			<po-modal #excluiAditivo
				p-title="{{ litDetAditivo?.modal.titleExclusao }}"
				[p-primary-action]="excluir"
				[p-secondary-action]="fechar">
				{{ litDetAditivo?.modal.exclusao }}
			</po-modal>

			<!-- Incluir/Alterar -->
			<po-button class="btn"
				p-type="default"
				p-label="{{ litDetAditivo?.btn.btnSalvar }}"
				p-type="primary"
				[p-loading]= "isLoadingBtnsave"
				(p-click)="salvarAditivo()">
			</po-button>
		</div>
	</po-container>
</po-page-default>





