body{
	background-color: #f3f5f9;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.divCentralizada {  
	margin:0px auto;
}
#divTopo {
	width: 100%;
	height: 140px;
}
#divGradiente{
	width: 100%;
	height: 85px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #c2d3e3 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c2d3e3), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#c2d3e3 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#c2d3e3 100%,#7db9e8 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#c2d3e3 100%,#7db9e8 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0d1e1',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#c2d3e3 100%,#7db9e8 100%); /* W3C */
}
#divAzul {
	width: 100%;
	height: 55px;
	background-color: #D5E3F0;
}
#divTotvs {
	width: 798px;
	height: 85px;
}
#divNG {
	width: 798px;
	height: 35px;
	background-color: #D5E3F0;
}
#conteudoNG{
	padding:5px;
	height: 25px;
	display:block;
	background-color: #D5E3F0;
	background-image: url(ng_barra_menu.png);
	background-repeat: no-repeat;
}
#divCabec {
	width: 798px;
	height: 25px;
	background-color: #f3f5f9;
}
#divConteudo {
	width: 798px;
	height: 380px;
	background-color: white;
}
#bordaTopo {
	width: 798px;
}
#rodape {
	width: 798px;
	background-color: #f3f5f9;
}
.divtitulo {
	background-color: #2F4365;
	height: 25px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.labels {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #1e2d44;
	font-size: 13px;
}

input{
	height: 12px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	width: 120px;
}
input[type="button"]{
	width: 90px;
	height: 25px;
	font-size: 12px;
}
a:link, a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #8ca0c7;
}
a:active {
	text-decoration: none;
	color: #FFFFFF;
}

.headerField{
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.linhaBrowse{
	height: 20px;
}

.celula{
	color: #000000;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.labelObrigat{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #3675C2;
	font-size: 10px;
}

.labelComum{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #8D8D8D;
	font-size: 10px;
}

.txtTitulo {
	color: #1e2d44;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding:0pt 0pt 0pt 18pt;
}

.buttonF3{
	overflow: auto;
	width: 25px;
	height: 20px;
	vertical-align: bottom;
}
.imgF3{
	padding: 0pt 0pt 1pt 0pt;
	width: 8px;
}

.bordaBranca1, .bordaBranca2, .bordaBranca3, .bordaBranca4 {display:block; overflow:hidden; font-size:1px;}
.bordaBranca1, .bordaBranca2, .bordaBranca3 {height:2px;}
.bordaBranca2, .bordaBranca3, .bordaBranca4 {background:#FFFFFF; border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF;}
.bordaBranca1 {margin:0 5px; background: #FFFFFF;}
.bordaBranca2 {margin:0 3px; border-width:0 2px;}
.bordaBranca3 {margin:0 2px;}
.bordaBranca4 {height:3px; margin:0 1px;}

.bordaDirBranca1, .bordaDirBranca2, .bordaDirBranca3, .bordaDirBranca4 {display:block; overflow:hidden; font-size:1px; background:#FFFFFF;}
.bordaDirBranca1, .bordaDirBranca2, .bordaDirBranca3 {height:1px;}
.bordaDirBranca2, .bordaDirBranca3, .bordaDirBranca4 {border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF;}
.bordaDirBranca1 {margin:0px 5px 0px 0px;}
.bordaDirBranca2 {margin:0px 3px 0px 0px; border-width:0 2px;}
.bordaDirBranca3 {margin:0px 2px 0px 0px;}
.bordaDirBranca4 {height:1px; margin:0px 1px 0px 0px;}

.borda2DirBranca1, .borda2DirBranca2, .borda2DirBranca3, .borda2DirBranca4 {display:block; overflow:hidden; font-size:1px; background:#FFFFFF;}
.borda2DirBranca1, .borda2DirBranca2, .borda2DirBranca3 {height:1px;}
.borda2DirBranca2, .borda2DirBranca3, .borda2DirBranca4 {border-left:1px solid #EBEBEB; border-right:1px solid #EBEBEB;}
.borda2DirBranca1 {margin:0px 5px 0px 0px;}
.borda2DirBranca2 {margin:0px 3px 0px 0px; border-width:0 2px;}
.borda2DirBranca3 {margin:0px 2px 0px 0px;}
.borda2DirBranca4 {height:1px; margin:0px 1px 0px 0px;}

.bordaDirAzul1, .bordaDirAzul2, .bordaDirAzul3, .bordaDirAzul4 {display:block; overflow:hidden; font-size:1px; background:#2F4365;}
.bordaDirAzul1, .bordaDirAzul2, .bordaDirAzul3 {height:1px;}
.bordaDirAzul2, .bordaDirAzul3, .bordaDirAzul4 {border-left:1px solid #2F4365; border-right:1px solid #2F4365;}
.bordaDirAzul1 {margin:0px 5px 0px 0px;}
.bordaDirAzul2 {margin:0px 3px 0px 0px; border-width:0 2px;}
.bordaDirAzul3 {margin:0px 2px 0px 0px;}
.bordaDirAzul4 {height:1px; margin:0px 1px 0px 0px;}

.bordaEsqAzul1, .bordaEsqAzul2, .bordaEsqAzul3, .bordaEsqAzul4 {display:block; overflow:hidden; font-size:1px; background:#2F4365;}
.bordaEsqAzul1, .bordaEsqAzul2, .bordaEsqAzul3 {height:1px;}
.bordaEsqAzul2, .bordaEsqAzul3, .bordaEsqAzul4 {border-left:1px solid #2F4365; border-right:1px solid #2F4365;}
.bordaEsqAzul1 {margin:0px 0px 0px 5px;}
.bordaEsqAzul2 {margin:0px 0px 0px 3px; border-width:0 2px;}
.bordaEsqAzul3 {margin:0px 0px 0px 2px;}
.bordaEsqAzul4 {height:1px; margin:0px 0px 0px 1px;}

.bordaCinza1, .bordaCinza2, .bordaCinza3, .bordaCinza4 {display:block; overflow:hidden; font-size:1px;}
.bordaCinza1, .bordaCinza2, .bordaCinza3 {height:2px;}
.bordaCinza2, .bordaCinza3, .bordaCinza4 {border-left:2px solid #EBEBEB; border-right:2px solid #EBEBEB;}
.bordaCinza1 {margin:0 5px; background:#EBEBEB;}
.bordaCinza2 {margin:0 3px; border-width:0 2px;}
.bordaCinza3 {margin:0 2px;}
.bordaCinza4 {height:2px; margin:0 1px;}
.divConteudoBorda {padding:5px; display:block; border-left:2px solid #EBEBEB; border-right:2px solid #EBEBEB;}