<po-page-detail
	[p-breadcrumb]="breadcrumb"
	[p-title]="titleDet">

	<!-- Novo Levantamento -->
	<form [formGroup]="formLev" class="po-mb-2">
		<po-container class="po-row juriLoadingCover" p-no-border="false">
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingLevantamento"
				p-text="{{ litDetLev?.loadLev }}" >
			</po-loading-overlay>
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="true">
				<div class="po-row">
					<!-- Saldo disponivel -->
					<div  class="po-lg-3 form-group">
						<po-decimal
							name="saldo"								
							p-label="{{ litDetLev?.saldoDisp }}"
							formControlName="saldo"
							p-disabled="true">
						</po-decimal>
					</div>
					<!-- valor do levantamento -->
					<div  class="po-lg-3 form-group">
						<po-decimal
							name="vlrLevTotal"								
							p-label="{{ litDetLev?.vlrLevAtu}}"
							formControlName="vlrLevTotal"
							p-disabled="true">
						</po-decimal>
					</div>
				</div>

				<!-- Tipo de Levantamento -->
				<div class="po-lg-4 form-group">
					<po-combo
						name="tipoLev"
						p-optional="false"
						formControlName="tipoLev"
						p-label="{{ litDetLev?.tipLev }}"
						[p-filter-service]='fwModelAdaptorService'
						[p-filter-params]="adaptorParamTipoLevant">
					</po-combo>
				</div>

				<!-- Data do Levantamento -->
				<div class="po-lg-4 form-group">
					<po-datepicker
						name="dataValor"								
						p-label="{{ litDetLev?.dtLev }}"
						formControlName="dataValor"
						p-required="true">
					</po-datepicker>
				</div>

				<!-- Tipo de Envolvido -->
				<po-select class="po-lg-4 form-group" 
						name="envolvido"								
						p-label="{{ litDetLev?.envLev }}"
						[p-options]="listEnvolvido"
						formControlName="envolvido">
				</po-select>

				<!-- Valor Principal -->
				<div class="po-lg-4 form-group">
					<po-decimal 
						name="vlrLevPrincipal"								
						p-label="{{ litDetLev?.vlrLev }}"
						formControlName="vlrLevPrincipal"
						p-required="true"
						(focusout)="atualizaVlrLev()">
					</po-decimal>
				</div>

				<!-- Valor Correção -->
				<div  class="po-lg-4 form-group">
					<po-decimal
						name="vlrLevCorrecao"								
						p-label="{{ litDetLev?.vlrCorreLev }}"
						formControlName="vlrLevCorrecao"
						(focusout)="atualizaVlrLev()">
					</po-decimal>
				</div>

				<!-- Valor Juros -->
				<div  class="po-lg-4 form-group">
					<po-decimal 
						name="vlrLevJuros"								
						p-label="{{ litDetLev?.vlrJurosLev }}"
						formControlName="vlrLevJuros"
						(focusout)="atualizaVlrLev()">
					</po-decimal>
				</div>

				<!-- Valor Ajuste Correção -->
				<div  class="po-lg-6 form-group">
					<po-decimal 
						name="vlrLevAjCorrecao"								
						p-label="{{ litDetLev?.vlrAjuCorre }}"
						formControlName="vlrLevAjCorrecao"
						(focusout)="atualizaVlrLev()">
					</po-decimal>
				</div>

				<!-- Valor Ajuste Juros -->
				<div  class="po-lg-6 form-group">
					<po-decimal 
						name="vlrLevAjJuros"								
						p-label="{{ litDetLev?.vlrAjJur }}"
						formControlName="vlrLevAjJuros"
						(focusout)="atualizaVlrLev()">
					</po-decimal>
				</div>					
			</div>	
		</po-container>
	</form>
	<po-container p-no-border="true">
		<div class="po-pull-right">
				<po-button class="btn"
					p-label="{{ litDetLev?.titleBtn.cancelar }}"
					(p-click)="onCancel()">
				</po-button>

				<po-button class="btn"
					p-label="{{ litDetLev?.titleBtn.excluir }}"
					[p-disabled]="bOperacaoInclusao"
					(p-click)="thfModal.open()">
				</po-button>
				
				<po-button class="btn"
					p-type="default"
					p-label="{{ lblBtnSalvar }}"
					p-type="primary"
					[p-loading]="bLoadingBtnSalvar"
					(p-click)="confirmVerify()">
				</po-button>
				<po-modal #excluiLevantamento
					p-title="{{ litDetLev?.atencao }}"
					[p-primary-action]="excluir"
					[p-secondary-action]="fechar">
					{{ litDetLev?.confirmExclusao }}
				</po-modal>
			</div>
	</po-container>
	<jur-justif-modal #modJustif>
	</jur-justif-modal>
</po-page-detail>
