<po-page-default 
	[p-breadcrumb]="breadcrumb" 
	p-title="{{ litTarefas?.tituloTarefa }}">
	<!-- tarefas -->
	<po-button 
		p-label="{{ litTarefas?.btnNovaTarefa }}" 
		p-type="primary" 
		(p-click)="createTarefa()">
	</po-button>
	<div class="po-page-header-actions po-pull-right">
		<po-combo
			name="searchTarefa"			
			[p-filter-service]='fwModelAdaptorService'
			[p-filter-params]="adaptorTipoFup"
			(p-change)="filtraTipo()"
			p-icon="po-icon-search"
			[(ngModel)]="searchKey"
			p-change-on-enter="true">
		</po-combo>
	</div>

	<!-- Grid de Tarefas-->
	<div class="po-row juriLoadingCover">
		<po-loading-overlay
			p-screen-lock="true" 
			[hidden]="isHideLoadingTarefas" 
			p-text="{{ litTarefas?.loadTarefa }}">
		</po-loading-overlay>
		<po-table
			[p-columns]="colTarefas"
			[p-items]="tarefasList"
			p-sort="true"
			p-striped="true"
			(p-show-more)="showMore()"
			[p-show-more-disabled]="isShowMoreDisabled"
			p-hide-text-overflow="true">
		</po-table>
		<!-- Modal Concluir tarefas -->
		<po-modal #concluiTarefa
			[p-title]="litTarefas.modalPt.modTitle" 
			[p-primary-action]="putConcluirTarefa"
			[p-secondary-action]="fechar">

			<form [formGroup] = "formConcluiComp">
				<div class="po-row po-mb-4">
					<po-input
						class="po-md-4"
						name="Compromisso"
						formControlName="tipo"
						[p-label]="litTarefas.modalPt.modCompromisso"
						p-disabled= "true"
						[p-readonly]="true">
					</po-input>

					<po-input
						class="po-md-4"
						name="status"
						formControlName="statusAtual"
						[p-label]="litTarefas.modalPt.modStatusAtual"
						p-disabled= "true"
						[p-readonly]="true">
					</po-input>

					<po-combo
						class="po-md-4"
						name="status"
						formControlName="novoStatus"
						[p-label]="litTarefas.modalPt.modNovoStatus"
						p-debounce-time=500
						[p-filter-service]='fwModelAdaptorService'
						[p-filter-params]="adaptorStatusFup">
					</po-combo>

					<po-textarea
						class="po-lg-12"
						name="descricao"
						formControlName="descricao"
						[p-label]="litTarefas?.modalPt.modDescricao"
						p-rows="3"
						>
					</po-textarea>

					<po-button 
						class="po-lg-4 po-mb-lg-1 po-row"
						[p-label]="litTarefas.btnSelecionar"
						(p-click)="getDocuments()">
					</po-button>
					
					<po-upload #docUpload
						class="po-lg-12 uploadDoc"
						p-url="/juri/JURLEGALPROCESS/anexo"
						p-multiple="true"
						(p-upload)="uploadFiles($event)"
						(p-success)="uploadSucess()"
						p-hide-send-button
						p-hide-select-button
						p-required>
					</po-upload>
				</div>
			</form>
			<jur-justif-modal #modJustif>
			</jur-justif-modal>
		</po-modal>
	</div>
</po-page-default>