<po-page-default >

	<div class="po-lg-12">
		<po-combo class="po-pr-lg-0 po-pl-0 po-lg-4"
			[(ngModel)]="searchProcess"
			(p-change)="onSelectSearchedProcess()"
			p-change-on-enter="boolean"
			name="searchProcess"
			p-debounce-time=500
			p-disabled-init-filter
			p-filter-minlength="3"
			p-icon="po-icon-search"
			[p-filter-service]="searchprocess"
			p-tooltip ={{litHome?.toolTipPesqRapida}}
			p-tooltip-position="top"
			p-placeholder="{{ litHome?.pesqProcesso }}">
		</po-combo>

		<div class="po-pt-1 po-lg-1">
			<po-button 
				name="btnPesquisaAvan"
				p-label="{{ litHome?.pesqAvancada }}"
				(p-click)="openPesqAvancada()"
				p-small="true"
				p-type="link">
			</po-button>
		</div>

		<po-button class="po-pull-right po-pt-1"
			(p-click)="verificaFiliaisDoUsuario()"
			p-label="{{ litHome?.criarNovoProcesso }}" 
			p-icon="po-icon-plus"
			p-type="primary"
		>
		</po-button>
	</div>
	<div class="po-row">
		<po-widget class="po-lg-6 po-mt-2 juriLoadingCover" 
			name="wdgFavoritos" 
			p-height="400" 
			p-title="{{ litHome?.meusFav }}" 
			p-primary-label="{{ litHome?.verFav }}" 
			(p-primary-action)="openFavoritos()">
			<po-loading-overlay *ngIf="!isHideLoadingFavoritos"
				p-screen-lock="false"
				[hidden]="isHideLoadingFavoritos"
				p-text="{{ litHome?.loadFav }}" >
			</po-loading-overlay>
			<po-table *ngIf="isHideLoadingFavoritos"
				[p-columns]="colFavoritos"
				[p-items]="listFavoritos"
				p-sort="false"
				[p-striped]="true">
			</po-table>
		</po-widget>
		<po-widget class="po-lg-6 po-mt-2 juriLoadingCover" 
			name="wdgProvisao" 
			p-height="400" 
			p-title="{{ litHome?.provisoes }}"  
			p-primary-label="{{ litHome?.verProv }}"  
			(p-primary-action)="openProvisao()">
			<po-loading-overlay *ngIf="!isHideLoadingProvisoes"
				p-screen-lock="false"
				[hidden]="isHideLoadingProvisoes"
				p-text="{{ litHome?.loadProv }}"> 
			</po-loading-overlay>
			<po-table *ngIf="isHideLoadingProvisoes"
				[p-columns]="colsProvisao"
				[p-items]="provisionList"
				p-sort="false"
				[p-striped]="true">
			</po-table>
		</po-widget>
	</div>
	<div class="po-row">
		<!-- Widget tarefas a vencer -->
		<po-widget class="po-lg-12 juriLoadingCover" 
			name="wdgTarefas" 
			[p-height]="(listTarefas?.length) ? 400 : 250"
			[p-primary-label]="(listTarefas?.length)? litHome?.exportarExcel : null"
			(p-primary-action)="exportarExcel()"
			[p-secondary-label]="(listTarefas?.length)? litHome?.exportarPDF: null"
			(p-secondary-action)="exportarPDF()">
			<div class="po-row">
				<div class="po-font-text-bold po-sm-8 po-md-8 po-lg-8">
					{{  litHome?.tarefasVencer }}
				</div>
				<div class="po-sm-4 po-md-4 po-lg-4 po-mt-0">
					<div class="po-pull-right po-mb-1 po-clickable" (click)="openPainelTarefa()">
						<span class="po-icon {{ 'po-icon po-icon-calendar' }}"></span>
						{{  litHome?.painelAtividades }}
					</div>
				</div>
			</div>
		<po-loading-overlay *ngIf="!isHideLoadingTarefas"
			p-screen-lock="false"
			[hidden]="isHideLoadingTarefas"
			p-text="{{ litHome?.loadTarPendente }}" >
		</po-loading-overlay>
		<po-table *ngIf="isHideLoadingTarefas"
			[p-columns]="colTarefas"
			[p-items]="listTarefas"
			p-sort="true"
			p-striped="true"
			[p-show-more-disabled]="isShowMoreDisabled"
			(p-show-more)="showMoreTarefas()"
		></po-table>
	</po-widget>

	</div>
	<div class="po-row">
		<h1 class="po-page-header-title po-lg-12">{{litHome?.acomp}}</h1>
		<po-widget class="po-lg-3 po-mt-2 juriLoadingCover" 
			name="wdgAndamento" 
			p-height="220" 
			p-primary-label="{{ litHome?.verAndamentos }}" 
			(p-primary-action)="openAcompanhamentoAndamento()" 
			p-title="{{ litHome?.processosEmAndamento }}">
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingAndamentos"
				p-text="{{ litHome?.loadAnd }}">
			</po-loading-overlay>
			<div class="po-font-display po-button-link po-text-center" >{{qtdAndamento}}</div>
			<div class="po-font-text-bold po-text-center">{{strAnomesAtu}}</div>
		</po-widget>

		<po-widget class="po-lg-3 po-mt-2 juriLoadingCover"
			name="wdgNovosProcessos"
			p-height="220"
			p-primary-label="{{ litHome?.verprocessosNovos }}"  
      		(p-primary-action)="openAcompanhamentoNovosProcessos()"
			p-title="{{ litHome?.novosProcessos }}">
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingNovos"
				p-text="{{ litHome?.loadNovos }}"> 
			</po-loading-overlay>
			<div class="po-font-display po-button-link po-text-center">{{qtdNovosProcessos}}</div>
			<div class="po-font-text-bold po-text-center">{{strAnomesAtu}}</div>
		</po-widget>
		
		<po-widget class="po-lg-3 po-mt-2 juriLoadingCover" 
			name="wdgEncerrados" 
			p-height="220" 
			p-primary-label="{{ litHome?.verEncerrados }}"  
			(p-primary-action)="openAcompanhamentoEncerrados()" 
			p-title="{{ litHome?.processosEncerrados }}"> 
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingEncerrados"
				p-text="{{ litHome?.loadEncerrados }}">
			</po-loading-overlay>
			<div class="po-font-display po-button-link po-text-center">{{qtdEncerrado}}</div>
			<div class="po-font-text-bold po-text-center">{{strAnomesAtu}}</div>
		</po-widget>
		<!-- distribuicao recebida -->
		<po-widget class="po-lg-3 po-mt-2 juriLoadingCover"
			name="wdgDistrbibuicao"
			p-height="220"
			p-primary-label="{{ litHome?.verDistribuicoes }}"
			(p-primary-action)="openDistribuicoes()"
			p-title="{{ litHome?.distribuicoes }}">
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="hideLoadingdDistr"
				p-text="{{ litHome?.loadDistribuicao }}">
			</po-loading-overlay>
			<div class="po-font-display po-button-link po-text-center">{{nQtdDistribuicao}}</div>
			<div class="po-font-text-bold po-text-center">{{ litHome?.pendentes }}</div>
		</po-widget>
	</div>
	<div class="po-row">
		<h1 class="po-page-header-title po-lg-12">{{ litHome?.evolucao }}</h1>
		<h2 class="po-info-value po-lg-12">{{ litHome?.demonstrativo }}</h2>
		<po-widget class="po-lg-12 po-mt-2 juriLoadingCover">
			<po-container class="po-lg-12" id="cntEvolucao" p-no-border="true">
				<po-container class="po-lg-12 juriLoadingCover" p-no-border="true">
					<po-loading-overlay
						p-screen-lock="false"
						[hidden]="isHideLoadingGraph"
						p-text="{{ litHome?.loadGrafico }}"> 
					</po-loading-overlay>
					<canvas baseChart height="60"
						[datasets]="graphEvoLines"
						[labels]="graphEvoFooter"
						[options]="graphEvoOptions"
						[colors]="graphEvoLineProp"
						[legend]="graphEvoShowLegend"
						[chartType]="graphEvoTipo">
					</canvas>
				</po-container>	
			</po-container>
		</po-widget>
	</div>

	<div>
		<po-modal #filiais
			p-title="{{ litHome?.tituloModalFil }}"
			[p-primary-action]="salvar"
			[p-secondary-action]="cancelar">
			{{ litHome?.selecionaFilial }}

			<form [formGroup]="formFiliais">
			
				<!-- Filial -->
				<div class="po-lg-12 form-group">
					<po-combo #comboFilial
						name="filialProc"
						p-label="{{ litHome?.filial }}"
						p-debounce-time=500
						formControlName="filialProc"
						[p-filter-service]='filiaisAdapterService'>
					</po-combo>
				</div>	
			</form>
		</po-modal>
	</div>
	<div class="po-row juriLoadingCover">
		<!-- Modal Concluir tarefas -->
		<po-modal #concluiTarefa
			[p-title]="litHome.modalPt.modTitle" 
			[p-primary-action]="putConcluirTarefa"
			[p-secondary-action]="fechar">

			<form [formGroup] = "formConcluiComp">
				<div class="po-row po-mb-4">
					<po-input
						class="po-md-4"
						name="Compromisso"
						formControlName="tipo"
						[p-label]="litHome.modalPt.modCompromisso"
						p-disabled= "true"
						[p-readonly]="true">
					</po-input>

					<po-input
						class="po-md-4"
						name="status"
						formControlName="statusAtual"
						[p-label]="litHome.modalPt.modStatusAtual"
						p-disabled= "true"
						[p-readonly]="true">
					</po-input>

					<po-combo
						class="po-md-4"
						name="status"
						formControlName="novoStatus"
						[p-label]="litHome.modalPt.modNovoStatus"
						p-debounce-time=500
						[p-filter-service]='fwModelAdaptorService'
						[p-filter-params]="adaptorStatusFup">
					</po-combo>

					<po-textarea
						class="po-lg-12"
						name="descricao"
						formControlName="descricao"
						[p-label]="litHome?.modalPt.modDescricao"
						p-rows="3"
						>
					</po-textarea>

					<!-- Botão de incluir anexo -->
					<po-button 
						class="po-lg-4 po-mb-lg-1 po-row"
						[p-label]="litHome.btnSelecionar"
						(p-click)="getDocuments()">
					</po-button>
					<po-upload #docUpload
						class="po-lg-12 uploadDoc"
						p-url="/juri/JURLEGALPROCESS/anexo"
						p-multiple="true"
						(p-upload)="uploadFiles($event)"
						(p-success)="uploadSucess()"
						p-hide-send-button
						p-hide-select-button
						p-required>
					</po-upload>
				</div>
			</form>
			<jur-justif-modal #modJustif>
			</jur-justif-modal>
		</po-modal>
	</div>

</po-page-default>
