<po-page-default p-title="{{ litAtividades?.breadcrumb.atividades }}" [p-breadcrumb]="breadcrumb">
	<div class="juriLoadingCover">
		<po-loading-overlay
			p-screen-lock="true"
			[hidden]="hideLoadingAtividades"
			p-text="{{ litAtividades?.loading }}"
		>
		</po-loading-overlay>
		<po-widget [p-height]="nHeightWidget" p-no-shadow="true">
			<!-- Lista de filtros disponíveis -->
			<div
				[ngClass]="{
					'po-lg-2': classSizeLg,
					'po-lg-3': classSizeSm,
					'po-pl-0': true
				}"
			>
				<p class="po-lg-12 po-mt-3 po-font-text-bold">
					{{ litAtividades?.filtro.disponivel }}
				</p>
				<po-tree-view
					p-selectable
					class="po-lg-12 po-mt-1"
					[p-items]="itemsTreeView"
					(p-selected)="refreshTask('filterAdd', $event)"
					(p-unselected)="refreshTask('filterRemove', $event)"
					ngDefaultControl
				>
				</po-tree-view>
				<!-- Legenda -->
				<div class="po-mt-3">
					<div class="po-row po-pt-3">
						<div class="po-clickable" (click)="toggleLegenda = !toggleLegenda">
							<p class="po-lg-10 po-font-text-bold po-text">
								{{ litAtividades?.status.legenda }}
							</p>
							<div class="po-pull-right">
								<span
									class="po-icon {{
										toggleLegenda ? 'po-icon-arrow-up' : 'po-icon-arrow-down'
									}}"
								></span>
							</div>
						</div>
					</div>
					<po-container *ngIf="toggleLegenda" style="box-shadow: none;">
						<po-list-view p-property-title="legendaCorCalend" [p-items]="listStatusFup">
							<!-- Conteúdo da lista -->
							<ng-template p-list-view-content-template let-item>
								<!-- Cor -->
								<div class="po-row">
									<span
										[ngClass]="[
											'po-' + item.corPortinari,
											'po-table-column-label'
										]"
										style="border-radius: 10px;"
									>
									</span>
									<!-- Descrição status -->
									<div class="po-ml-1">
										{{ item.desc }}
									</div>
								</div>
							</ng-template>
						</po-list-view>
					</po-container>
				</div>
			</div>

			<!-- Calendário de atividades -->
			<ngx-event-calendar
				[ngClass]="{
					'po-lg-10': classSizeLg,
					'po-lg-9': classSizeSm,
					'po-mt-0': true
				}"
				[style]="styleCalendar"
				[showAddButton]="false"
				[language]="'br'"
				[dataSource]="listAtividades"
				(dayEvents)="selectDay($event)"
				(changeMonth)="changeDataCalend($event)"
				ngDefaultControl
			>
			</ngx-event-calendar>
		</po-widget>
	</div>

	<div class="po-row juriLoadingCover">
		<!-- Modal - Lista de atividades -->
		<po-modal
			#mdlAtividades
			[p-title]="tituloMdlAtividades"
			[p-primary-action]="mdlAtiviBtnFechar"
		>
			<div *ngFor="let item of listItensResult" class="juriLoadingCover colorListAtiv">
				<div class="po-mb-0 po-row po-pl-0 po-clickable" (click)="openTarefa(item)">
					<!-- Conteúdo da lista -->
					<div class="po-mt-0 po-row po-pl-0 borderListAtiv" [style]="item.styleModal">
						<div class="po-lg-12 po-mb-1 po-mt-1 po-pl-0">
							<!-- Tipo da tarefa -->
							<div class="po-font-text-bold po-pl-2 po-lg-6 po-row fontColorWhite">
								<div class="po-font-text-bold fontColorWhite">
									<span
										[ngClass]="{ 'po-mr-1': item.iconTag }"
										class="po-icon {{ item.iconTag }}"
									></span
									>{{ item.title }} - {{ item.desc }}
								</div>
							</div>

							<!-- Hora marcada -->
							<div class="po-lg-6">
								<div *ngIf="item.hasHour" class="po-row">
									<div class="po-font-text-bold po-ml-1 fontColorWhite">
										{{ litAtividades?.modal.hora }}:
									</div>
									<div class="po-font-text po-ml-1 fontColorWhite">
										{{ item.horaFup }}
									</div>
								</div>
							</div>

							<!-- Descrição da tarefa -->
							<div *ngIf="item.descFup" class="po-lg-12">
								<div class="po-lg-12 po-font-text fontColorWhite">
									{{ item.descFup }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="!listItensResult.length">
				<div class="po-lg-12 po-font-text-bold po-text-center">
					{{ litAtividades?.modal.semAtivid }}
				</div>
			</div>
		</po-modal>
	</div>
</po-page-default>
