:host ::ng-deep .po-page-header {
	padding: 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
}

:host ::ng-deep .po-wrapper .po-page .po-page-content {
	padding: 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
}

:host ::ng-deep .po-tree-view-item-header-padding {
	padding-left: 0px;
}

.colorListAtiv:not(:first-child) {
	margin-top: 8px;
}

.borderListAtiv {
	border-radius: 4px;
}

:host ::ng-deep .po-modal-footer {
	padding: 8px;
}

:host ::ng-deep .po-container {
	box-shadow: none;
}

:host ::ng-deep .po-list-view-container {
	padding: 0;
}

:host ::ng-deep .po-list-view-content {
	margin-top: 0;
}

:host ::ng-deep .po-list-view {
	border: 0;
}

.fontColorWhite {
	color: white;
}

:host ::ng-deep .po-container-no-shadow {
	border: none;
}

:host ::ng-deep .po-list-view {
	border: 0;
}

:host ::ng-deep .po-tree-view-item {
	border-bottom: none;
}

:host ::ng-deep .po-modal-header {
	padding-bottom: 12px;
}
