<po-page-default
	[p-breadcrumb]="breadcrumb"
	p-title="{{ slaJuridico }}">
	<!-- Qtd de consultas a processar histórico -->
	<div *ngIf="!isDisabledProcessar" class="po-pb-2">
		{{ processaWF }}

		<div class="po-lg-12 po-mt-3 po-mb-3 po-pl-0">
			<!-- Botão processar -->
			<po-button class="po-lg-2 po-pl-0 "
				p-label="{{ litSLA?.processaWF.btnProcessar }}"
				(p-click)="modalProcessarHist.open()"
				p-type="primary" 
				[p-disabled]="isDisabledBtnProcessar">
			</po-button>

			<div  *ngIf="isProcessErr && !isShowProgBarIncons" style="font-size:15px;">
				<!-- Botão Ignorar WorkFlows -->
				<po-button
					p-icon="po-icon po-icon-info"
					(p-click)="modalIgnoraWF.open()"
					[p-label]="msgIgnorarWf"
					p-small="true"
					p-type="link">
				</po-button>
			</div>
		</div>

		<!-- Barra de progresso -->
		<!-- Processamento histórico -->
		<div *ngIf="isShowProgressBar" class="po-row po-mt-2 ">
			<po-progress
				[p-value]="nProgressProcHist"
				p-text="{{ litSLA?.processaWF.progressBar }}">
			</po-progress>
		</div>
		<!-- Processamento WF Inconsistentes -->
		<div *ngIf="isShowProgBarIncons" class="po-row po-mt-2 ">
			<po-progress
				[p-value]="nProgressWFIncons"
				p-text="{{ litSLA?.processaWF.progressIncos }}">
			</po-progress>
		</div>
	</div>
	
	<div class="po-row">
		<!-- Gráfico SLA Jurídico -->
		<po-widget class="po-lg-12 po-pl-0 po-pr-0 juriLoadingCover">
			<h1 class="po-page-header-title po-lg-12">{{ litSLA?.graficoSLA.titulo }}</h1>
			<h2 class="po-info-value po-lg-12 po-mb-2">{{ litSLA?.graficoSLA.descricao }}</h2>
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadGraphSLA"
				p-text="{{ litSLA?.loadWF }}">
			</po-loading-overlay>
			<canvas baseChart
				height="80"
				[datasets]="barChartSLAData"
				[labels]="barChartSLALabels"
				[options]="barChartSLAOptions"
				[legend]="barChartSLALegend"
				[chartType]="barChartSLAType">
			</canvas>
		</po-widget>
	</div>

	<!-- Gráfico dos Fluxos do Jurídico -->
	<po-widget class="po-lg-12 po-pl-0 po-pr-0 juriLoadingCover">
		<h1 class="po-page-header-title po-lg-12">{{ litSLA?.graficoFluxo.titulo }}</h1>
		<h2 class="po-info-value po-lg-12 po-mb-2">{{ litSLA?.graficoFluxo.descricao }}</h2>
		<h3 class="po-font-text-bold po-lg-12 po-mb-1">{{ litSLA?.graficoFluxo.titFiltro }}</h3>
		<form [formGroup]="formFluxoDept">
			<div class="po-row po-mb-1">
			<!-- Tipo de Contrato -->
				<po-multiselect
					class="po-lg-3"
					name="tpContrato"
					p-label="{{ litSLA?.titTpCont }}"
					formControlName="tpContrato"
					[p-options]="listTpContrato">
				</po-multiselect>
			
				<!-- Área Jurídica -->
				<po-multiselect
					class="po-lg-3"
					name="areaSolic"
					p-label="{{ litSLA?.titAreaSolic }}"
					formControlName="areaSolic"
					p-debounce-time=500
					[p-options]="listAreaSolic">
				</po-multiselect>

				<!-- data inicial -->
				<po-datepicker class="po-lg-2"
					p-label="{{ litSLA?.titDtInicial }}"
					name="dataInicial"
					formControlName="dataInicial">
				</po-datepicker>
				
				<!-- data final -->
				<po-datepicker class="po-lg-2"
					p-label="{{ litSLA?.titDtFinal }}"
					name="dataFinal"
					formControlName="dataFinal">
				</po-datepicker>

				<!-- Filtrar -->
				<po-button class="po-lg-2 po-mt-4"
					p-label="{{ litSLA?.titBtnFiltro }}"
					(p-click)="getChartFluxJur(true)"
					p-type="primary">
				</po-button>
			</div>
		</form>

		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadGraphFlx"
			p-text="{{ litSLA?.loadWF }}"> 
		</po-loading-overlay>
		<canvas baseChart
			height="80"
			[datasets]="barChartFluxoData"
			[labels]="barChartFluxoLabels"
			[options]="barChartFluxoOptions"
			[legend]="barChartFluxoLegend"
			[chartType]="barChartFluxoType">
		</canvas>
	</po-widget>

	<po-widget class="po-lg-12 po-pl-0 po-pr-0 juriLoadingCover">
		<!-- Gráfico de Horas por área -->
		<h1 class="po-page-header-title po-lg-12">{{ litSLA?.graficoAreaSoli.titulo }}</h1>
		<h2 class="po-info-value po-lg-12 po-mb-2">{{ litSLA?.graficoAreaSoli.descricao }}</h2>
		<h3 class="po-font-text-bold po-lg-12 po-mb-1">{{ litSLA?.graficoAreaSoli.titFiltro }}</h3>
		<form [formGroup]="formAreaSolic">
			<div class="po-row po-mb-1">
			<!-- Tipo de Contrato -->
				<po-multiselect
					class="po-lg-3"
					name="tpContrato"
					p-label="{{ litSLA?.titTpCont }}"
					formControlName="tpContrato"
					p-debounce-time=500
					[p-options]="listTpContrato">
				</po-multiselect>

				<!-- Filtrar -->
				<po-button class="po-lg-1 po-mt-4"
					p-label="{{ litSLA?.titBtnFiltro }}"
					(p-click)="getChartAreaInfo(true)"
					p-type="primary">
				</po-button>
			</div>
		</form>
		
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadGraphArea"
			p-text="{{ litSLA?.loadWF }}"> 
		</po-loading-overlay>
		<canvas baseChart
			height="80"
			[datasets]="barChartAreaData"
			[labels]="barChartAreaLabels"
			[options]="barChartAreaOptions"
			[legend]="barChartAreaLegend"
			[chartType]="barChartSLAType">
		</canvas>
	</po-widget>
</po-page-default>

<!-- Modal de confirmação de processamento -->
<po-modal #modalProcessarHist
	p-title="{{ litSLA?.modal.titleProcessar }}"
	[p-primary-action]="processar"
	[p-secondary-action]="cancelar">
	{{ litSLA?.modal.msgAlerta }}
</po-modal>

<!-- Modal de confirmação de ignorar WF inconsistentes no Fluig -->
<po-modal #modalIgnoraWFIncons
	p-title="{{ litSLA?.modal.titleProcessar }}"
	[p-primary-action]="sim"
	[p-secondary-action]="nao">
	{{ msgIgnorarWf }} {{ litSLA?.modal.confirmIgnora }}
</po-modal>