a:hover {  text-decoration: underline}
a:link {  text-decoration: none}
a:active {  text-decoration: none}


.texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;


}

.links { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #003366; text-decoration: none ; font-weight: normal}

.links2 {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #003366; text-decoration: none ; font-weight: normal
}

.texto2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #990000;
	text-decoration: none;
	font-weight: normal;

}

.combo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #333333;
	margin: 1px;
	padding: 1px;
}

.textoBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #990000;
	text-decoration: none;
	text-align: justify;
	font-weight: bold;

}
.titulo1 {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1A6CBD;
	text-decoration: none;
	font-weight: bold;
}
.esilp {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #990000;
	text-decoration: none;
	text-align: justify;
	font-weight: bold;
}
.esilp2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000066;
	text-decoration: none;
	text-align: justify;
	font-weight: bold;
	font-style: italic;

}
.combo2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	height: auto;
	border: 1px solid #003366;

}
.textoimprimir {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.esilpimprimir2 {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	font-weight: bold;
}
.texto2bold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #015D89;
	text-decoration: none;
	font-weight: bold;
}
.linkshome {

font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #535355; text-decoration: none ; font-weight: normal
}
.linkshome2 {


font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #006699; text-decoration: none ; font-weight: bold
}
.bymakira {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4D7194;
	text-decoration: none;
	text-align: left;
}
.linkmakira {


font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #4D7194; text-decoration: none ; font-weight: normal
}
.texto3bold {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.links3 {

font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #990000; text-decoration: none ; font-weight: normal
}

.TarjaTopoLogin {

	text-decoration: none;
	background-color: #426285;
	height: 6px;
}
.FundoLogin {
	text-decoration: none;
	background-color: #829AB3;

}

.TituloLogin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
	font-weight: normal;


}
.tituloLoginGde {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #E8ECF0;
	text-decoration: none;
	font-weight: bold;
}
.linksLogin {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.Botoes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	margin: 2px;
	padding: 2px;
	cursor: hand;
	border: 1px solid #000000;

}
