<meta charset="utf-8">
<po-page-detail
	[p-breadcrumb]="breadcrumb"
	p-title="{{ litDetCont?.title }}">
	<po-loading-overlay
		p-screen-lock="true"
		[hidden]="isLoadingContrato"
		p-text="{{ litDetCont?.loadPagInic }}" >
	</po-loading-overlay>
	<div id="cntdetalhes">
		<po-stepper #stepper class="po-mb-2">
			<po-step p-label="Envolvido">
				<div class="po-offset-lg-2 po-offset-xl-2 po-lg-8 po-md-11 juriLoadingCover">
					<form [formGroup]="formEnvolvido">
						<div class="po-mt-2 po-pl-5 po-row">
							<po-switch class="po-lg-3" #principal
								name="principal"
								p-label="{{ litDetCont?.envolvido.principal }}"
								p-label-on="{{ btnPrincipalOn }}"
								p-tooltip="{{litDetCont?.tooltipPrinci}}"
								p-tooltip-position="left"
								p-label-off="{{ btnPrincipalOff }}"
								formControlName="principal">
							</po-switch>
							
							<po-radio-group #tipoEnvolvido
								class="po-lg-4 po-mb-2"
								name="tipoEnvolvido"
								p-label="{{ litDetCont?.envolvido.tpEnvolvimento }}"
								p-tooltip-position="right"
								p-tooltip="{{litDetCont?.tooltipTpEnv}}"
								p-required="false"
								formControlName="tipoEnvolvido"
								[p-options]="listTpEnvolvidos">
							</po-radio-group>
						</div>
						
						<div class="po-pl-5 po-row">
							<po-combo #envolvidoOrigem class="po-lg-3" 
								[(ngModel)]="origem"
								name="origem"
								p-label="{{ litDetCont?.envolvido.origem }}"
								[p-options]="listEntOrigem"
								formControlName="origem"
								(p-change)="setComboNomeOrigem($event)">
							</po-combo>

							<po-combo #nomeEnvolvido class="po-lg-5 "
								name="nomeEnvolvido"
								p-label="{{ litDetCont?.envolvido.nomeEnvolvido }}"
								(p-change)="incluiCpfCnpj()"
								(keydown)="validaOutros($event)"
								formControlName="nomeEnvolvido"
								[p-filter-service]="nomeEnvAdapterService"
								p-debounce-time="500"
								p-disabled-init-filter=false>
							</po-combo>

							<po-input #cmpCpfCnpj
								class="po-lg-3 po-mb-3"
								p-label=" {{ litDetCont?.cpfCnpj}}"
								formControlName="cpfcnpj"
								[p-disabled]="isDisableCpfCnpj"
								p-optional="true">
							</po-input>
						</div>
					</form>
					
					<div class="po-row po-mb-4" style="justify-content: flex-end;">
						<po-button class="po-pull-right po-mr-1"
							p-small="false"
							p-label="{{ litDetCont?.limpar}}"
							(p-click)="clrFormEnvolvido()">
						</po-button>

						<po-button class="po-pull-right"
							p-small="false"
							p-label="{{ btnIncAltEnvolvido }}"
							(p-click)="incluiEnvolvido()">
						</po-button>
					</div>
				</div>

				<po-widget class="po-mt-4 juriLoadingCover" *ngIf="listItemsEnv.length>0">
					<po-table 
						[p-columns]="colEnvolvidos"
						[p-items]="listItemsEnv" p-striped="true" p-sort="false">	
					</po-table>
				</po-widget>

				<div class="po-mt-2" *ngIf="listItemsEnv.length>0">
					<div class="po-pull-right">
						<po-button
							p-small="false"
							p-label="{{ litDetCont?.cancelar }}"
							(p-click)="callHome()">
						</po-button>
						<po-button class="btn po-ml-1"
							p-type="default"
							p-label="{{ litDetCont?.envolvido.proxStepDetalhe }}"
							p-type="primary"
							(p-click)="beforeSubmit(stepper,false)">
						</po-button>
					</div>
				</div>
			</po-step>

			<po-step p-label="Detalhe">
				<form [formGroup]="formContrato">
					<div class="po-offset-lg-2 po-offset-xl-2 po-lg-8 juriLoadingCover">
						<po-datepicker class="po-lg-3 po-ml-3 po-mt-2"
							name="dataEntrada"
							p-label="{{ litDetCont?.detalhes.dataEntrada }}"
							formControlName="dataEntrada">
						</po-datepicker>
						
						<po-combo class="po-pull-right po-lg-5  po-mt-2"
							name="areaSolicitante"
							p-label="{{ litDetCont?.detalhes.areaSolicitante }}"
							[p-filter-service]='fwModelAdaptorService'
							[p-filter-params]="adaptorParamArea"
							formControlName="areaSolicitante">
						</po-combo>

						<div class="po-row">
							<po-combo #comboUnidade
								class="po-lg-12 po-ml-3 po-mt-1"
								name="unidade"
								p-label="{{ litDetCont?.detalhes.unidade }}"
								[p-filter-service]='fwModelAdaptorService'
								[p-filter-params]="adaptorParamUnidade"
								formControlName="unidade">
							</po-combo>

							<po-combo class="po-lg-12 po-ml-3 po-mt-1"
								name="tipoContrato"
								p-label="{{ litDetCont?.detalhes.tipoContrato }}"
								[p-filter-service]='fwModelAdaptorService'
								[p-filter-params]="adaptorParamTpContrato"
								formControlName="tipoContrato">
							</po-combo>

							<po-input class="po-lg-12 po-ml-3 po-mt-1"
								name="numContrato"
								p-label="{{ litDetCont?.detalhes.numeroContrato }}"
								p-placeholder="Digite o número do contrato."
								formControlName="numContrato">
							</po-input>
						</div>
						<div class="po-ml-3 po-mt-1">
							<po-combo class="po-lg-4"
								name="responsavel"
								p-label="{{ litDetCont?.detalhes.advogado }}"
								[p-filter-service]='fwModelAdaptorService'
								[p-filter-params]="adaptorParamRespons"
								formControlName="responsavel">
							</po-combo>

							<po-input class="po-pull-right po-lg-8"
								name="solicitante"
								p-label="{{ litDetCont?.detalhes.solicitante }}"
								p-clean="true"
								formControlName="solicitante">
							</po-input>
						</div>

						<po-datepicker class="po-lg-4 po-ml-3 po-mt-1"
							name="iniVigencia"
							p-label="{{ litDetCont?.detalhes.dtIniVigencia }}"
							formControlName="iniVigencia">
						</po-datepicker>

						<po-datepicker class="po-lg-4 po-ml-3 po-mt-1"
							name="fimVigencia"
							p-label="{{ litDetCont?.detalhes.dtFimVigencia }}"
							formControlName="fimVigencia">
						</po-datepicker>
							
						<po-switch class="po-pull-right po-mt-1 po-mr-2"
							name="renovaAuto"
							p-label="{{ litDetCont?.detalhes.renovaAutoma }}"
							p-label-on="Sim"
							p-label-off="Não"
							formControlName="renovaAuto">
						</po-switch>

						<po-decimal class="po-ml-3 po-lg-4 po-mt-1"
							name="vlrContrato"
							p-label="{{ litDetCont?.detalhes.vlrContrato }}"
							formControlName="vlrContrato"
							p-maxlength=11
							p-thousand-maxlength="10"
							p-placeholder="{{ litDetCont?.detalhes.simboloMoeda }}"
							p-optional="true"
							(p-change)="setCampoMoeda($event)">
						</po-decimal>
						
						<po-combo class="po-lg-3 po-ml-3 po-mt-1"
							name="fCorrecao"
							p-label="{{ litDetCont?.detalhes.formaCorrecao }}"
							[p-filter-service]='fwModelAdaptorService'
							[p-filter-params]="adaptorParamFormCorrec"
							formControlName="fCorrecao"
							p-optional="true">
						</po-combo>
						
						<po-input class="po-pull-right po-lg-4 po-mt-1"
							name="formPagamento"
							p-clean="true"
							p-label="{{ litDetCont?.detalhes.formaPagamento }}"
							formControlName="formPagamento">
						</po-input>

						<po-textarea
							class="po-lg-12 po-ml-3 po-mt-2 helpInLine"
							[p-maxlength]='250'
							p-label="{{ litDetCont?.detalhes.objetivoLabel }}"
							p-help= "{{ litDetCont?.detalhes.limiteHelp }}"
							formControlName="objContrato"
							p-placeholder="{{ litDetCont?.detalhes.objetivoHolder }}"
							p-optional="true">
						</po-textarea>

						<po-textarea
							class="po-lg-12 po-ml-3 po-mt-2 helpInLine"
							[p-maxlength]='250'
							p-label="{{ litDetCont?.detalhes.observacaoLabel }}"
							p-help= "{{ litDetCont?.detalhes.limiteHelp }}"
							formControlName="observacoes"
							p-placeholder="{{ litDetCont?.detalhes.observacaoHolder }}"
							p-optional="true">
						</po-textarea>
					</div>
				</form>

				<div class="po-row po-mt-4" style="justify-content: flex-end;">
					<po-button class="po-pull-right po-mt-4 po-mr-1"
						p-small="false"
						p-label="{{ litDetCont?.detalhes.voltarStepEnvol }}"
						(p-click)="stepper.previous()">
					</po-button>
					
					<po-button class="btn po-pull-right po-mt-4 po-mr-0"
						p-type="default"
						p-label="{{ litDetCont?.concluir }}"
						p-type="primary"
						[p-loading]="!isLoadIncluContrato"
						(p-click)="submitContrato()">
					</po-button>
				</div>
			</po-step>
		</po-stepper>
	</div>

	<!-- MODAL PARTE CONTRÁRIA -->
	<po-modal #validaIncPartCon
		p-title="{{ litDetCont?.modalOutros.incluirOutros }}"
		[p-primary-action]="incluir"
		[p-secondary-action]="fechar">
		{{ litDetCont?.modalOutros.subTitulo1 }} {{nomePartCont}} {{ litDetCont?.modalOutros.subTitulo2 }} 
	</po-modal>

	<po-modal #incPartContraria
		p-title="{{ litDetCont?.modalOutros.incluirOutros }}"
		[p-primary-action]="confirmar"
		[p-secondary-action]="cancelar">

		<po-container class="po-lg-12 po-mb-2 po-mt-2"p-no-border="true" style="padding: 2px">
			<form [formGroup]="formParteCont">
				<div class="po-row">
					<po-input class="po-lg-8"
						p-label="{{ litDetCont?.modalOutros.nome }}"
						formControlName="nomePtContraria"
						p-optional="false">
					</po-input>
		
					<po-select class="po-lg-4 po-md-3"
						p-label="{{ litDetCont?.modalOutros.tpPessoa }}"
						[p-options]="listTpPessoa"
						formControlName="tpPessoa">
					</po-select>
				</div>
		
				<div class="po-row">
					<po-input class="po-lg-5"
						p-label="{{ litDetCont?.cpfCnpj }}"
						formControlName="cpfcnpjPtCont">
					</po-input>
		
					<po-email class="po-lg-7"
						p-label="{{ litDetCont?.modalOutros.email }}"
						formControlName="email">
					</po-email>
				</div>
			</form>
		</po-container>
	</po-modal>
</po-page-detail>