<po-page-default 
	[p-breadcrumb]="breadcrumb" 
	[p-title]="titleDet">

	<form [formGroup]="formUnidade" class="po-mb-2">

		<po-container p-no-shadow="true" class="juriLoadingCover po-lg-12 po-pr-0 po-pl-0">
			<!-- loading -->
			<po-loading-overlay *ngIf="!isHideLoadingUnidade"
				p-screen-lock="true"
				[hidden]="isHideLoadingUnidade"
				p-text="{{ litDetUnidade?.carregando }}" >
			</po-loading-overlay>
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				<!-- Codigo -->
				<div class="po-lg-2 form-group">
					<po-input	
						p-label="{{ litDetUnidade?.form.codigo }}"
						name="codigo"
						p-maxlength="6"
						p-disabled="true"
						formControlName="codigo">
					</po-input>
				</div>
				
				<!-- Razao social -->
				<div class="po-lg-6 form-group">
					<po-input	
						p-label="{{ litDetUnidade?.form.razaoSocial }}"
						name="razaoSocial"
						p-maxlength="40"
						formControlName="razaoSocial">
					</po-input>
				</div>

				<!-- Nome fantasia -->
				<div class="po-lg-4 form-group">
					<po-input	
						p-label="{{ litDetUnidade?.form.nomeFantasia }}"
						name="nomeFantasia"
						p-maxlength="20"
						formControlName="nomeFantasia">
					</po-input>
				</div>
			</div>
			
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				
				<!-- Tipo de Pessoa-->
				<po-radio-group #tipoPessoa
					class="po-lg-4 po-mb-2"
					name="tpPessoa"
					p-label="{{ litDetUnidade?.form.tpPessoa }}"
					p-tooltip-position="right"
					p-optional="true"
					formControlName="tpPessoa"
					[p-options]="listTpPessoa">
				</po-radio-group>

				<!-- CNPJ/CPF -->
				<div class="po-lg-4 form-group">
					<po-input	
						p-label="{{ litDetUnidade?.form.cgc }}"
						name="cgc"
						p-maxlength="14"
						p-optional="true"
						formControlName="cgc">
					</po-input>
				</div>
				<!-- Tipo -->
				<po-combo #tipo class="po-lg-4" 
					name="tipo"
					p-label="{{ litDetUnidade?.form.tipo }}"
					[p-options]="listTipo"
					formControlName="tipo">
				</po-combo>
			</div>

			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">

				<!-- Socio -->
				<div class="po-lg-5 form-group">
					<po-combo 
						name="socioResp"
						p-label="{{ litDetUnidade?.form.socioResp }}"
						[p-filter-service]='fwModelAdaptorService'
						[p-filter-params]="filtroSocio"
						formControlName="socioResp">
					</po-combo>
				</div>
				<!-- status -->
				<po-radio-group #status
					class="po-lg-3 po-mb-2"
					name="status"
					p-label="{{ litDetUnidade?.form.status }}"
					p-tooltip-position="right"
					formControlName="status"
					[p-options]="listStatus">
				</po-radio-group>

				<!-- Nire -->
				<div class="po-lg-4 form-group">
					<po-input	
						p-label="{{ litDetUnidade?.form.nire }}"
						name="nire"
						p-maxlength="11"
						p-optional="true"
						formControlName="nire">
					</po-input>
				</div>
			</div>
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">

				<!-- email -->
				<div class="po-lg-8 form-group">
					<po-input	
						p-label="{{ litDetUnidade?.form.email }}"
						name="email"
						p-maxlength="30"
						p-optional="true"
						formControlName="email">
					</po-input>
				</div>

				<!-- telefone -->
				<div class="po-lg-4 form-group">
					<po-input	
						p-label="{{ litDetUnidade?.form.telefone }}"
						name="telefone"
						p-maxlength="15"
						p-optional="true"
						formControlName="telefone">
					</po-input>
				</div>
			</div>
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				<!-- estado -->
				<div class="po-lg-4 form-group">
					<po-combo
						[(ngModel)]="estado"
						p-change-on-enter="true"
						name="estado"
						p-label="{{ litDetUnidade?.form.estado }}"
						[p-options]="listEstados"
						formControlName="estado"
						(p-change)="setEstado($event)">
					</po-combo>
				</div>
				<!-- cidade -->
				<div class="po-lg-4 form-group">
					<po-combo 
						[(ngModel)]="cidade"
						name="cidade"
						p-label="{{ litDetUnidade?.form.cidade }}"
						p-change-on-enter="true"
						[p-disabled]="isDisableMunicipio"
						p-icon="po-icon-search"
						formControlName="cidade"
						[p-filter-service]="cidadeAdapterService"
						[p-filter-params]="estado"
						p-debounce-time="500"
						p-disabled-init-filter="false">
					</po-combo>
				</div>
				<!-- cep -->
				<div class="po-lg-4 form-group">
					<po-input	
						p-label="{{ litDetUnidade?.form.cep }}"
						name="cep"
						p-maxlength="8"
						p-optional="true"
						formControlName="cep">
					</po-input>
				</div>
				
			</div>
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				<!-- endereco -->
				<div class="po-lg-12 form-group">
					<po-input	
						p-label="{{ litDetUnidade?.form.endereco }}"
						name="endereco"
						p-maxlength="80"
						formControlName="endereco">
					</po-input>
				</div>
			</div>
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				<po-textarea
					name="observacao"
					class="form-group po-lg-12"
					p-label="{{ litDetUnidade?.form.observacao }}"
					[p-rows]="2"
					p-optional="true"
					formControlName="observacao">
				</po-textarea>
			</div>
			
		</po-container>	
	</form>

	<!-- Botões -->
	<po-container p-no-border="true">
		<div class="po-pull-right">
			<!-- Cancelar -->
			<po-button class="btn"
				p-label="{{ litDetUnidade?.btn.btnCancelar }}"
				(p-click)="onCancel()">
			</po-button>

			<!-- Excluir -->
			<po-button class="btn"
				p-label="{{ litDetUnidade?.btn.btnExcluir }}"
				[p-disabled]="bOperacaoInclusao"
				(p-click)="excluiModal.open()">
			</po-button>
			
			<po-modal #excluiUnidade
				p-title="{{ litDetUnidade?.modal.titleExclusao }}"
				[p-primary-action]="excluir"
				[p-secondary-action]="fechar">
				{{ litDetUnidade?.modal.exclusao }}
			</po-modal>

			<!-- Incluir/Alterar -->
			<po-button class="btn"
				p-type="default"
				p-label="{{ litDetUnidade?.btn.btnSalvar }}"
				p-type="primary"
				[p-loading]= "loadingBtnsave"
				(p-click)="submitUnidade()">
			</po-button>
		</div>
	</po-container>

</po-page-default>





