<po-page-default
	p-title = "{{litPageCadastros?.page.title}}"
	[p-breadcrumb]="breadcrumb">

	<div class="po-row">

		<po-input class="po-lg-4 po-pl-0"
			p-icon="po-icon-search"
			[name]="filter"
			p-placeholder="{{litPageCadastros?.page.searchPlaceHolder}}"
			(p-change-model)="filter = $event"
			(p-change)="filter = $event"
			(p-enter)="filter = $event"
			p-clean="true">
		</po-input>
	</div>

	<div class="po-mt-2">
		<po-list-view
			p-property-title="name"
			p-property-link="showAll"
			[p-items]="itemList | filterByDescription: filter"
			[p-actions]="actions">
			<ng-template p-list-view-content-template let-item>
				<div class='po-mt-0 po-row'>
					<p class='po-lg-12 po-font-text-small'>{{item.descricao}}</p>
				</div>
			</ng-template>
		</po-list-view>
	</div>
	
</po-page-default>