<po-page-default
	[p-breadcrumb]="breadCrumb"
	p-title="{{ litDistribuicao.breadCrumb.distribuicao }}"
>
	<form [formGroup]="formFiltrar">
		<div class="{{ hasHidePeriodo ? 'po-lg-12 po-pl-0' : '' }}">
			<!-- Select de períodos -->
			<po-select
				class="po-lg-2 po-pl-0"
				name="atalhoData"
				formControlName="atalhoData"
				p-label="{{ litDistribuicao.filtroDistri.atalhoData }}"
				p-tooltip="{{ tooltipAtalhoData }}"
				(p-change)="getSugestData()"
				[p-disabled]="isDisableBtnAtalho"
				[p-options]="listAtalhoData"
			>
			</po-select>

			<!-- Data inicial -->
			<po-datepicker
				*ngIf="hasHidePeriodo"
				class="po-lg-2"
				name="dataInicial"
				formControlName="dataInicial"
				(p-change)="validBtnAdicFiltro()"
				p-clean="true"
				p-label="{{ litDistribuicao.filtroDistri.dataInicial }}"
			>
			</po-datepicker>

			<!-- Data final -->
			<po-datepicker
				*ngIf="hasHidePeriodo"
				class="po-lg-2"
				name="dataFinal"
				formControlName="dataFinal"
				(p-change)="validBtnAdicFiltro()"
				p-clean="true"
				p-label="{{ litDistribuicao.filtroDistri.dataFinal }}"
			>
			</po-datepicker>

			<!-- Adicionar filtro -->
			<po-button
				*ngIf="hasHidePeriodo"
				class="po-lg-2 po-mt-4"
				name="adicDisclaimer"
				p-type="primary"
				[p-disabled]="isDisableBtnAdicao"
				(p-click)="adicionaDisclaimer()"
				p-label="{{ litDistribuicao.filtroDistri.adicDisclaimer }}"
			>
			</po-button>
		</div>

		<!-- Input de Filtro por palavra chave -->
		<po-input
			class="po-lg-4 po-pl-0"
			name="palavraChave"
			p-icon="po-icon-search"
			formControlName="palavraChave"
			p-label="{{ litDistribuicao.filtroDistri.palavraChave }}"
			p-placeholder="{{ litDistribuicao.filtroDistri.pChaveHolder }}"
			(keyup.enter)="adicionaDisclaimer()"
			(p-change)="adicionaDisclaimer()"
			p-clean="true"
		>
		</po-input>

		<!-- Select de Status -->
		<po-multiselect
			class="po-lg-2"
			name="status"
			formControlName="status"
			p-label="{{ litDistribuicao.filtroDistri.status }}"
			(p-change)="validStatus()"
			[p-options]="listStatus"
		>
		</po-multiselect>

		<div class="po-lg-12 po-pl-0 po-mt-1 po-mb-2">
			<po-disclaimer-group [p-disclaimers]="disclaimers" (p-change)="changeFilters()">
			</po-disclaimer-group>
		</div>
	</form>

	<!-- Tabela de Distribuições-->
	<po-widget
		class="po-row juriLoadingCover"
		(window:resize)="onHeightTela()"
		p-no-shadow="true"
		[p-height]="nHeightMonitor"
	>
		<div>
			<po-loading-overlay
				p-screen-lock="true"
				[hidden]="hideLoadingDistr"
				p-text="{{ litDistribuicao.loading }}"
			>
			</po-loading-overlay>
			<po-table
				*ngIf="hasFiltro"
				[p-columns]="colDistribuicoes"
				[p-items]="listDistribuicao"
				p-selectable="true"
				p-sort="true"
				p-striped="true"
				(p-show-more)="showMore()"
				[p-show-more-disabled]="isDisabledShowMore"
				p-hide-text-overflow="true"
				(p-selected)="markReg($event)"
				(p-unselected)="unmarkReg($event)"
				(p-all-selected)="markAllReg()"
				(p-all-unselected)="unmarkAllReg()"
			>
			</po-table>
		</div>

		<div *ngIf="!hasFiltro">
			<div class="po-text-center po-page-change-password-required-title">
				{{ litDistribuicao?.tableDistri.semFiltro }}
			</div>

			<img
				src=".\assets\ImgNotFound.svg"
				class="po-modal-password-recovery-user-image po-mt-2"
			/>
		</div>
	</po-widget>

	<div class="po-mt-2">
		<!-- importar -->
		<po-button
			class="po-lg-2 po-pl-0"
			name="importar"
			p-type="primary"
			p-label="{{ litDistribuicao.importar }}"
			(p-click)="importarSelecionados()"
			[p-disabled]="!canImport"
		>
		</po-button>

		<!-- Excluir distribuição -->
		<po-button
			class="po-lg-2"
			name="excluir"
			[p-disabled]="isDisableBtnExclui"
			(p-click)="deleteDistr()"
			p-label="{{ litDistribuicao.excluir }}"
		>
		</po-button>

		<h2
			*ngIf="nQtdDistribuicao > 0"
			class="po-font-text-small po-pull-right"
			style="text-align: right;"
		>
			{{ nQtdDistribuicao + litDistribuicao?.qtdDistribuicao }}
		</h2>
	</div>
</po-page-default>
