<po-page-default
	[p-breadcrumb]="breadcrumb"
	p-title="">

	<!-- Cabeçalho do perfil -->
	<po-widget class="po-lg-12 po-pl-0 po-pr-0 juriLoadingCover"
		p-primary-label="{{ litDetUsuario?.wdgPerfil.altSenha }}"
		p-secondary-label="{{ altStatus }}"
		(p-primary-action)="openAlteraSenha()"
		(p-secondary-action)="openAtivDesativUsr()"
		>

		<!-- Loading perfil -->
		<po-loading-overlay
			p-screen-lock="false" 
			[hidden]="isHideLoadingInfoUsr" 
			p-text="{{ litDetUsuario?.carregando }}">
		</po-loading-overlay>

		<!-- Avatar -->
		<div class="po-lg-2 po-pl-2 po-mt-1">
			<po-avatar 
				p-size="xl" 
				p-src=""> 
			</po-avatar>
		</div>
		
		<div class="po-lg-8 po-mt-2">
			<!-- Primeira coluna -->
			<div class="po-lg-6">
				<!-- Nome -->
				<div class="po-font-subtitle po-lg-8 po-mt-2 po-pl-0">
					<strong>{{ formPartic.value.nome }}</strong>
				</div>
				<div class="po-row">
					<div class="po-mt-2">
						<!-- E-mail -->
						<p> <span class="po-icon {{ 'po-icon-mail' }}">
							</span> {{formPartic.value.email }} 
						</p>
						<!-- Data de admissão -->
						<p> <span class="po-icon {{ 'po-icon-calendar' }}">
							</span> {{ litDetUsuario?.wdgPerfil.dtAdm }}: {{perfilDataDtAdm }}
						</p>
					</div>
				</div>
			</div>
			
			<!-- Segunda coluna -->
			<div class="po-lg-6 po-mt-2 po-offset-lg-3">
				<!-- Tipo de participante -->
				<p> 
					<span class="po-icon {{ 'po-icon-user' }}"></span> 
					<strong> {{ litDetUsuario?.wdgPerfil.tpUsuario }}</strong>
				</p>
				<p>
					{{perfilDataTipo }} 
				</p>
				<!-- Status -->
				<div class="po-lg-12 po-pl-0 po-mt-3">
					<po-tag
						p-value="{{ perfilDataStatus }}"
						[p-type]="perfilDataStatus === 'Ativo' ? 'success' : 'danger'">
					</po-tag>
				</div>
			</div>
		</div>

		<!--Botão editar dados participante-->
		<div class="po-row po-lg-2 po-mt-2" style="justify-content: flex-end;">
			<po-button
				class=" po-pull-right"
				p-small="false"
				p-label="{{ litDetUsuario?.btn.editar }}"
				[p-disabled]="isDisabledEdit"
				(p-click)="openEdit()">
			</po-button>
		</div>

	</po-widget>

	<!-- Formulário -->
	<form [formGroup]="formPartic">

		<po-container *ngIf="isEditPart" p-no-border="false" 
			class="juriLoadingCover po-lg-12 po-pr-0 po-pl-0 po-mt-2">
			<!-- loading -->
			<po-loading-overlay
				p-screen-lock="true"
				[hidden]="isHideLoadingInfoUsr"
				p-text="{{ litDetUsuario?.carregando }}" >
			</po-loading-overlay>
			<!-- Primeira linha -->
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				<!-- Nome -->
				<po-input class="po-lg-6 po-pl-0"
					p-label="{{ litDetUsuario?.edit.nome }}"
					p-maxlength="30"
					formControlName="nome">
				</po-input> 

				<!-- Tipo 1-Interno/ 2-Externo -->
				<po-combo 
					class="po-lg-4"
					name="tipo"
					p-label="{{ litDetUsuario?.edit.tipo}}"
					[p-options]="listTpPartic"
					formControlName="tipo">
				</po-combo> 
				
				<!-- Sigla -->
				<po-input class="po-lg-2 po-pr-0"
					p-label="{{ litDetUsuario?.edit.sigla }}"
					formControlName="sigla"
					p-maxlength="5">
				</po-input> 
			</div>
			<!-- Segunda linha -->
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				<!-- E-mail -->
				<po-input class="po-lg-6 po-pl-0"
					p-label="{{ litDetUsuario?.edit.email }}"
					formControlName="email"
					p-maxlength="60"
					p-optional="true">
				</po-input> 

				<!-- Apelido -->
				<po-input class="po-lg-6 po-pr-0"
					p-label="{{ litDetUsuario?.edit.apelido }}"
					formControlName="apelido"
					p-maxlength="50"
					p-optional="true">
				</po-input> 
			</div>

			<!-- Terceira linha -->
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">

				<!-- Número OAB -->
				<po-input class="po-lg-3 po-pl-0"
					p-label="{{ litDetUsuario?.edit.nOAB }}"
					formControlName="nOAB"
					p-maxlength="20"
					p-optional="true">
				</po-input> 

				<!-- Data admissao -->
				<po-datepicker
					class="po-lg-3"
					name="dtAdm"
					p-label="{{ litDetUsuario?.edit.dtAdm }}"
					formControlName="dtAdm"
					p-optional="true">
				</po-datepicker>
			</div>

			<!--Botões de ação Envolvidos-->
			<div class="po-row po-mt-2" style="justify-content: flex-end;">
				<!-- Cancelar -->
				<po-button
					class=" btn po-pull-right"
					p-type="secondary"
					p-small="false"
					p-label="{{ litDetUsuario?.btn.cancelar }}"
					(p-click)="closeEdit()">
				</po-button>

				<!-- Salvar -->
				<po-button
					class=" btn po-pull-right"
					p-type="primary"
					p-small="false"
					p-label="{{ litDetUsuario?.btn.salvar }}"
					(p-click)="updatePartic()"
					[p-loading]= "loadingSalvar">
				</po-button>
			</div>
		</po-container>
	</form>

	<!-- Widget grupos -->
	<po-widget
		class="po-lg-3 po-pl-0 po-mt-2 juriLoadingCover"
		p-height="250"
		p-title="{{ litDetUsuario?.grupos.title }}"
		p-primary-label="{{ litDetUsuario?.grupos.gerenciar }}"
		p-secondary-label="{{ litDetUsuario?.grupos.associar }}"
		(p-primary-action)="openGrupos('gerenciar')"
		(p-secondary-action)="openGrupos('associar')"
	>
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadGrupos"
			p-text="{{ litDetUsuario?.carregando }}">
		</po-loading-overlay>
		<div class="po-font-display po-button-link po-text-center">{{ nGrupos}}</div>
	</po-widget>

	<!-- Modal de alteração de senha -->
	<po-modal #modAlteraSenha
		p-title="{{ litDetUsuario?.modAltSenha.title }}" 
		[p-primary-action]="confirmAlt" 
		[p-secondary-action]="cancel">
		<form [formGroup]="formAltSenha">
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				<!-- Login usuário -->
				<div class="po-row">
					<po-input class="po-lg-12 po-pl-0"
						p-label="{{ litDetUsuario?.modAltSenha.login }}"
						formControlName="login"
						p-maxlength="25"
						p-disabled=true>
					</po-input> 
				</div>

				<!-- Nova senha -->
				<div class="po-row">
					<po-password class="po-lg-12 po-pl-0"
						p-label="{{ litDetUsuario?.modAltSenha.nova }}"
						formControlName="nova"
						p-maxlength="25">
					</po-password> 
				</div>	

				<!-- Confirmar nova senha -->
				<div class="po-row">
					<po-password class="po-lg-12 po-pl-0"
						p-label="{{ litDetUsuario?.modAltSenha.confirmar }}"
						formControlName="confirmar"
						p-maxlength="25">
					</po-password> 
				</div>
			</div>
		</form>
	</po-modal>

	<!-- Modal de confirmação Ativar/ Desativar usuário -->
	<po-modal #modAtivDesativUsr
		p-title="{{ titleAtivDesativUsr }}"
		[p-primary-action]="confirmAtivDesativUsr"
		[p-secondary-action]="cancel">
		{{ msgAtivDesativUsr }}
	</po-modal>

</po-page-default>
