<po-page-default 
	[p-breadcrumb]="breadcrumb" 
	[p-title]="titleDet">

	<form [formGroup]="formTpContrato" class="po-mb-2">

		<po-container p-no-shadow="true">
			<!-- Campo de descrição do tipo de contrato -->

			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">

				<div class="po-lg-4 form-group">
					<po-input	
						p-label="{{ litDetTpContrato?.tipoContrato }}"
						name="tipoContrato"
						formControlName="tipoContrato">
					</po-input>
				</div>
			</div>

			<!-- Combo de motivo de cancelamento -->
			<div class="po-row po-lg-10 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				<div class="po-lg-6 form-group"> 
					<po-combo 
						name="motCancela"
						formControlName="motCancela"
						p-label="{{ litDetTpContrato?.motCancela }}"
						[p-filter-service]='fwModelAdaptorService'
						[p-filter-params]="adaptorParamMotCancela"
						p-icon="po-icon-search"
						p-help="{{ litDetTpContrato?.help.motCancela }}">
					</po-combo>
				</div>
			</div>

			<!-- Combo de minuta -->
			<div class="po-row po-lg-10 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				<div class="po-lg-6 form-group"> 
					<!-- Ao preencher este campo o container de upload deve ser desbilitado-->
					<po-combo
						name="minuta"
						formControlName= "minuta"
						p-label="{{ litDetTpContrato?.minuta }}"
						[p-filter-service]='fwModelAdaptorService'
						[p-filter-params]="adaptorParamMinuta"
						(p-change-on-enter)="true"
						p-icon="po-icon-search"
						p-help="{{ litDetTpContrato?.help.minutas }}"
						(p-change) = "getDescMinuta($event)"
						(change)="onChange($event)"
						>
					</po-combo>
				</div>
			</div>

			<!-- Botões -->
			<div class="po-row po-lg-10 po-offset-lg-2 po-offset-xl-2"
					p-no-border="false">

				<div class=" po-ml-1 form-group">
					<po-button  
						p-label="{{ litDetTpContrato?.btnBaixar }}"
						(p-click)="baixaMinuta()"
						[p-disabled]="bBaixaMinuta">
					</po-button>
				</div>
					
				<div class=" po-ml-1 form-group"> 
					<po-button
						p-label="Nova Minuta"
						(p-click)="novaMinuta()" >
					</po-button>
				</div>

				<div class=" po-ml-1 form-group"> 
					<po-button 
						p-label="Atualizar Minuta"
						(p-click)="atualizaMinuta()"
						p-disabled="{{bBaixaMinuta}}" >
					</po-button>
				</div>
	
			</div>

			<div class= "po-lg-12 po-mb-3">
				<po-upload #docUpload
					class="po-offset-lg-2 po-offset-xl-2 uploadDoc"
					name="docUpload" 
					[p-url]="url"
					[p-restrictions]="fileRestrinctions"
					p-multiple="false"
					p-hide-send-button="true"
					p-hide-restrictions-info="true"
					p-hide-select-button="true"
					(p-success)="uploadSuccess($event)"
					(p-error)="uploadError($event)"
					>
				</po-upload>
			</div>

		</po-container>	
	</form>


	<!-- Botões -->
	<po-container p-no-border="true">
		<div class="po-pull-right">
				<!-- Cancelar -->
				<po-button class="btn"
					p-label="{{ litDetTpContrato?.btnCancelar }}"
					(p-click)="onCancel()">
				</po-button>

				<!-- Excluir -->
				<po-button class="btn"
					p-label="{{ litDetTpContrato?.btnExcluir }}"
					[p-disabled]="bOperacaoInclusao"
					(p-click)="excluiModal.open()">
				</po-button>
				
				<po-modal #excluiTpContrato
					p-title="{{ litDetTpContrato?.titleExclusao }}"
					[p-primary-action]="excluir"
					[p-secondary-action]="fechar">
					{{ litDetTpContrato?.exclusao }}
				</po-modal>

				<!-- Incluir/Alterar -->
				<po-button class="btn"
					p-type="default"
					p-label="{{ litDetTpContrato?.btnSalvar }}"
					p-type="primary"
					[p-loading]= "loadingBtnsave"
					(p-click)="confirmVerify()">
				</po-button>
			</div>
	</po-container>

</po-page-default>





