<po-page-default
	[p-title]="pageTitle"
	[p-breadcrumb]="breadcrumb">
	
	<!-- Pesquisar usuário -->
	<po-input class="po-lg-4 po-pl-0"
		p-icon="po-icon-search"
		[name]="filter"
		p-placeholder="{{litGruposUsu?.searchPlaceHolder}}"
		(p-change-model)="filter = $event"
		(p-change)="filter = $event"
		(p-enter)="filter = $event"
		p-clean="true">
	</po-input>

	<div class="po-pull-right po-mt-1 po-mb-2 po-pr-1">
		<!-- Botão Criar novo usuário -->
		<po-button
			(p-click)="openGrupo()"
			p-label="{{ litGruposUsu?.btnNovoGrupo }}" 
			p-icon="po-icon-plus"
			p-type="primary">
		</po-button>
	</div>

	<div class="po-row po-mt-2 juriLoadingCover">
		<po-loading-overlay
			p-screen-lock="true" 
			[hidden]="isHideLoadingGrupos" 
			p-text="{{ litGruposUsu?.carregando }}">
		</po-loading-overlay>
		<!-- Lista de usuários -->
		<po-list-view class="po-lg-12 po-pl-0"
			p-property-title="nome"
			[p-items]="listGrupos | filterGroupByName: filter"
			[p-actions]="actions"
			(p-title-action)="openGrupo($event.filial, $event.codigo)"
			>
			<!-- Conteúdo item lista -->
			<ng-template p-list-view-content-template let-item>
				<div class='po-mt-0 po-row'>
					<po-dynamic-view 
						class="po-lg-12 po-pl-0" 
						[p-fields]="fields" 
						[p-value]="item"> 
					</po-dynamic-view>
				</div>
			</ng-template>
		</po-list-view>
	</div>
</po-page-default>