<po-page-default 
	[p-breadcrumb]="breadcrumb" 
	[p-title]="titleDet">

	<form [formGroup]="formCredenciado" class="po-mb-2">

		<po-container 
			p-no-shadow="true" 
			class="juriLoadingCover po-lg-12 po-pr-0 po-pl-0">
			<!-- loading -->
			<po-loading-overlay *ngIf="!isHideLoadingCredenciado"
				p-screen-lock="true"
				[hidden]="isHideLoadingCredenciado"
				p-text="{{ litDetCredenciado?.carregando }}" >
			</po-loading-overlay>
			
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">

				<!-- Codigo -->
				<div *ngIf="!(isOperacaoInclusao)" 
					class="po-row po-lg-8 po-offset-lg-2 ">
					<po-input	
						p-label="{{ litDetCredenciado?.form.codigo }}"
						name="codigo"
						p-maxlength="6"
						p-disabled="true"
						formControlName="codigo">
					</po-input>
				</div>
				
				<!-- Razao social -->
				<div class="po-lg-6 form-group">
					<po-input	
						p-label="{{ litDetCredenciado?.form.razaoSocial }}"
						name="razaoSocial"
						p-maxlength="40"
						formControlName="razaoSocial">
					</po-input>
				</div>

				<!-- Tipo de Pessoa-->
				<po-radio-group 
					class="po-lg-3 po-mb-2"
					name="tpPessoa"
					p-label="{{ litDetCredenciado?.form.tpPessoa }}"
					p-tooltip-position="right"
					p-optional="true"
					formControlName="tpPessoa"
					[p-options]="listTpPessoa"
					(p-change)="setmaskCpfCnpj($event)">
				</po-radio-group>

				<!-- CNPJ/CPF -->
				<div class="po-lg-3 form-group">
					<po-input	
						p-label="{{ litDetCredenciado?.form.cgc }}"
						name="cgc"
						p-optional="true"
						formControlName="cgc"
						[p-mask]="maskCpfCnpj"
						>
					</po-input>
				</div>

			</div>
			
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				
				<!-- Nome fantasia -->
				<div class="po-lg-6 form-group">
					<po-input	
						p-label="{{ litDetCredenciado?.form.nomeFantasia }}"
						name="nomeFantasia"
						p-maxlength="20"
						formControlName="nomeFantasia">
					</po-input>
				</div>

				
				<!-- status -->
				<po-radio-group #status
					class="po-lg-3 po-mb-2"
					name="status"
					p-label="{{ litDetCredenciado?.form.status }}"
					p-tooltip-position="right"
					formControlName="status"
					[p-options]="listStatus">
				</po-radio-group>

				<!-- Contato  -->
				<div class="po-lg-3 form-group">
					<po-combo #contatoEscritorio
						name="cmbContato"
						formControlName="contato"
						p-label="{{lblNomeContato}}"
						[p-filter-service]='fwModelAdaptorService'
						formControlName="contato"
						(keydown)="vldContato($event)">
					</po-combo>
				</div>
				
			</div>


			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">

				<!-- email -->
				<div class="po-lg-8 form-group">
					<po-input	
						p-label="{{ litDetCredenciado?.form.email }}"
						name="email"
						p-maxlength="30"
						p-optional="true"
						formControlName="email">
					</po-input>
				</div>

				<!-- telefone -->
				<div class="po-lg-4 form-group">
					<po-input	
						p-label="{{ litDetCredenciado?.form.telefone }}"
						name="telefone"
						p-optional="true"
						formControlName="telefone"
						p-mask="(99) 99999-9999"
						>
					</po-input>
				</div>
			</div>

			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
			p-no-border="false">
			<!-- endereco -->
			<div class="po-lg-12 form-group">
				<po-input	
					p-label="{{ litDetCredenciado?.form.endereco }}"
					name="endereco"
					p-maxlength="80"
					formControlName="endereco">
				</po-input>
			</div>
		</div>


			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="false">
				<!-- estado -->
				<div class="po-lg-4 form-group">
					<po-combo
						[(ngModel)]="estado"
						p-change-on-enter="true"
						name="estado"
						p-label="{{ litDetCredenciado?.form.estado }}"
						[p-options]="listEstados"
						formControlName="estado"
						(p-change)="setFilterCidade($event)">
					</po-combo>
				</div>
				<!-- cidade -->
				<div class="po-lg-4 form-group">
					<po-combo
						[(ngModel)]="cidade"
						name="cidade"
						p-label="{{ litDetCredenciado?.form.cidade }}"
						(p-change-on-enter)="true"
						[p-disabled]="isDisableMunicipio"
						p-icon="po-icon-search"
						formControlName="cidade"
						[p-filter-service]="cidadeAdapterService"
						[p-filter-params]="estado"
						p-debounce-time="500"
						p-disabled-init-filter=false>
					</po-combo>
				</div>
				<!-- cep 	-->
				<div class="po-lg-4 form-group">
					<po-input	
						p-label="{{ litDetCredenciado?.form.cep }}"
						name="cep"
						p-optional="true"
						formControlName="cep"
						p-mask="99999-999"
					>
					</po-input>
				</div>
				
			</div>
			
		</po-container>	
	</form>

	<!-- Botões -->
	<po-container p-no-border="true">
		<div class="po-pull-right">
			<!-- Cancelar -->
			<po-button class="btn"
				p-label="{{ litDetCredenciado?.btn.btnCancelar }}"
				(p-click)="onCancel()">
			</po-button>

			<!-- Excluir -->
			<po-button class="btn"
				p-label="{{ litDetCredenciado?.btn.btnExcluir }}"
				[p-disabled]="isOperacaoInclusao"
				(p-click)="excluiModal.open()">
			</po-button>
			
			<po-modal #excluiCredenciado
				p-title="{{ litDetCredenciado?.modal.titleExclusao }}"
				[p-primary-action]="excluirExc"
				[p-secondary-action]="fecharExc">
				{{ litDetCredenciado?.modal.exclusao }}
			</po-modal>

			<!-- Incluir/Alterar -->
			<po-button class="btn"
				p-type="default"
				p-label="{{ litDetCredenciado?.btn.btnSalvar }}"
				p-type="primary"
				[p-loading]= "isLoadingBtnsave"
				(p-click)="submitCredenciado()">
			</po-button>
		</div>

		<!-- Modais Contato -->
		<!-- Pergunta se deseja incluir -->
		<po-modal #confirmIncCont
			p-title="{{lblNomeContato}}"
			[p-primary-action]="incluirContato"
			[p-secondary-action]="fecharContato">
			{{ litDetCredenciado?.modal.pergIncCont }} {{nomeContato}} {{ litDetCredenciado?.modal.pergIncCont2 }}
		</po-modal>

		<!-- Formulário de inclusão -->
		<po-modal #modalIncCont
			p-title="{{ litDetCredenciado?.modal.incContato }}" 
			[p-primary-action]="confirmar"
			[p-secondary-action]="cancelar">
			<po-container class="po-lg-12 po-mb-2 po-mt-2" p-no-border="true" style="padding: 2px">
				<form [formGroup]="formContato">
					<!-- Nome Contato -->
					<div class="po-row">
						<po-input class="po-lg-8"
							p-label="{{ litDetCredenciado?.modal.nome}}"
							formControlName="nomeContato"
							p-optional="false">
						</po-input>
						<!-- CPF / CNPJ -->
						<po-input class="po-lg-4 po-md-3"
							p-label="{{ litDetCredenciado?.form.cgc }}"
							formControlName="cpfContato"
							p-mask="999.999.999-99"
						>
						</po-input>
					</div>
					<!-- email -->
					<po-email class="po-lg-12"
						p-label="{{ litDetCredenciado?.form.email}}"
						formControlName="emailContato">
					</po-email>
				</form>
			</po-container>
		</po-modal>
	</po-container>
</po-page-default>





