
<po-page-default
	p-title="{{ litProvisao?.provisoes }}"
	[p-breadcrumb]="breadcrumb">
	<div class="po-page-header " >
	  
		<po-container class="po-lg-12" id="cntPesquisa" p-no-border="true">
			<div class="po-page-header-actions po-pull-right" >
				<po-input class="po-lg-8 " name="searchKey" 
					[(ngModel)]="searchKey"
					p-placeholder="{{ litProvisao?.pesqProcesso }}" 
					p-icon="po-icon-search">
				</po-input>
				<po-button class="po-lg-4 po-mt-1"
					name="btnPesquisaAvan"
					p-label="{{ litProvisao?.pesq }}"
					p-small="true"
					p-type="link"
					(p-click)="search()">
				</po-button>
			 </div> 
		</po-container>
	</div>
	<po-loading-overlay *ngIf="!isHideLoadingTabProvisoes"
		p-screen-lock="false"
		[hidden]="isHideLoadingTabProvisoes"
		p-text="{{ litProvisao?.loadProv }}"> 
	</po-loading-overlay>
	<po-container class="po-lg-12 ">
		<po-table *ngIf="isHideLoadingTabProvisoes"
			[p-columns]="columns"
			[p-items]="provisionList"
			p-striped="true"
			p-sort="true"
			p-striped="true"
			p-height="600"
			p-hide-text-overflow>
		</po-table>
		<po-container class="po-lg-12" style="padding-left: 38%;" name="cntNavegation" p-no-border="true">
			<po-button class="po-ml-lg-4 po-lg-2" 
				name="btnPrevious"
				p-label="{{ litProvisao?.anterior }}"
				p-small="true"
				p-disabled={{btnPreDisable}}
				(p-click)="showMore('previous')">
			</po-button>
			<po-button class="po-lg-2"
				name="btnNext"
				p-label="{{ litProvisao?.proximo }}"
				p-small="true"
				p-disabled={{btnNxtDisable}}
				(p-click)="showMore('next')">
			</po-button>
		</po-container>
	</po-container>
</po-page-default>
