<po-modal #jurJustif 
	p-title="{{ litJustif?.titulo }}"
	p-hide-close=true
	[p-primary-action]="actionConfirm"
	[p-secondary-action]="actionCancel">

	<form [formGroup]="formJustificativa">
		<!-- Justificativa Encerramento -->
		<div class="form-group po-lg-12">
			<po-combo #comboMotivo 
				class="form-group" 
				name="JustifMotivo" 
				p-label="{{ litJustif?.cmbMotivo }}"
				p-debounce-time=500
				[p-filter-service]='fwModelAdaptorService' 
				[p-filter-params]="adaptorParamJustifMotivo"
				formControlName="codMotivo">
			</po-combo>
		</div>
		<div class="form-group po-row">
			<po-textarea class="form-group po-md-12" 
				name="justificativa" 
				formControlName="justificativa"
				p-label="{{ litJustif?.inputJustificativa }}" 
				p-rows="8">
			</po-textarea>
		</div>
	</form>
</po-modal>

<po-modal #justifCorresp 
	p-title="{{litJustif?.alteracaoCorresp}}"
	p-hide-close=true
	[p-primary-action]="confirmJustifCorresp"
	[p-secondary-action]="cancelJustifCorresp">

	<!-- Justificativa de Correspondente -->
	<form [formGroup]="formJustifCorresp">
		<div class="form-group po-row">
			<div class="po-lg-12">
				<!-- Intancia -->
				<po-input
					name="instancia"
					formControlName="instancia"
					p-label="{{litJustif?.instancia}}"
					p-disabled=true>
				</po-input>
				<!-- Nome Corresp -->
				<po-input
					name="descCorresp"
					formControlName="descCorresp"
					p-label="{{litJustif?.correspondente}}"
					p-disabled=true>
				</po-input>
			</div>
			<div class="po-lg-12">
				<!-- Motivo -->
				<po-textarea
					name="motivo"
					formControlName="motivo"
					p-label="{{litJustif?.motivo}}"
					p-rows="8">
				</po-textarea>
			</div>
		</div>
	</form>
</po-modal>

