<po-page-default
	[p-breadcrumb]="breadcrumb"
	p-title="{{ acompanhamentoHTML }}">
	<po-container id="cntAcompanhamento acompanhamento-loading" p-no-border="true">
		<po-widget class="po-lg-4 po-mt-2"
			name="wdgAndamento"
			p-height="220"
			[p-primary]="tPrimaryAnd"
			p-primary-label="{{ verEmAndamentoHTML }}"
			(p-primary-action)="open('2')"
			p-title="{{ emAndamentoHTML }}">
			<div class="po-font-display {{tFormatAnd}} po-text-center">{{qtdAndamento}}</div>
			<div class="po-font-text-bold po-text-center">{{strAnomesAtu}}</div>
		</po-widget>

		<po-widget class="po-lg-4 po-mt-2"
			name="wdgNovosProcessos"
			p-height="220"
			[p-primary]="tPrimaryNov"
			p-primary-label="{{ verNovosHTML }}"
			(p-primary-action)="open('3')"
			p-title="{{ novosHTML }}"
			COL= "#29b6c5">
			<div class="po-font-display {{tFormatNov}} po-text-center">{{qtdNovosProcessos}}</div>
			<div class="po-font-text-bold po-text-center">{{strAnomesAtu}}</div>
		</po-widget>

		<po-widget class="po-lg-4 po-mt-2"
			name="wdgEncerrados"
			p-height="220"
			p-primary-label="{{ verEncerradosHTML }}"
			(p-primary-action)="open('4')"
			[p-primary]="tPrimaryEnc"
			p-title="{{ encerradosHTML }}">
			<div class="po-font-display {{tFormatEnc}} po-text-center">{{qtdEncerrado}}</div>
			<div class="po-font-text-bold po-text-center">{{strAnomesAtu}}</div>
		</po-widget>
	</po-container>

	<!-- Pesquisa -->
	<po-container class="po-lg-12" id="cntPesquisa" p-no-border="true">
		<h3 class="po-page-header-title"> {{ litAcomp?.cntPesquisaTittle }} </h3>

		<div class="po-page-header-actions po-pull-right" >
			<po-input class="po-lg-8 " name="searchKey"
				[(ngModel)]="pesquisa"
				p-placeholder="{{ pesquisarHTML }}"
				p-icon="po-icon-search"
				(ng-enter)="toogle()">
			</po-input>

			<po-button class="po-lg-4 po-mt-2"
				name="btnPesquisaAvan"
				p-label="{{ litAcomp?.pesq }}"
				p-small="true"
				p-type="link"
				(p-click)="toogle()">
			</po-button>
		</div>
	</po-container>

	<!-- Gride de processos-->
	<po-container class="po-lg-12 ">
		<po-loading-overlay *ngIf="!isHideLoadingAcompanhamento"
			p-screen-lock="true"
			[hidden]="isHideLoadingAcompanhamento"
			p-text="{{ litHome?.loadProv }}"> 
		</po-loading-overlay>
		<po-table *ngIf="isHideLoadingAcompanhamento"
			[p-columns]="columns"
			[p-items]="listaProcesso"
			p-striped="true"
			p-sort="false"
			p-striped="true"
			p-hide-text-overflow>
		</po-table>

		<po-container class="po-lg-12" style="padding-left: 38%;" name="cntNavegation" p-no-border="true">
			<po-button class="po-ml-lg-4 po-lg-2" 
				name="btnPrevious"
				p-label="{{ litAcomp?.anterior }}"
				p-small="true"
				(p-click)="showMore('a')"
				[p-disabled]="isDisabledBtnPrev">
			</po-button>

			<po-button class="po-lg-2"
				name="btnNext"
				p-label="{{ litAcomp?.proximo }}"
				p-small="true"
				(p-click)="showMore('b')"
				[p-disabled]="isDisabledBtnNxt">
			</po-button>
		</po-container>
	</po-container>
</po-page-default>