<po-page-default name="contractPage"
	[p-actions]="pageActions"
	[p-breadcrumb]="breadcrumbProperties"
	p-title="{{ litContrato?.breadcrumbContrato.brContrato }} {{ tpContr }} ({{ cajuriTitulo }})">

	<!-- widget de resumo do contrato -->
	<po-widget class="juriLoadingCover"
		p-primary="boolean"
		p-primary-label="{{ litContrato?.anexos }}"
		(p-primary-action)="openAttachments()"
		p-secondary-label="{{ litContrato?.WFFluig }}"
		(p-secondary-action)="openWFFluig()">
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingContrato"
			p-text="{{ litContrato?.carregando }}" >
		</po-loading-overlay>
		<po-dynamic-view
			[p-fields]="ResumoContrato"
			[p-value]="DadosContrato">
		</po-dynamic-view>
	</po-widget>

	<!-- widget de valores -->
	<po-widget class="juriLoadingCover">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litContrato?.valores.valores}}
			</div> 
		</div>
		<po-loading-overlay 
			p-screen-lock="false"
			[hidden]="isHideLoadingValores"
			p-text="{{ litContrato?.valores.carregando }}" >
		</po-loading-overlay>
		<po-table 
			[p-columns]="colValores"
			[p-items]="valoresContrato"
			p-sort="false">
		</po-table>
	</po-widget>

	<!-- widgets de objeto e observações -->
	<div class="po-row">
		<!-- Objeto -->
		<po-widget class="po-lg-6 po-pl-0 juriLoadingCover">
			<div class="po-row">
				<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8 po-mb-2">
					{{ litContrato?.objeto.objetoTitle}}
				</div>
				<div class="po-sm-4">
					<div class="po-pull-right po-clickable" (click)="toggleObjeto = !toggleObjeto">
						{{ toggleObjeto ? litContrato?.minimizar : litContrato?.maximizar }} 
						<span class="po-icon {{ toggleObjeto ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
					</div>
				</div> 
			</div>
			<po-loading-overlay 
				p-screen-lock="false"
				[hidden]="isHideLoadingObjeto"
				p-text="{{ litContrato?.objeto.carregando }}" >
			</po-loading-overlay>	
			<ng-container *ngIf="toggleObjeto">
				<div class="po-row">
					<div class="po-font-text-bold">{{objetoContrato}}</div>
				</div>
			</ng-container>
		</po-widget>
		<!-- Obervações -->
		<po-widget class="po-lg-6 po-pr-0 juriLoadingCover">
			<div class="po-row">
				<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8 po-mb-2">
					{{ litContrato?.observacoes.observacoesTitle}}
				</div> 
				<div class="po-sm-4">
					<div class="po-pull-right po-clickable" (click)="toggleObserv = !toggleObserv">
						{{ toggleObserv ? litContrato?.minimizar : litContrato?.maximizar }} 
						<span class="po-icon {{ toggleObserv ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
					</div>
				</div> 
			</div>
			<po-loading-overlay 
				p-screen-lock="false"
				[hidden]="isHideLoadingObserv"
				p-text="{{ litContrato?.observacoes.carregando }}" >
			</po-loading-overlay>				
			<ng-container *ngIf="toggleObserv"> 	
				<div class="po-row">
					<div class="po-font-text-bold">{{observacoes}}</div>
				</div>
			</ng-container>
		</po-widget>
	</div>

	<!-- widget de Historico andamentos -->
	<po-widget class="juriLoadingCover" *ngIf="mostraWidgetHistorico"
		p-primary-label="{{ litContrato?.historico.verTodos }}"
		p-secondary-label="{{ litContrato?.historico.incluirNovo }}"
		(p-primary-action)="openHistorico()"
		(p-secondary-action)="callHitorico()">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litContrato?.historico.tituloHist }}
			</div>
			<div class="po-sm-4 po-mt-2">
				<div class="po-pull-right po-clickable" (click)="togglehistorico = !togglehistorico">
					{{ togglehistorico ? 'Minimizar' : 'Maximizar' }} 
					<span class="po-icon {{ togglehistorico ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div>
		</div>
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingHistorico"
			p-text="{{ litContrato?.historico.carregando }}" >
		</po-loading-overlay>
		<ng-container *ngIf="togglehistorico">
			<po-table
				[p-columns]="colHistorico"
				[p-items]="listHistorico"
				p-sort="true"
				p-hide-text-overflow="true">
			</po-table>
		</ng-container>
	</po-widget>
	
	<!-- widget de prazos e tarefas -->
	<po-widget class="juriLoadingCover" *ngIf="mostraWidgetTarefas"
		p-primary-label="{{ litContrato?.tarefas.btnVerTodasTarefa }}"
		(p-primary-action)="openTarefas()"
		p-secondary-label="{{ litContrato?.tarefas.btnIncluirTarefa }}"
		(p-secondary-action)="callTarefa()">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litContrato?.tarefas.tituloTarefas }}
			</div>
			<div class="po-sm-4 po-mt-2">
				<div class="po-pull-right po-clickable" (click)="toggleTarefas = !toggleTarefas">
					{{ toggleTarefas ? litContrato?.minimizar : litContrato?.maximizar }} 
					<span class="po-icon {{ toggleTarefas ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div>
		</div>
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingTarefas"
			p-text="{{ litContrato?.tarefas.loadTarefas }}" >
		</po-loading-overlay>
		<ng-container *ngIf="toggleTarefas">
			<po-table
				[p-columns]="colTarefas"
				[p-items]="listTarefas"
				p-sort="true">
			</po-table>
		</ng-container>
	</po-widget>

	<!-- widget de despesas -->
	<po-widget class="juriLoadingCover" *ngIf="mostraWidgetDespesas"
		p-primary-label="{{ litContrato?.despesas.btnVerTodos }}"
		p-secondary-label="{{ litContrato?.despesas.btnIncluirNovoDesp }}"
		(p-primary-action)="openDespesas()"
		(p-secondary-action)="callDespesa()">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">{{ litContrato?.despesas.tituloDespesas }}</div>
			<div class="po-sm-4">
				<div class="po-pull-right po-clickable" (click)="toggleDespesas = !toggleDespesas">
					{{ toggleDespesas ? litContrato?.minimizar : litContrato?.maximizar }} 
					<span class="po-icon {{ toggleDespesas ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div>
		</div>
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingDespesas"
			p-text="{{ litContrato?.despesas.loadDespesas }}" >
		</po-loading-overlay>
		<ng-container *ngIf="toggleDespesas">
			<po-table
				[p-columns]="colDespesas"
				[p-items]="listDespesa"
				p-sort="true">
			</po-table>
		</ng-container>
	</po-widget>

	<!-- widget de Aditivos -->
	<po-widget class="juriLoadingCover" *ngIf="isMostraWidgetAditivos"
		p-primary-label="{{ litContrato?.despesas.btnVerTodos }}"
		(p-primary-action)="openAditivos()"
		p-secondary-label="{{ litContrato?.aditivos.incluirNovo }}"
		(p-secondary-action)="callAditivo()">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litContrato?.aditivos.tituloAditivos }}
			</div>
			<div class="po-sm-4 po-mt-2">
				<div class="po-pull-right po-clickable" (click)="isToggleAditivos = !isToggleAditivos">
					{{ isToggleAditivos ? litContrato?.minimizar : litContrato?.maximizar  }} 
					<span class="po-icon {{ isToggleAditivos ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div>
		</div>
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingAditivos"
			p-text="{{ litContrato?.aditivos.carregando }}" >
		</po-loading-overlay>
		<ng-container *ngIf="isToggleAditivos">
			<po-table
				[p-columns]="colAditivos"
				[p-items]="listAditivos"
				p-sort="true">
			</po-table>
		</ng-container>
	</po-widget>

	<!-- widget de encerramento -->
	<po-widget class="juriLoadingCover">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
					{{ litContrato?.encerramento.encerramento }}
			</div>
			<div class="po-sm-4">
				<div class="po-pull-right po-clickable" (click)="toggleEncerra = !toggleEncerra">
					{{ toggleEncerra ? litContrato?.minimizar : litContrato?.maximizar }} 
					<span class="po-icon {{ toggleEncerra ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div> 
		</div>
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingEncerramento"
			p-text="{{ litContrato?.encerramento.loadEnc }}" >
		</po-loading-overlay>
		<ng-container *ngIf="toggleEncerra"> 
			<form [formGroup]="formEncerramento">
				<div class="po-mt-2">	
					<!-- data -->
					<div class="po-lg-2 form-group">
						<po-datepicker
							name='data'
							formControlName="dataEncerramento"
							p-label="{{ litContrato?.encerramento.dataEnc }}">
						</po-datepicker>
					</div> 
					<!-- motivo -->
					<div class="po-lg-6 form-group">
						<po-select
							name='motivo'
							p-label="{{ litContrato?.encerramento.motivo }}"
							[p-options]="listMotivos"
							formControlName="motivo"
							[p-required]="true">
						</po-select>
					</div> 
					<!-- usuario -->
					<div class="po-lg-4 form-group">
						<po-input
							name="usr"
							p-readonly= 'true'
							formControlName="usuario"
							p-label="{{ litContrato?.encerramento.usuario}}"
							p-disabled=true>
						</po-input>
					</div>
					<!-- detalhe -->
					<div class="po-lg-8 po-mr-4 po-mb-8 form-group">
						<po-input
							name="detalhe"
							formControlName="detalhe"
							p-label="{{ litContrato?.encerramento.detalhe}}">
						</po-input>
					</div> 
				</div>
				<div class="po-pull-right po-mt-4 po-mr-1">
					<po-button						
						[p-disabled]="isEncerrado"
						p-small="false"
						p-label="{{ litContrato?.encerramento.btnEnc}}"
						(p-click)="onClickBtnEnc()">
					</po-button>
				</div>
			</form>
		</ng-container>
	</po-widget>
	<!--Modal com opções de enviar link via whats e exportar para PDF-->
	<po-modal #compartilhar	
		p-title="{{ litContrato?.compartilhar.title}}"
		[p-primary-action]="confirmar"
		[p-secondary-action]="fechar">

		<po-radio-group
			name="radioGroupBasic"
			[p-options]="listCompResumo"
			(p-change)="setOpcao($event)">
		</po-radio-group>

		<p *ngIf="opcaoCompartilhar== '2'" class="po-icon po-icon-exclamation po-text-color-07">
			{{litContrato?.compartilhar.msgInfo}}
		</p>
	</po-modal>

</po-page-default>