<meta charset="utf-8" />
<po-page-detail [p-breadcrumb]="breadcrumb" p-title="{{ litDetPro?.title }}">
	<po-loading-overlay
		p-screen-lock="true"
		[hidden]="isLoadingCadastro"
		p-text="{{ litDetPro?.loading.generico }}"
	>
	</po-loading-overlay>
	<po-widget class="juriLoadingCover">
		<form [formGroup]="formProcesso">
			<div class="po-row">
				<!-- Tipo de assunto jurídico -->
				<div class="po-lg-3 form-group">
					<po-select
						name="assuntoJuri"
						p-label="{{ litDetPro?.fieldsProcesso.assuntoJuridico }}"
						formControlName="assuntoJuri"
						p-required="true"
						[p-options]="listTipoAssunto"
						(p-change)="setTipoAssuntoJur($event)"
					>
					</po-select>
				</div>
				<div *ngIf="!lUploadDisabled || isDisableSelTpAssJur" class="po-lg-5">
					<po-combo
						#comboProcessos
						name="distrRec"
						p-label="{{ litDetPro?.fieldsProcesso.processoDistr }}"
						p-placeholder="{{ litDetPro?.placeHolder.comboProcesso }}"
						[p-filter-service]="distrAdaptorService"
						[p-disabled]="isDisableSelTpAssJur"
						(p-change)="getDadosNZZ($event)"
						p-tooltip="{{ litDetPro?.fieldsProcesso.tooltipDistr }}"
						p-tooltip-position="left"
					>
					</po-combo>
				</div>
				<div *ngIf="!isDisableSelTpAssJur && lUploadDisabled" class="po-lg-3">
					<po-input
						name="numPro"
						p-label="{{ litDetPro?.fieldsProcesso.numeroProcesso }}"
						p-placeholder="{{ litDetPro?.placeHolder.digiteProcesso }}"
						[p-disabled]="isDisableSelTpAssJur"
						formControlName="numeroPro"
					>
					</po-input>
				</div>

				<div class="po-lg-3 po-field-container">
					<div class="po-field-container-content po-pt-0">
						<p class="po-field-title po-mb-1">
							{{ litDetPro?.fieldsProcesso.importarPeticaoInicial }}
						</p>
						<po-button
							p-label="{{ litDetPro?.selecionarArquivo }}"
							p-type="secondary"
							(p-click)="selectFile()"
							[p-disabled]="lUploadDisabled"
						>
						</po-button>
					</div>
				</div>
				<div class="po-row">
					<po-upload
						#upload
						class="po-lg-12"
						name="upload"
						p-auto-upload="true"
						p-hide-send-button="true"
						p-hide-restrictions-info="true"
						p-multiple="false"
						p-hide-select-button="true"
						p-url="/juri/JURLEGALPROCESS/inicial"
						[p-restrictions]="{ allowedExtensions: ['.pdf'] }"
						(p-success)="retornoJson($event)"
					>
					</po-upload>
				</div>
			</div>
		</form>
		<div class="po-row">
			<div class="po-lg-12 po-md-12">
				<po-button
					class="po-pull-right"
					p-label="{{ litDetPro?.iniciarPreCad }}"
					p-type="primary"
					(p-click)="preCadastro()"
					[p-disabled]="lpre_cadastro"
				>
				</po-button>
			</div>
		</div>
	</po-widget>
	<po-container *ngIf="!lIniciar" class="po-lg-12" id="containerInicio" p-no-border="true">
		<div class="po-text-center po-page-change-password-required-title po-mt-4">
			{{ litDetPro?.msgNotIniciado }}
		</div>
		<img src=".\assets\ImgNotFound.svg" class="po-modal-password-recovery-user-image po-mt-5" />
	</po-container>
	<div *ngIf="lIniciar" id="cntdetalhes">
		<po-stepper #stepper (p-change-step)="changeStep(stepper)">
			<po-step p-label="{{ litDetPro?.stepperEnvolvido }}">
				<div class="po-offset-lg-2 po-offset-xl-2 po-lg-8 po-md-11 juriLoadingCover">
					<form [formGroup]="formEnvolvido">
						<div class="po-row">
							<!-- Polo -->
							<po-combo
								#envolvidoPolo
								class="po-lg-3 po-ml-3"
								name="polo"
								p-label="{{ litDetPro?.fieldsEnvolvido.polo }}"
								[p-options]="listPolos"
								formControlName="polo"
								(p-change)="filterTpEnvol($event)"
							>
							</po-combo>
							<!-- Tipo de Envolvimento -->
							<po-combo
								#envolvidoTipo
								class="po-lg-5"
								name="envolvimento"
								p-label="{{ litDetPro?.fieldsEnvolvido.tipoEnvolvimento }}"
								[p-filter-service]="tpEnvolvAdapterService"
								[p-disabled]="disabletpEnvol"
								formControlName="tipoEnvol"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>
							<!-- Principal? -->
							<po-select
								class="po-lg-3"
								name="principal"
								p-label="{{ litDetPro?.fieldsEnvolvido.principal }}"
								[p-options]="listPrincipal"
								formControlName="principal"
							>
							</po-select>
						</div>
						<div class="po-row">
							<!-- Entidade Origem -->
							<po-combo
								#tipoEnvolvido
								[(ngModel)]="entidade"
								class="po-lg-3 po-ml-3"
								p-label="{{ litDetPro?.fieldsEnvolvido.entidade }}"
								[p-options]="ListEntOrigem"
								formControlName="entidade"
								(p-change)="setComboNomeEntidade($event)"
							>
							</po-combo>
							<!-- Nome Entidade -->
							<po-combo
								#envolvidoNome
								class="po-lg-5"
								[(ngModel)]="nome"
								name="cmbNomeEnv"
								p-label="{{ litDetPro?.fieldsEnvolvido.nomeEntidade }}"
								formControlName="nome"
								(p-change)="incluiCpfCnpj()"
								(keydown)="vldParteCont($event)"
								[p-filter-service]="
									entidade == 'SRA'
										? funcionarioAdapterService
										: nomeEnvAdapterService
								"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>
							<!-- CPf / CNPJ -->
							<po-input
								class="po-lg-3"
								p-label="{{ litDetPro?.fieldsEnvolvido.cgc }}"
								formControlName="cpfcnpj"
								[p-disabled]="lDisableCpfCnpj"
								p-optional="true"
							>
							</po-input>
						</div>
						<div class="po-row">
							<!-- Cargo -->
							<po-combo
								class="po-lg-7 po-ml-3"
								p-label="{{ litDetPro?.fieldsEnvolvido.cargo }}"
								[p-filter-service]="cargoAdapterService"
								formControlName="cargo"
								p-optional="true"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>
							<!-- Local de Trabalho -->
							<po-combo
								class="po-lg-4 po-md-4"
								p-label="{{ litDetPro?.fieldsEnvolvido.localTrabalho }}"
								[p-filter-service]="localTrabAdapterService"
								formControlName="localtrab"
								[p-disabled]="isDisableLocTrabalho"
								p-optional="true"
							>
							</po-combo>
						</div>
						<div class="po-row form-row">
							<!-- Data admissao -->
							<po-datepicker
								class="po-lg-4 po-ml-3 po-md-4"
								name="dataAdm"
								p-label="{{ litDetPro?.fieldsEnvolvido.dataAdmissao }}"
								[p-max-date]="maxDate"
								formControlName="dataAdm"
								p-optional="true"
							>
							</po-datepicker>
							<!-- Data Demissao -->
							<po-datepicker
								class="po-lg-4 po-md-4"
								name="dataDem"
								p-label="{{ litDetPro?.fieldsEnvolvido.dataDemissao }}"
								[p-max-date]="maxDate"
								formControlName="dataDem"
								p-optional="true"
							>
							</po-datepicker>
						</div>
					</form>
				</div>
				<div class="po-row po-mt-4" style="justify-content: flex-end;">
					<po-button
						class="btn po-pull-right"
						p-small="false"
						p-label="{{ litDetPro?.limparForm }}"
						(p-click)="clearEnvolvidos()"
					>
					</po-button>
					<po-button
						class="btn po-pull-right"
						p-small="false"
						p-label="{{ titleBtnEnvol }}"
						(p-click)="addEnvolv(true)"
					>
					</po-button>
				</div>
				<po-widget class="juriLoadingCover" *ngIf="itemsEnvolv.length > 0">
					<po-table
						[p-columns]="colEnvolvidos"
						[p-items]="itemsEnvolv"
						p-striped="true"
						p-sort="false"
					>
					</po-table>
				</po-widget>
				<div *ngIf="itemsEnvolv.length > 0">
					<div class="po-pull-right">
						<po-button
							p-small="false"
							p-label="{{ litDetPro?.cancelar }}"
							(p-click)="callHome()"
						>
						</po-button>
						<po-button
							class="btn"
							p-type="default"
							p-label="{{ litDetPro?.incluirDetalhes }}"
							p-type="primary"
							(p-click)="stepper.next()"
						>
						</po-button>
					</div>
				</div>
			</po-step>
			<po-step p-label="{{ litDetPro?.stepperDetalhe }}">
				<div class="po-row po-offset-lg-2 po-offset-xl-2 po-lg-8 juriLoadingCover">
					<form [formGroup]="formProcesso">
						<div class="po-row">
							<!-- Data de entrada -->
							<po-datepicker
								class="po-lg-3 po-ml-3"
								name="dataEntrada"
								p-label="{{ litDetPro?.fieldsProcesso.dataEntrada }}"
								[p-max-date]="maxDate"
								formControlName="dataEntrada"
							>
							</po-datepicker>
							<!-- Data de distribuição -->
							<po-datepicker
								id="dtDistr"
								class="po-lg-4"
								name="dataDistrib"
								p-label="{{ litDetPro?.fieldsProcesso.dataDistribuicao }}"
								[p-max-date]="maxDate"
								formControlName="dataDistrib"
								p-optional="true"
							>
							</po-datepicker>
							<!-- Area -->
							<po-combo
								class="po-lg-4"
								name="area"
								p-label="{{ litDetPro?.fieldsProcesso.areaJuridica }}"
								[p-filter-service]="areaJurAdapterService"
								formControlName="area"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>
							<!-- Unidade -->
							<po-combo
								#comboUnidade
								class="po-lg-7 po-ml-3"
								name="unidade"
								p-label="{{ litDetPro?.fieldsProcesso.unidade }}"
								[p-filter-service]="unidadeAdapterService"
								formControlName="unidade"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>

							<!-- Centro de custo -->
							<po-combo
								#comboCCusto
								class="po-lg-4"
								name="centroCusto"
								p-label="{{ litDetPro?.fieldsProcesso.ccusto }}"
								[p-filter-service]="custoAdapterService"
								p-optional="true"
								formControlName="centroCusto"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>

							<!-- Escritório -->
							<po-combo
								#comboEscritorio
								class="po-lg-7 po-ml-3"
								name="cmbEscritorio"
								p-label="{{ litDetPro?.fieldsProcesso.escritorio }}"
								[p-filter-service]="escritorioAdapterService"
								formControlName="escritorio"
								p-optional="true"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>
							<!-- Responsavel -->
							<po-combo
								class="po-lg-4"
								name="responsavel"
								p-label="{{ litDetPro?.fieldsProcesso.responsavel }}"
								[p-filter-service]="participAdapterService"
								formControlName="responsavel"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>
							<!-- Natureza -->
							<po-combo
								class="po-lg-7 po-ml-3"
								name="natureza"
								p-label="{{ litDetPro?.fieldsProcesso.natureza }}"
								[p-options]="listNaturezas"
								formControlName="natureza"
								(p-change)="chooseNat($event)"
							>
							</po-combo>
							<!-- Tipo de ação -->
							<po-combo
								#comboTipoAcao
								class="po-lg-4"
								name="tipoAcao"
								formControlName="tipoAcao"
								p-label="{{ litDetPro?.fieldsProcesso.tipoAcao }}"
								[p-filter-service]="tpAcaoAdapterService"
								[p-disabled]="disabletpAcao"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>

							<!-- Numero do Processo -->
							<div class="po-lg-11 po-ml-3">
								<po-input
									name="numPro"
									p-label="{{ litDetPro?.fieldsProcesso.numeroProcesso }}"
									p-placeholder="{{ litDetPro?.placeHolder.digiteProcesso }}"
									formControlName="numeroPro"
									(focusout)="validaNumPro()"
								>
								</po-input>
							</div>

							<!-- Assunto/objeto -->
							<po-combo
								class="po-lg-7 po-ml-3 po-mt-5"
								name="assunto"
								p-label="{{ litDetPro?.fieldsProcesso.assunto }}"
								[p-filter-service]="assuntoAdapterService"
								formControlName="assunto"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>

							<!-- Rito -->
							<po-combo
								#comboRito
								class="po-lg-4 po-mt-5"
								name="rito"
								p-label="{{ litDetPro?.fieldsProcesso.rito }}"
								[p-filter-service]="ritoAdapterService"
								formControlName="rito"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>

							<!-- Detalhamento -->
							<po-textarea
								class="po-lg-11 po-ml-3 helpInLine"
								[p-maxlength]="250"
								p-label="{{ litDetPro?.fieldsProcesso.detalhe }}"
								p-help="{{ litDetPro?.help.procDetalheLimiteCaracter }}"
								formControlName="detAssunto"
								p-placeholder="{{ litDetPro?.placeHolder.detalheProcesso }}"
								p-optional="true"
							>
							</po-textarea>
							<!-- Instância -->
							<po-select
								class="po-lg-6 po-ml-3"
								name="instancia"
								p-label="{{ litDetPro?.fieldsProcesso.instancia }}"
								[p-options]="listInstancia"
								formControlName="instancia"
							>
							</po-select>
							<!-- Comarca -->
							<po-combo
								class="po-lg-5"
								name="comarca"
								p-label="{{ litDetPro?.fieldsProcesso.comarca }}"
								[p-filter-service]="comarcasAdapterService"
								formControlName="comarca"
								(p-change)="buscaListaForos($event)"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>
							<!-- Foro -->
							<po-combo
								class="po-lg-6 po-ml-3"
								name="foro"
								p-label="{{ litDetPro?.fieldsProcesso.foro }}"
								[p-options]="listForo"
								formControlName="foro"
								[p-disabled]="disableForo"
								(p-change)="buscaListaVaras($event)"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>
							<!-- Vara -->
							<po-combo
								class="po-lg-5"
								name="vara"
								p-label="{{ litDetPro?.fieldsProcesso.vara }}"
								[p-options]="listVara"
								formControlName="vara"
								[p-disabled]="disableVara"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>
							<!-- Valor da causa -->
							<po-decimal
								class="po-lg-4 po-ml-3"
								name="vlrCausa"
								p-label="{{ litDetPro?.fieldsProcesso.valorCausa }}"
								formControlName="vlrCausa"
								p-maxlength="11"
								p-thousand-maxlength="10"
								p-placeholder="{{ litDetPro?.placeHolder.moedaBR }}"
								(p-change)="setCamposVlCausa($event)"
								p-optional="true"
							>
							</po-decimal>
							<!-- Forma de correção -->
							<po-combo
								class="po-lg-7"
								name="fCorrecao"
								p-label="{{ litDetPro?.fieldsProcesso.formaCorrecao }}"
								[[p-filter-service]="fCorrecaoAdapterService"
								formControlName="fCorrecao"
								p-optional="true"
								p-debounce-time="500"
								p-disabled-init-filter="false"
							>
							</po-combo>
						</div>
					</form>
				</div>
				<div class="po-row po-mt-4" style="justify-content: flex-end;">
					<po-button
						class="po-pull-right po-mt-4 po-mr-0"
						p-small="false"
						p-label="{{ litDetPro?.voltarEnvolvido }}"
						(p-click)="stepper.previous()"
					>
					</po-button>
					<po-button
						class="btn po-pull-right po-mt-4 po-mr-0"
						p-type="default"
						p-label="{{ btnSalvarDetalhe }}"
						p-type="primary"
						[p-loading]="bLoadingIncProcess"
						(p-click)="submitProcess(stepper)"
					>
					</po-button>
				</div>
			</po-step>

			<po-step *ngIf="hasExtraFields" p-label="{{ litDetPro?.titExtraFields }}">
				<div class="po-row po-offset-lg-2 po-offset-xl-2 po-lg-8 juriLoadingCover">
					<po-loading-overlay
						p-screen-lock="true"
						[hidden]="isHideLoadCmpAdic"
						p-text="{{ litDetPro?.loading.generico }}"
					>
					</po-loading-overlay>

					<po-dynamic-form #customForm [p-fields]="listExtraFields" [p-value]="oValores">
					</po-dynamic-form>
				</div>

				<div class="po-row po-mt-4" style="justify-content: flex-end;">
					<po-button
						class="po-pull-right po-mt-4 po-mr-0"
						p-small="false"
						p-label="{{ litDetPro?.voltarDetalhe }}"
						(p-click)="stepper.previous()"
					>
					</po-button>

					<po-button
						class="btn po-pull-right po-mt-4 po-mr-0"
						p-label="{{ litDetPro?.concluir }}"
						p-type="primary"
						[p-loading]="bLoadingIncProcess"
						(p-click)="submitProcess()"
					>
					</po-button>
				</div>
			</po-step>
		</po-stepper>
	</div>

	<!-- MODAL PARTE CONTRÁRIA -->
	<po-modal
		#confirmInclPtC
		p-title="{{ litDetPro?.partContraria }}"
		[p-primary-action]="incluir"
		[p-secondary-action]="fechar"
	>
		{{ litDetPro?.messages.verInclPtCont }} {{ nomePartCont }}
		{{ litDetPro?.messages.verInclPtCont2 }}
	</po-modal>

	<po-modal
		#modalInclPtC
		p-title="Incluir parte contrária"
		[p-primary-action]="confirmar"
		[p-secondary-action]="cancelar"
	>
		<po-container class="po-lg-12 po-mb-2 po-mt-2" p-no-border="true" style="padding: 2px;">
			<form [formGroup]="formParteCont">
				<!-- Nome Parte Contraria -->
				<div class="po-row">
					<po-input
						class="po-lg-8"
						p-label="{{ litDetPro?.fieldsPartCon.nome }}"
						formControlName="nomePtContraria"
						p-optional="false"
					>
					</po-input>
					<!-- Tipo de Pessoa  -->
					<po-select
						class="po-lg-4 po-md-3"
						p-label="{{ litDetPro?.fieldsPartCon.tipo }}"
						[p-options]="listTpPessoa"
						formControlName="tpPessoa"
					>
					</po-select>
				</div>

				<div class="po-row">
					<!-- CPF / CNPJ -->
					<po-input
						class="po-lg-5"
						p-label="{{ litDetPro?.fieldsPartCon.cgc }}"
						formControlName="cpfcnpjPtCont"
					>
					</po-input>
					<!-- email -->
					<po-email
						class="po-lg-7"
						p-label="{{ litDetPro?.fieldsPartCon.email }}"
						formControlName="email"
					>
					</po-email>
				</div>
			</form>
		</po-container>
	</po-modal>

	<!-- Modal Valida CNJ -->
	<po-modal
		#modalValidaCNJ
		p-title="{{ litDetPro?.numProcInvalido }}"
		[p-primary-action]="cancelValidCnj"
		[p-secondary-action]="continueValidCnj"
	>
		{{ litDetPro?.messages.invalidCNJ }}
	</po-modal>
</po-page-detail>
