:host ::ng-deep .po-stepper-horizontal .po-stepper-container {
	margin-bottom: 24px;
	margin-top: 24px;
}

:host ::ng-deep .po-stepper-horizontal .po-stepper-content {
	padding: 0px;
}

:host ::ng-deep .po-widget {
	margin-bottom: 24px !important;
	position: relative;
}

.btn {
	margin-left: 10px;
	margin-bottom: 24px;
}
