<po-page-detail
	[p-breadcrumb]="breadcrumb"
	[p-title]="titleDet">
	<form [formGroup]="formGarantia" class="po-mb-2">
			
		<po-container class="juriLoadingCover po-mb-2 po-row" p-no-border="false">
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingGarantia"
				p-text="{{ litDetGar?.loadGar}}">
			</po-loading-overlay>
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
				p-no-border="true">

				<div class="po-lg-8 form-group">
					<po-combo
						name="tipo"
						p-label="{{ litDetGar?.inputTipo }}"
						p-debounce-time=500
						[p-filter-service]='tpGarAdapterService'
						[p-filter-params]="filtroTpGar"
						formControlName="tipo">
					</po-combo>
				</div>
				<div class="po-lg-4 form-group">
					<po-datepicker
						name="data"
						formControlName="dataGarantia"
						p-label="{{ litDetGar?.inputData}}">
					</po-datepicker>
				</div>
				<po-select class="po-lg-6 form-group"
					name="envolvido"
					p-label="{{ litDetGar?.inputEnvolvidos }}"
					[p-options]="listEnvolvido"
					formControlName="envolvido">
				</po-select>
				<po-combo class="po-lg-6 form-group"
					name="correcao"
					p-label="{{ litDetGar?.inputCorrecao }}"
					formControlName="correcao"
					[p-filter-service]='correcaoAdapterService'
					[p-filter-params]="filtroCorrecao"
					p-debounce-time=500>
				</po-combo>
				
				<po-decimal class="po-lg-4 form-group"
					name="valor"
					p-label="{{ litDetGar?.inputValor}}"
					formControlName="valor">
				</po-decimal>
			
				<po-decimal class="po-lg-4 form-group"
					name="levantamento"
					p-label="{{ litDetGar?.inputLevantamento }}"
					formControlName="levantamento"
					p-disabled= "true">
				</po-decimal>
				
				<po-decimal class="po-lg-4 form-group"
					name="sJuiza"
					p-label="{{ litDetGar?.inputSJuizo }}"
					formControlName="sJuiza"
					p-disabled= "true">
				</po-decimal>
				<div class="po-row po-mb-lg-2" *ngIf="bShowGroupIntFinanc">
					<po-divider class="po-lg-12" p-label = " {{ litDetGar?.integraFinaneiro.integracaofinanceira }} " ></po-divider>
					<po-select class="po-lg-2 form-group"
						name="integraFinanceiro"
						(p-change)="habilitaCampos()"
						p-label= " {{ litDetGar?.integraFinaneiro.integrafinanceiro }} "
						formControlName="integraFinanceiro"
						[p-options]="arrOpcIntegraFinanceiro">
					</po-select>
					<po-combo class="po-lg-3 form-group"
						name="intFinFiliDest"
						p-label=" {{ litDetGar?.integraFinaneiro.FiliDest }} "
						p-debounce-time=500
						[p-filter-service]='filiaisAdapterService'
						formControlName="intFinFiliDest"
						[p-disabled]="bIntegraFinanceiro"
						(p-change)="setFilialDest($event)">
					</po-combo>
					<po-input class="po-lg-1 form-group"
						name="intFinPrefixo"
						[p-disabled]="bIntegraFinanceiro"
						p-label=" {{ litDetGar?.integraFinaneiro.prefixo }} "
						p-maxlength="3"
						formControlName="intFinPrefixo">
					</po-input>
					<po-combo class="po-lg-6 form-group" #cmbFornecedor
						name="intFinFornecedor"
						[p-disabled]="bIntegraFinanceiro"
						p-label=" {{ litDetGar?.integraFinaneiro.fornecedor }} "
						p-debounce-time=500
						[p-filter-service]='fornecedorAdapterService'
						formControlName="intFinFornecedor">
					</po-combo>
					<po-combo class="po-lg-6 form-group" #cmbNatureza
						name="intFinNatureza"
						[p-disabled]="bIntegraFinanceiro"
						p-label=" {{ litDetGar?.integraFinaneiro.natureza }} "
						p-debounce-time=500
						[p-filter-service]='naturezaAdapterService'
						formControlName="intFinNatureza">
					</po-combo>
					<po-select class="po-lg-6 form-group"
						name="intFinTitulo"
						[p-disabled]="bIntegraFinanceiro"
						p-label=" {{ litDetGar?.integraFinaneiro.titulo }} "
						[p-options]="lsIntFinTitulo"
						formControlName="intFinTitulo">
					</po-select>
					<po-select class="po-lg-6 form-group" #cmbGrupoAprov
						name="lsIntFinGrupoAprovacao"
						[p-disabled]="bIntegraFinanceiro"
						p-label=" {{ litDetGar?.integraFinaneiro.grpaprov }} "
						[p-options]="lsIntFinGrupoAprovacao"
						formControlName="intFinGrupoAprovac"
					></po-select>
					<po-combo class="po-lg-6 form-group" #cmbBancoAgencia
						name="IntFinBancoAgencia"
						[p-disabled]="bIntegraFinanceiro"
						p-label=" {{ litDetGar?.integraFinaneiro.bancoagencia }} "
						p-debounce-time=500
						[p-filter-service]='bancoAdapterService'
						formControlName="intFinBancoAgencia"
					></po-combo>
				</div>
				<po-button 
					class="po-lg-3 po-mb-lg-1 po-row"
					p-label="{{ litDetGar?.selecionarArquivo }}"
					(p-click)="getDocuments()">
				</po-button>
				<po-upload #docUpload
					class="po-lg-12 uploadDoc"
					p-url="/juri/JURLEGALPROCESS/anexo"
					p-multiple="true"
					(p-upload)="uploadFiles($event)"
					(p-success)="uploadSucess()"
					p-hide-send-button
					p-hide-select-button
					p-required>
				</po-upload>
				<po-button class="po-pull-right po-lg-3 po-ml-0"
					name="btnPesquisaAvan"
					p-label="{{ litDetGar?.verTodosAnexos }}"
					[p-disabled]="bOperacaoInclusao"
					p-small="true"
					(p-click)="callAnexos()"
					p-type="link">
			</po-button>
			</div> 
		</po-container>	
	</form>
	
	<po-container class="juriLoadingCover po-mb-2  po-row">		
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingLevantamentos"
			p-text="{{ litDetGar?.levantamentos.loadLev }}" >
		</po-loading-overlay>
		<div class="po-row po-mb-lg-2">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">{{ litDetGar?.levantamentos.tituloLev }}</div>
		</div>
		<div class="po-row po-mb-lg-2">						
			<po-button
				p-label="{{ litDetGar?.novoLev }}"
				(p-click)="openLevantamento()"
				[p-disabled]="disableInclusaoLev">
			</po-button>
		</div>
		<po-table
			[p-columns]="colLevantamentos"
			[p-items]="levantamentos"
			p-sort="true"
			p-hide-text-overflow="true">
		</po-table>
	</po-container>

	<po-container p-no-border="true">
		<div class="po-pull-right">
			<po-button class="btn"
				p-label="{{ litDetGar?.btnCancelar }}"
				(p-click)="onCancel()">
			</po-button>

			<po-button class="btn"
				p-label="{{ litDetGar?.btnExcluir }}"
				[p-disabled]="bOperacaoInclusao"
				(p-click)="thfModal.open()">
			</po-button>
			
			<po-modal #excluiGarantia
				p-title="Atenção!"
				[p-primary-action]="excluir"
				[p-secondary-action]="fechar">
				{{ litDetGar?.confirmExclusao }}
			</po-modal>
								
			<po-button class="btn"
				p-type="default"
				p-label="{{ lblBtnSalvar }}"
				p-type="primary"
				[p-loading]="bLoadingIncGar"
				(p-click)="confirmVerify()">
			</po-button>
		</div>
	</po-container>
	<jur-justif-modal #modJustif>
	</jur-justif-modal>
</po-page-detail>
