
<po-page-default
	[p-breadcrumb] = "breadCrumb"
	[p-title] = "pageTitle">

	<!-- Formulário -->
	<form [formGroup]="formGrupo">
		<div
			class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2"
			p-no-border="false"
		>
			<po-widget
				p-no-shadow="true" 
				class="juriLoadingCover po-lg-12 po-pr-0 po-pl-0"
			>
			<!-- loading -->
			<po-loading-overlay *ngIf="!isHiddenLoadGrupo"
				p-screen-lock="true"
				[hidden]="isHiddenLoadGrupo"
				p-text="{{ litDetGrupoUsu?.carregando }}" >
			</po-loading-overlay>
				<!-- Nome grupo -->
				<po-input
					class="po-lg-6 po-pl-0"
					p-label="{{ litDetGrupoUsu.form.nome }}"
					p-maxlength="100"
					formControlName="nome"
				>
				</po-input>
				<!-- Tipo de acesso-->
				<po-radio-group #tipoAcesso
					class="po-lg-6 po-pr-0 po-mt-1"
					name="tpAcesso"
					p-label="{{ litDetGrupoUsu?.form.tpAcesso }}"
					formControlName="tpAcesso"
					[p-options]="listTpAcesso"
					p-columns="2"
					(p-change)="showEscCredenciado()"
					[p-disabled]="hasAssJuridico"
				>
				</po-radio-group>
				<!-- Assuntos jurídicos relacionados -->
				<po-checkbox-group
					class="po-lg-12 po-pl-0 po-mt-1"
					name="assJuridicos"
					p-label="{{ litDetGrupoUsu.form.assJuridicos }}"
					[p-options]="listAssJuridicos"
					formControlName="assJuridicos"
					p-columns="4"
					p-optional=true
					(p-change)="showEscCredenciado()"
				>
				</po-checkbox-group>
				<!-- Escritório credenciado -->
				<po-widget *ngIf="showEscCred"
					p-no-shadow="true"
					class="po-lg-12 po-sm-12 po-md-12 po-pl-0 po-pr-0 po-mb-2 "
					p-title="{{ litDetGrupoUsu?.wdgCredenciado.titulo }}"
				>
					<div
						class="po-row po-lg-12 po-sm-12 po-md-12 po-pr-0 po-pl-0"
					>
						{{ litDetGrupoUsu?.wdgCredenciado.descricao }}
					</div>
					<!-- Combo escritório credenciado -->
					<po-combo
						class="po-pl-0 po-lg-5 po-mt-1"
						name="escritorioCred"
						p-label="{{ litDetGrupoUsu?.form.escritorioCred }}"
						[p-filter-service]="escritorioAdapterService"
						[p-filter-params]="filtroEsc"
						formControlName="escritorioCred"
					>
					</po-combo>
				</po-widget>

				<div class="po-mt-2">
					<!-- Combo dos Participantes -->
					<po-combo #comboParticipantes
						class="po-lg-3 po-sm-3 po-md-3 po-pl-0"
						name="participante"
						p-label = '{{ litDetGrupoUsu?.form.participante }}'
						(p-change) = 'vldAdicionaParticipante()'
						[p-filter-service]='participanteAdapterService'
						[p-filter-params]="filtroPart"
						formControlName="participante"
						>
					</po-combo>
			
					<!-- Adicionar Participante -->
					<po-button
						class = 'po-lg-3 po-mt-4'
						name = 'adicionaPart'
						p-type = 'primary'
						[p-disabled] = 'isDisabledAdicParticipante'
						(p-click) = 'novoParticipante()'
						p-label = '{{ litDetGrupoUsu?.botoes.novoParticipante }}'
						>
					</po-button>
				</div>
	
				<!-- Tabela que apresenta lista de Participantes -->
				<po-table class="po-lg-12 po-sm-12 po-md-12 po-pl-0 po-mt-2"
					[p-columns] = 'colParticipantes'
					[p-items] = 'listParticipantes'
					p-sort = 'true'
					p-striped = 'true'
					p-hide-text-overflow = 'true'
					>
				</po-table>
			</po-widget>
		</div>
	</form>
	<!-- Botões -->
	<po-container p-no-border="true">
		<div class="po-pull-right">
			<!-- Cancelar -->
			<po-button class="btn"
				p-label="{{ litDetGrupoUsu?.botoes.cancelar }}"
				(p-click)="previousURL()"
			>
			</po-button>
			<!-- Excluir -->
			<po-button class="btn"
				p-label="{{ litDetGrupoUsu?.botoes.excluir }}"
				[p-disabled]="isBtnExcDisabled"
				(p-click)="submitDeleteGrupo()"
				[p-loading]= "isLoadingBtnDelete"
			>
			</po-button>
			<!-- Salvar -->
			<po-button class="btn"
				p-type="default"
				p-label="{{ litDetGrupoUsu?.botoes.salvar }}"
				p-type="primary"
				[p-loading]= "isLoadingBtnSave"
				(p-click)="submitGrupo()"
				[p-disabled]="!isHiddenLoadGrupo"
			>
			</po-button>
		</div>
	</po-container>

</po-page-default>