:host ::ng-deep .btn{
	margin-left: 16px
}

:host ::ng-deep .uploadDoc .po-field-container {
    width: 100%;
}

:host ::ng-deep .uploadDoc po-field-container {
    width: 100%;
}

:host ::ng-deep .uploadDoc po-button.po-upload-button {
    width: 25%;
    float: left;
    /* padding: 0 8px; */
}

:host ::ng-deep .uploadDoc button.po-button.po-text-ellipsis {
    width: 100%;
}