<po-page-detail
	[p-breadcrumb]="breadcrumb"
	[p-title]="titleDet">
	<form [formGroup]="formDespesa" class="po-mb-lg-2">
	
		<po-container class="po-row juriLoadingCover po-mb-2"
			p-no-border="false">
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingDespesa"
				p-text="{{ litDetDes?.loadDes}}" >
			</po-loading-overlay>
			<div class="po-row po-lg-8 po-offset-lg-2 po-offset-xl-2">
				
				<po-combo #tipoDespesa 
					class="po-lg-8 form-group"
					name="tipo"
					p-label=" {{ litDetDes?.inputTipo }} "
					p-debounce-time=500
					[p-filter-service]='tpDespesaAdapterService'
					(p-change)="setValidContabil($event)"
					formControlName="tipo"
					[p-disabled]="bDisableIntegraCTB">
				</po-combo>

				<div class="po-lg-4 form-group">
					<po-datepicker
						name="data"
						formControlName="data"
						p-label="{{ litDetDes?.inputData}}"
						[p-disabled]="bDisableIntegraCTB">
					</po-datepicker>
				</div>
			
				<div class="po-row">
					<po-decimal class="po-lg-4 form-group"
						name="valor"
						p-label="{{ litDetDes?.inputValor }}"
						formControlName="valor"
						[p-disabled]="bDisableIntegraCTB">
					</po-decimal>
					<po-combo class="po-lg-4 form-group"
						name="moeda"
						p-label=" {{ litDetDes?.inputMoeda }} "
						p-debounce-time=500
						[p-filter-service]='moedaAdapterService'
						formControlName="moeda"
						[p-disabled]="bDisableIntegraCTB">
					</po-combo>
				</div>

				<div class="po-row form-group">
					<div class="po-lg-12">
						<po-textarea
							name="descricao"
							p-label="{{ litDetDes?.inputDesc }}"
							p-rows="8"
							formControlName="descricao">
						</po-textarea>
					</div>
				</div>

				<div class="po-lg-12 po-row po-mb-lg-2" *ngIf="bIntegraFinanceiro">
					<po-divider class="po-lg-12" p-label = " {{ litDetDes?.integraFinanceiro.integracaoFinanceira }} " ></po-divider>
					
					<po-input class="po-lg-2 form-group"
						name="intFinPrefixo"
						p-label=" {{ litDetDes?.integraFinanceiro.prefixo }} "
						p-maxlength="3"
						formControlName="intFinPrefixo"
						[p-disabled]="bDisableIntegraCTB">
					</po-input>

					<po-combo class="po-lg-4 form-group" #cmbFilialDest
						name="intFinFiliDest"
						p-label=" {{ litDetDes?.integraFinanceiro.FiliDest }} "
						p-debounce-time=500
						[p-filter-service]='filiaisAdapterService' 
						formControlName="intFinFiliDest"
						[p-disabled]="bDisableIntegraCTB"
						(p-change)="setFilialDest($event)">
					</po-combo>
					
					<po-combo class="po-lg-6 form-group"  #cmbNatureza
						name="intFinNatureza"
						p-label=" {{ litDetDes?.integraFinanceiro.natureza }} "
						p-debounce-time=500
						[p-filter-service]='naturezaAdapterService'
						formControlName="intFinNatureza"
						[p-disabled]="bDisableIntegraCTB">
					</po-combo>

					<po-select class="po-lg-6 form-group" #cmbTitulo
						name="intFinTitulo"
						[p-disabled]="bDisableIntegraCTB"
						p-label=" {{ litDetDes?.integraFinanceiro.Titulo }} "
						[p-options]="lsIntFinTitulo"
						formControlName="intFinTitulo"
						>
					</po-select>
					
					<po-combo class="po-lg-6 form-group" #cmbFornecedor 
						name="intFinFornecedor"
						p-label=" {{ litDetDes?.integraFinanceiro.fornecedor }} "
						p-debounce-time=500
						[p-filter-service]='fornecedorAdapterService'
						formControlName="intFinFornecedor"
						[p-disabled]="bDisableIntegraCTB">
					</po-combo>

					<po-combo class="po-lg-6 form-group" #cmbCondPagamento
						name="intFinCondPagto"
						p-label=" {{ litDetDes?.integraFinanceiro.CondPagto }} "
						p-debounce-time=500
						[p-filter-service]='condPagAdapterService'
						formControlName="intFinCondPagto"
						[p-disabled]="bDisableIntegraCTB">
					</po-combo>
					
					<po-combo class="po-lg-6 form-group" #cmbProduto
						name="intFinProduto"
						p-label=" {{ litDetDes?.integraFinanceiro.Produto }} "
						p-debounce-time=500
						[p-filter-service]='produtoAdapterService'
						formControlName="intFinProduto"
						[p-disabled]="bDisableIntegraCTB">
					</po-combo>

					<div class="po-lg-6 form-group">
						<po-datepicker
							name="intFinDataFinanc"
							formControlName="intFinDataFinanc"
							p-label="{{ litDetDes?.integraFinanceiro.intFinDataFinanc}}"
							[p-disabled]="bDisableIntegraCTB">
						</po-datepicker>
					</div>
				
					<po-combo class="po-lg-6 form-group" #cmbRateio
						name="intFinRateio"
						p-label=" {{ litDetDes?.integraFinanceiro.Rateio }} "
						p-debounce-time=500
						[p-filter-service]='rateioAdapterService'
						formControlName="intFinRateio"
						[p-disabled]="bDisableIntegraCTB">
					</po-combo>
				</div>
				<po-button 
					class="po-lg-3 po-mb-lg-1 po-ml-lg-1 po-row"
					p-label=" {{ litDetDes?.selecionarArquivo }} "
					(p-click)="getDocuments()">

				</po-button>
				<po-upload #docUpload
					class="po-lg-12 uploadDoc"
					p-url="/juri/JURLEGALPROCESS/anexo"
					p-multiple="true"
					(p-upload)="uploadFiles($event)"
					(p-success)="uploadSucess()"
					p-hide-send-button
					p-hide-select-button
					p-required>
				</po-upload>
				<po-button class="po-pull-right po-lg-3 po-ml-1"
					name="btnPesquisaAvan"
					p-label=" {{ litDetDes?.verTodosAnexos }} "
					[p-disabled]="btnVerAnexoEnabled"
					p-small="true"
					(p-click)="callAnexos()"
					p-type="link">
				</po-button>
			</div>
		</po-container>	
	</form>
	<div class="po-pull-right">
		<po-button class="btn"
			p-label="{{ litDetDes?.btnCancelar }}"
			(p-click)="onCancel()">
		</po-button>

		<po-button class="btn"
			p-label="{{ litDetDes?.btnExcluir }}"
			[p-disabled]="btnExcluirDisabled"
			(p-click)="modalExcluir.open()">
		</po-button>
		
		<po-modal #excluiDespesa
			p-title="Atenção!"
			[p-primary-action]="excluir"
			[p-secondary-action]="fechar">
			{{ litDetDes?.confirmExclusao }}
		</po-modal>
							
		<po-button class="btn"
			p-type="default"
			[p-label]="btnIncluirLabel"
			p-type="primary"
			[p-loading]="bLoadingIncGar"
			(p-click)="confirmVerify()">
		</po-button>
	</div>
	<jur-justif-modal #modJustif>
	</jur-justif-modal>
</po-page-detail>
