.sticky {
	z-index: 1;
	position: fixed;
	top: 50px;
	height: auto;
	display: block;
}

.sticky div {
	padding: 30px 10px;
}

.hide {
	display: none;
}

:host ::ng-deep .po-widget {
    margin-bottom: 24px !important;
    position: relative;
}