<po-page-default name="processPage"
	[p-actions]="pageActions"
	[p-breadcrumb]="breadcrumbProperties"
	p-title="{{ litProcesso?.meuProcesso }} {{ area }} ({{ cajuriTitulo }})">
	<po-widget class="juriLoadingCover"
		p-primary="boolean"
		p-primary-label="{{ litProcesso?.anexos }}"
		(p-primary-action)="openAttachments()"
		p-secondary-label="{{ litProcesso?.detalhes }}"
		(p-secondary-action)="openAltProcesso()">
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingProcesso"
			p-text="{{ litProcesso?.carregando }}" >
		</po-loading-overlay>
		<po-dynamic-view
			[p-fields]="camposProcesso"
			[p-value]="DadosProcesso">
		</po-dynamic-view>
	</po-widget>

	<!-- widget de valores -->
	<po-widget class="juriLoadingCover">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litProcesso?.valores}}
			</div>
		</div>
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingValores"
			p-text="{{ litProcesso?.valuesTable.carregando }}" >
		</po-loading-overlay>
		<po-table #gridValores
			[p-columns]="colGridValores"
			[p-items]="listValores"
			p-sort="false">
		</po-table>
	</po-widget>

	<!-- widget de contingencia -->
	<po-widget class="juriLoadingCover" *ngIf="mostraWidgetContingencia">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litProcesso?.contingencia}}
			</div>
		</div>
		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingContingencia"
			p-text="{{ litProcesso?.tableConting.carregando }}" >
		</po-loading-overlay>
		<po-table
			[p-columns]="colGridContingencia"
			[p-items]="listContingencia"
			p-sort="false">
		</po-table>
	</po-widget>

	<!-- widget de andamentos -->
	<po-widget class="juriLoadingCover" *ngIf="mostraWidgetAndamentos"
		p-primary-label="{{ litProcesso?.andamentos.verTodosAnd }}"
		p-secondary-label="{{ litProcesso?.andamentos.incluirAnd }}"
		(p-primary-action)="openAndamentos()"
		(p-secondary-action)="createAndamento()">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litProcesso?.andamentos.tituloAnd }}
			</div>
			<div class="po-sm-4 po-mt-2">
				<div class="po-pull-right po-clickable" (click)="toggleAndamentos = !toggleAndamentos">
					{{ toggleAndamentos ? 'Minimizar' : 'Maximizar' }} 
					<span class="po-icon {{ toggleAndamentos ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div>
		</div>

		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingAndamentos"
			p-text="{{ litProcesso?.andamentos.carregando }}" >
		</po-loading-overlay>
		<ng-container *ngIf="toggleAndamentos">
			<po-table
				[p-columns]="colAndamentos"
				[p-items]="listAndamentos"
				p-sort="true"
				p-hide-text-overflow="true">
			</po-table>
		</ng-container>
	</po-widget>

	<!-- widget de garantias -->
	<po-widget class="juriLoadingCover" *ngIf="mostraWidgetGarantias"
		p-primary-label="{{ litProcesso?.btnVerTodasGar }}"
		p-secondary-label="{{ litProcesso?.btnIncluirGar }}"
		(p-primary-action)="openGarantias()"
		(p-secondary-action)="createGarantia()">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litProcesso?.tituloGar }}
			</div>
			<div class="po-sm-4 po-mt-2">
				<div class="po-pull-right po-clickable" (click)="toggleGarantias = !toggleGarantias">
					{{ toggleGarantias ? litProcesso?.minimizar : litProcesso?.maximizar }} 
					<span class="po-icon {{ toggleGarantias ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div>
		</div>

		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingGarantias"
			p-text="{{ litProcesso?.loadGar }}" >
		</po-loading-overlay>
		<ng-container *ngIf="toggleGarantias">
			<po-table
				[p-columns]="colGarantias"
				[p-items]="garantiasList"
				p-sort="true">
			</po-table>
		</ng-container>
	</po-widget>

	<!-- widget de prazos e tarefas -->
	<po-widget class="juriLoadingCover" *ngIf="mostraWidgetTarefas"
		p-primary-label="{{ litProcesso?.tarefas.btnVerTodasTarefa }}"
		(p-primary-action)="openTarefas()"
		p-secondary-label="{{ litProcesso?.tarefas.btnIncluirTarefa }}"
		(p-secondary-action)="createTarefa()">

		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litProcesso?.tarefas.tituloTarefas }}
			</div>
			<div class="po-sm-4 po-mt-2">
				<div class="po-pull-right po-clickable" (click)="toggleTarefas = !toggleTarefas">
					{{ toggleTarefas ? litProcesso?.minimizar : litProcesso?.maximizar }} 
					<span class="po-icon {{ toggleTarefas ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div>
		</div>

		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingTarefas"
			p-text="{{ litProcesso?.tarefas.loadTarefas }}" >
		</po-loading-overlay>
		<ng-container *ngIf="toggleTarefas">
			<po-table
				[p-columns]="colTarefas"
				[p-items]="listTarefas"
				p-sort="true">
			</po-table>
		</ng-container>
	</po-widget>

	<!-- widget de pedidos -->
	<po-widget class="juriLoadingCover" *ngIf="mostraWidgetPedidos"
		p-primary-label="{{ litProcesso?.pedidos.btnVerTodos }}"
		p-secondary-label="{{ litProcesso?.pedidos.btnIncluirNovoPed }}"
		(p-primary-action)="openPedidos()"
		(p-secondary-action)="createPedido()">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
				{{ litProcesso?.pedidos.tituloPedidos }}
			</div>
			<div class="po-sm-4 po-mt-2">
				<div class="po-pull-right po-clickable" (click)="togglePedidos = !togglePedidos">
					{{ togglePedidos ? litProcesso?.minimizar : litProcesso?.maximizar }} 
					<span class="po-icon {{ togglePedidos ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div>
		</div>

		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingPedidos"
			p-text="{{ litProcesso?.pedidos.loadPedidos }}" >
		</po-loading-overlay>
		<ng-container *ngIf="togglePedidos">
			<po-table
				[p-columns]="colPedidos"
				[p-items]="listPedidos"
				p-sort="true">
			</po-table>
		</ng-container>
	</po-widget>

	<!-- widget de despesas -->
	<po-widget class="juriLoadingCover" *ngIf="mostraWidgetDespesas"
		p-primary-label="{{ litProcesso?.despesas.btnVerTodos }}"
		p-secondary-label="{{ litProcesso?.despesas.btnIncluirNovoDesp }}"
		(p-primary-action)="openDespesas()"
		(p-secondary-action)="createDespesas()">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">{{ litProcesso?.despesas.tituloDespesas }}</div>
			<div class="po-sm-4">
				<div class="po-pull-right po-clickable" (click)="toggleDespesas = !toggleDespesas">
					{{ toggleDespesas ? litProcesso?.minimizar : litProcesso?.maximizar }} 
					<span class="po-icon {{ toggleDespesas ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div>
		</div>

		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingDespesas"
			p-text="{{ litProcesso?.despesas.loadDespesas }}" >
		</po-loading-overlay>
		<ng-container *ngIf="toggleDespesas">
			<po-table
				[p-columns]="colDespesas"
				[p-items]="listDespesa"
				p-sort="true">
			</po-table>
		</ng-container>
	</po-widget>

	<!-- widget de encerramento -->
	<po-widget class="juriLoadingCover">
		<div class="po-row">
			<div class="po-font-subtitle po-sm-8 po-md-8 po-lg-8">
					{{ litProcesso?.encerramento.encerramento }}
			</div>
			<div class="po-sm-4">
				<div class="po-pull-right po-clickable" (click)="toggleEncerra = !toggleEncerra; getChave()">
					{{ toggleEncerra ? litProcesso?.minimizar : litProcesso?.maximizar }} 
					<span class="po-icon {{ toggleEncerra ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"></span>
				</div>
			</div>
		</div>

		<po-loading-overlay
			p-screen-lock="false"
			[hidden]="isHideLoadingEncerramento"
			p-text="{{ litProcesso?.encerramento.loadEnc }}" >
		</po-loading-overlay>
		<ng-container *ngIf="toggleEncerra">
			<form [formGroup]="formEncerramento">
				<div class="po-mt-2">
					<!-- data -->
					<div class="po-lg-2 form-group">
						<po-datepicker
							name='data'
							formControlName="dataEncerramento"
							p-label="{{ litProcesso?.encerramento.dataEnc }}">
						</po-datepicker>
					</div> 
					<!-- motivo -->
					<div class="po-lg-6 form-group">
						<po-select
							name='motivo'
							p-label="{{ litProcesso?.encerramento.motivo }}"
							[p-options]="listMotivos"
							formControlName="motivo">
						</po-select>
					</div>
					<!-- usuario -->
					<div class="po-lg-4 form-group">
						<po-input
							name="usr"
							p-readonly= 'true'
							formControlName="usuario"
							p-label="{{ litProcesso?.encerramento.usuario}}"
							p-disabled=true>
						</po-input>
					</div>
					<div [class]="classDetEncerramento">
						<po-input
							name="detalhe"
							p-clean='true'
							formControlName="detalhe"
							p-label="{{ litProcesso?.encerramento.detalhe}}">
						</po-input>
					</div>
				</div>

				<!-- Campos Adicionais -->
				<po-dynamic-form #encForm
					[p-fields]="listExtraFields"
					[p-value]="oValores">
				</po-dynamic-form>
				
				<div [class]="classBtnSalvarSituac">
					<po-button
						p-small="false"
						p-label="{{ btnSituacaoProcess }}"
						(p-click)="beforeSubmitEnc()">
					</po-button>
				</div>
			</form>
		</ng-container>
	</po-widget>

	<!--Modal com opções de enviar link via whats e exportar para PDF-->
	<po-modal #compartilhar
		p-title="{{ litProcesso?.compartilhar.title}}"
		[p-primary-action]="confirmar"
		[p-secondary-action]="fechar">

		<po-radio-group
			name="radioGroupBasic"
			[p-options]="listCompResumo"
			(p-change)="setOpcao($event)">
		</po-radio-group>
	
		<p *ngIf="opcaoCompartilhar== '2'" class="po-icon po-icon-exclamation po-text-color-07">
			{{litProcesso?.compartilhar.msgInfo}}
		</p>
	</po-modal>
	
	<jur-justif-modal #modJustif>
	</jur-justif-modal>
</po-page-default>

<!-- Container oculto que aparecerá apenas ao scrollar a página -->
<po-container id="StickyWidget" class="po-wrapper po-page sticky hide" p-no-border="false" p-no-padding="true" p-no-shadow="true">
	<div class="po-lg-12">
		<po-dynamic-view
			[p-fields]="CamposProcessoSticky"
			[p-value]="DadosProcessoSticky">
		</po-dynamic-view>
	</div>
</po-container>