
<po-page-default
[p-breadcrumb]="breadcrumb"
p-title="{{ litFav?.favoritos }}">
	<po-container class="po-lg-12">
		<po-loading-overlay *ngIf="!isHideLoadingTabFavoritos"
			p-screen-lock="false"
			[hidden]="isHideLoadingTabFavoritos"
			p-text="{{ litFav?.loadFav }}"> 
		</po-loading-overlay>
		<po-table *ngIf="isHideLoadingTabFavoritos"
			[p-columns]="colFavoritos"
			[p-items]="listFavoritos"
			p-sort="false"
			[p-striped]="true">
		</po-table>
		<po-container class="po-lg-12" style="padding-left: 38%;" name="cntNavegation" p-no-border="true">
			<po-button class="po-ml-lg-4 po-lg-2" 
				name="btnPrevious"
				p-label="{{ litFav?.anterior }}"
				p-small="true"
				p-disabled={{btnPreDisable}}
				(p-click)="showMore('previous')">
			</po-button>
			<po-button class="po-lg-2"
				name="btnNext"
				p-label="{{ litFav?.proximo }}"
				p-small="true"
				p-disabled={{btnNxtDisable}}
				(p-click)="showMore('next')">
			</po-button>
		</po-container>       
	</po-container>
</po-page-default> 