<meta charset="utf-8">
<po-page-detail
	[p-breadcrumb]="breadcrumb"
	p-title="{{ tituloPagina }}">
	<po-loading-overlay
		p-screen-lock="true"
		[hidden]="isLoadingDetalhes"
		p-text="{{ litAltProcesso?.loadGernerico }}" >
	</po-loading-overlay>
	
	<div style="margin-top: -20px;">
		<po-stepper #stepper
			p-orientation="vertical"
			(p-change-step)="changeStep(stepper)">
			
			<po-step
				p-label="{{ litAltProcesso?.detalhes.stepperDetalhe }}">
				<po-container class="po-lg-12 po-pl-5 po-pr-3 juriLoadingCover" 
					p-no-border="true">
					<po-widget p-no-shadow="true">
						<form [formGroup]="formAltProcesso">
							<div class="po-row">
								<div class="po-row po-lg-12">
									<!-- Unidade -->
									<po-combo #comboUnidade
										class="po-lg-6 po-pl-0"
										name="unidade"
										p-label="{{ litAltProcesso?.detalhes.unidade }}"
										[p-filter-service]='unidadeAdapterService'
										formControlName="unidade"
										p-debounce-time="500"
										p-disabled-init-filter="false">
									</po-combo>
									<!-- Area -->
									<po-combo
										[(ngModel)]="area"
										class="po-lg-6 po-pr-0"
										name="area"
										p-label="{{ litAltProcesso?.detalhes.area }} *"
										[p-filter-service]='areaJurAdapterService'
										formControlName="area"
										p-debounce-time="500"
										p-disabled-init-filter="false">
									</po-combo>
								</div>
								<div class="po-row po-lg-12">
									<!-- Gerente -->
									<po-combo #comboPart1
										[(ngModel)]="partic1"
										class="po-lg-4 po-pl-0"
										name="partic1"
										p-label="{{ litAltProcesso?.detalhes.partic1 }}"
										[p-filter-service]='participAdapterService'
										[p-filter-params]="filtroPartic"
										formControlName="partic1"
										p-debounce-time="500"
										p-disabled-init-filter="false">
									</po-combo>
									<!-- Advogado responsável -->
									<po-combo #comboPart2
										class="po-lg-4 "
										name="partic2"
										p-label="{{ litAltProcesso?.detalhes.partic2 }}"
										[p-filter-service]='participAdapterService'
										[p-filter-params]="filtroPartic"
										formControlName="partic2"
										p-debounce-time="500"
										p-disabled-init-filter="false">
									</po-combo>
									<!-- Estagiário -->
									<po-combo #comboPart3
										class="po-lg-4 po-pr-0"
										name="partic3"
										p-label="{{ litAltProcesso?.detalhes.partic3 }}"
										[p-filter-service]='participAdapterService'
										[p-filter-params]="filtroPartic"
										formControlName="partic3"
										p-debounce-time="500"
										p-disabled-init-filter="false">
									</po-combo>
								</div>
								<div class="po-lg-12">
									<!-- Assunto -->
									<po-combo #comboAssunto
										class=" po-pl-0 po-lg-4 "
										name="assunto"
										p-label="{{ litAltProcesso?.detalhes.assunto }}"
										[p-filter-service]='assuntoAdapterService'
										formControlName="assunto">
									</po-combo>

									<!-- Rito -->
									<po-combo #comboRito
										class="po-lg-4"
										name="rito"
										p-label="{{ litAltProcesso?.detalhes.rito }}"
										[p-filter-service]='ritoAdapterService'
										formControlName="rito"
										p-debounce-time="500"
										p-disabled-init-filter="false">
									</po-combo>

									<!-- Centro de custo -->
									<po-combo #comboCCusto
										class="po-lg-4 po-pr-0"
										name="centroCusto"
										p-label="{{ litAltProcesso?.detalhes.centroCusto }}"
										[p-filter-service]='custoAdapterService'
										formControlName="centroCusto"
										p-debounce-time="500"
										p-disabled-init-filter="false">
									</po-combo>
								</div>
								
								<div class="po-row po-lg-12">
									<!-- Detalhamento do objeto -->
									<po-textarea
										class="po-lg-6 po-pl-0 helpInLine"
										p-maxlength=350
										p-label="{{ litAltProcesso?.detalhes.detObjeto }}"
										p-help= "{{ litAltProcesso?.detalhes.limiteHelp }}"
										formControlName="detObjeto"
										p-placeholder="{{ litAltProcesso?.detalhes.detObjetoHolder }}">
									</po-textarea>

									<!-- Observações -->
									<po-textarea
										class="po-lg-6 po-pr-0 helpInLine"
										p-maxlength=350
										p-label="{{ litAltProcesso?.detalhes.observacoes }}"
										p-help= "{{ litAltProcesso?.detalhes.limiteHelp }}"
										formControlName="observacao"
										p-placeholder="{{ litAltProcesso?.detalhes.observacaoHolder }}">
									</po-textarea>
								</div>

								<div class="po-row po-lg-12">
									<!-- Data Valor -->
									<po-datepicker class="po-lg-3 po-pl-0"
										name="dataVlr"
										p-label="{{ litAltProcesso?.detalhes.dataValor }}"
										formControlName="dataVlr">
									</po-datepicker>
									<!-- Valor causa -->
									<po-decimal class="po-lg-5"
										name="vlrCausa"
										p-label="{{ litAltProcesso?.detalhes.vlrCausa }}"
										formControlName="vlrCausa"
										p-maxlength=11
										p-thousand-maxlength="10"
										p-placeholder="{{ litAltProcesso?.detalhes.simboloMoeda }}"
										(p-change)="setCampoMoeda($event)">
									</po-decimal>
										<!-- Forma de correção -->
									<po-combo class="po-lg-4 po-pr-0"
										name="fCorrecao"
										p-label="{{ litAltProcesso?.detalhes.formaCorrecao }}"
										[p-filter-service]='fCorrecaoAdapterService'
										[p-filter-params]="filtroFCorrecao"
										formControlName="fCorrecao"
										p-debounce-time="500"
										p-disabled-init-filter="false">
									</po-combo>
								</div>
							</div>
						</form>
					</po-widget>

					<div class="po-row po-mt-2" style="justify-content: flex-end;">
						<!-- Cancelar -->
						<po-button 
							class="po-pull-right"
							p-small="false"
							p-label="{{ litAltProcesso?.detalhes.btnCancelar }}"
							(p-click)="onCancel()">
						</po-button>
						<!-- Alterar Processo -->
						<po-button class="btn po-pull-right"
							p-type="default"
							p-label="{{ litAltProcesso?.detalhes.btnAltProc }}"
							p-type="primary"
							[p-loading]="isLoadingAlteraProcesso"
							(p-click)="beforeSubmit()">
						</po-button>
					</div>
				</po-container>
			</po-step>
			
			<!-- ENVOLVIDOS   -->
			<po-step
				p-label="{{ litAltProcesso?.envolvidos.stepperEnvolvido }}">
				<po-container 
					*ngIf="isEditaEnvolvido"
					class="po-lg-12 po-pl-5 po-pr-5 juriLoadingCover" 
					p-no-border="true">
					<po-widget p-no-shadow="true">
						<form [formGroup]="formEnvolvido">
							<div class="po-row po-lg-12">
								<!-- Polo -->
								<po-combo #envolvidoPolo
									class="po-lg-4 po-pl-0"
									name="polo"
									p-label="{{ litAltProcesso?.envolvidos.polo }}"
									[p-options]="listPolos"
									formControlName="polo"
									(p-change)="filterTpEnvol($event)">
								</po-combo>

								<!-- Tipo de Envolvimento-->
								<po-combo #envolvidoTipo
									class="po-lg-5"
									name="envolvimento"
									p-label="{{ litAltProcesso?.envolvidos.tipoEnvolvimento }}"
									[p-filter-service]='tpEnvolvAdapterService'
									[p-filter-params]="filtroTipoEnv"
									[p-disabled]="isDisabletpEnvol"
									formControlName="tipoEnvol"
									p-debounce-time="500"
									p-disabled-init-filter="false">
								</po-combo> 

								<!-- Principal?-->
								<po-select
									class="po-lg-3 po-pr-0"
									name="principal"
									p-label="{{ litAltProcesso?.envolvidos.principal }}"
									[p-options]="listPrincipal"
									formControlName="principal">
								</po-select>
							</div>

							<div class="po-row po-lg-12">
								<!-- Entidade Origem -->
								<po-combo #tipoEnvolvido
									[(ngModel)]="entidade"
									name="entidade"
									class="po-lg-3 po-pl-0" 
									p-label="{{ litAltProcesso?.envolvidos.entidade }}"
									[p-options]="ListEntOrigem"
									formControlName="entidade"
									(p-change)="setComboNomeEntidade($event)">
								</po-combo>

								<!-- Nome Entidade -->
								<po-combo #envolvidoNome class="po-lg-6"
									name="cmbNomeEnv"
									p-label="{{ litAltProcesso?.envolvidos.nome }}"
									formControlName="nome"
									p-filter-mode="contains"
									(p-change)="incluiCpfCnpj()"
									(keydown)="vldParteCont($event)"
									[p-filter-service]="(entidade == 'SRA' ? funcionarioAdapterService : nomeEnvAdapterService)"
									p-debounce-time="500"
									p-disabled-init-filter="false">
								</po-combo>

								<!-- CPf / CNPJ -->
								<po-input class="po-lg-3 po-pr-0"
									p-label="{{ litAltProcesso?.envolvidos.cpf }}"
									formControlName="cpfcnpj"
									[p-disabled]="isDisableCpfCnpj"
									p-optional="true">
								</po-input> 
							</div>

							<div class="po-row po-lg-12">
								<!-- Cargo -->
								<po-combo class="po-lg-6 po-pl-0"
									p-label="{{ litAltProcesso?.envolvidos.cargo }}"
									[p-filter-service]='cargosAdapterService'
									formControlName="cargo"
									p-optional="true">
								</po-combo> 

								<!-- Local de Trabalho -->
								<po-combo class="po-lg-6 po-pr-0"
									p-label="{{ litAltProcesso?.envolvidos.localTrabalho }}"
									[p-filter-service]='localTrabAdapterService'
									formControlName="localtrab"
									[p-disabled]="isDisableLocTrabalho"
									p-optional="true">
								</po-combo>
							</div>

							<div class="po-row po-lg-12">
								<!-- Data admissao -->
								<po-datepicker
									class="po-lg-3 po-pl-0"
									name="dataAdm"
									p-label="{{ litAltProcesso?.envolvidos.dataAdmissao }}"
									[p-max-date]="maxDate"
									formControlName="dataAdm"
									p-optional="true">
								</po-datepicker>

								<!-- Data Demissao -->
								<po-datepicker
									class="po-lg-3"
									name="dataDem"
									p-label="{{ litAltProcesso?.envolvidos.dataDemissao }}"
									[p-max-date]="maxDate"
									formControlName="dataDem"
									p-optional="true">
								</po-datepicker>
							</div>
						</form>
					</po-widget>

					<!--Botões de ação Envolvidos-->
					<div class="po-row po-mt-2" style="justify-content: flex-end;">
						<po-button
							class=" btn po-pull-right"
							p-small="false"
							p-label="Cancelar"
							(p-click)="cancelEnvolvido()">
						</po-button>
						
						<po-button
							class=" btn po-pull-right"
							p-type="primary"
							p-small="false"
							p-label="{{ btnSalvarEnvolvido }}"
							(p-click)="salvarEnvolvido()">
						</po-button>
					</div>
				</po-container>

				<po-container class="po-lg-12 po-pl-5 po-pr-5" p-no-border="true">
					<!-- Grid Envolvidos-->
					<po-widget class="juriLoadingCover" *ngIf="! isEditaEnvolvido" p-no-shadow="true">
						<po-table 
							[p-columns]="colEnvolvidos"
							[p-items]="itemsEnvolv"  p-striped="true" p-sort="false">
						</po-table>
					</po-widget>
					
					<!--Botões de ação Grid Envolvidos-->
					<div *ngIf="! isEditaEnvolvido"
						class= "po-row po-mt-2"
						style= "justify-content: flex-end;">
						<po-button
							class=" btn po-pull-right"
							p-small="false"
							p-label="{{ litAltProcesso?.envolvidos.novoEnvolvido }}"
							(p-click)="novoEnvolvido()">
						</po-button>
					</div>
				</po-container>

				<!-- MODAL PARTE CONTRÁRIA -->
				<po-modal #confirmInclPtC
					p-title="{{litAltProcesso?.parteContraria.partContraria}}" 
					[p-primary-action]="incluir"
					[p-secondary-action]="fechar">
					{{ litAltProcesso?.parteContraria.verInclPtCont }} {{nomePartCont}} {{ litAltProcesso?.parteContraria.verInclPtCont2 }}
				</po-modal>
				<po-modal #confirmExclEnv
					p-title="{{litAltProcesso?.envolvidos.titExcEnvolvido}}"
					[p-primary-action]="excluirEnv"
					[p-secondary-action]="closeEnv">
					{{ litAltProcesso?.envolvidos.verExclEnv }} {{nomeEnvolvido}} {{ litAltProcesso?.envolvidos.verExclEnv2 }}
				</po-modal>
				<po-modal #modalInclPtC
					p-title="Incluir parte contrária" 
					[p-primary-action]="confirmar"
					[p-secondary-action]="cancelar">
					<po-container class="po-lg-12 po-mb-2 po-mt-2" p-no-border="true" style="padding: 2px">
						<form [formGroup]="formParteCont">
							<!-- Nome Parte Contraria -->
							<div class="po-row">
								<po-input class="po-lg-8"
									p-label="{{ litAltProcesso?.parteContraria.nome}}"
									formControlName="nomePtContraria"
									p-optional="false">
								</po-input>
								<!-- Tipo de Pessoa  -->
								<po-select
									class="po-lg-4 po-md-3"
									p-label="{{ litAltProcesso?.parteContraria.tipoPessoa}}"
									[p-options]="listTpPessoa"
									formControlName="tpPessoa">
								</po-select>
							</div>
							<div class="po-row">
								<!-- CPF / CNPJ -->
								<po-input class="po-lg-5"
									p-label="{{ litAltProcesso?.parteContraria.cgc}}"
									formControlName="cpfcnpjPtCont">
								</po-input>
								<!-- email -->
								<po-email class="po-lg-7"
									p-label="{{ litAltProcesso?.parteContraria.email}}"
									formControlName="email">
								</po-email>
							</div>
						</form>
					</po-container>
				</po-modal>
			</po-step>

			<!-- INSTANCIA   -->
			<po-step
				p-status="default"
				p-label="{{ litAltProcesso?.instancia.stepperInstancia }}">
				<po-container
					*ngIf="isEditaInstancia"
					class="po-lg-12 po-pl-5 po-pr-5 juriLoadingCover"
					p-no-border="true">
					<po-widget p-no-shadow="true">
						<form [formGroup]="formInstancia">
							<div class="po-row">
								<!-- Processo Origem -->
								<po-switch
									[class]="classSwitch"
									p-label="{{ litAltProcesso?.instancia.processoOrigem }}" 
									p-label-off="{{litAltProcesso?.listSimNao.nao}}"
									p-label-on="{{litAltProcesso?.listSimNao.sim}}"
									name="atual"
									formControlName="atual"
									(p-change)="habilitaInstOri()">
								</po-switch>

								<!-- Instância -->
								<po-select 
									[class]="classInstancia"
									name="instancia"
									p-label="{{ litAltProcesso?.instancia.instancia }}"
									[p-options]="listInstancia"
									formControlName="instancia">
								</po-select>

								<!-- Data de distribuição -->
								<po-datepicker id="dtDistr"
									[class]="classDtDistr"
									name="dataDistrib"
									p-label="{{ litAltProcesso?.instancia.dataDistribuicao }}"
									[p-max-date]="maxDate"
									formControlName="dtDistrib"
									p-optional="true">
								</po-datepicker>

								<!-- Instância Origem -->
								<po-combo #instaOrigem
									*ngIf="isDisableInsOri"
									class="po-lg-4"
									name="instanciaOri"
									p-label="{{ litAltProcesso?.instancia.instanciaOrigem }}"
									formControlName="instanciaOri"
									[p-filter-service]='buscaInstanciasOrigens'>
								</po-combo>

								<!-- Natureza -->
								<po-combo
									[(ngModel)]="natureza"
									class="po-lg-4"
									name="natureza"
									p-label="{{ litAltProcesso?.instancia.natureza }}"
									[p-options]="listNaturezas"
									formControlName="natureza"
									(p-change)="chooseNat($event)">
								</po-combo>

								<!-- Tipo de ação -->
								<po-combo #tipoAcao
									class="po-lg-4 "
									name="tipoAcao"
									p-label="{{ litAltProcesso?.instancia.tipoAcao }}"
									formControlName="tipoAcao"
									p-tooltip="{{litAltProcesso?.instancia.tooltipTipoAcao}}"
									p-tooltip-position="top"
									[p-disabled]="isDisabletpAcao"
									[p-filter-service]="tpAcaoAdapterService"
									p-debounce-time="500"
									p-disabled-init-filter="false">
								</po-combo>

								<!-- Numero do Processo -->
								<div class="po-lg-4">
									<po-input
										name="numPro"
										p-label="{{ litAltProcesso?.instancia.numeroProcesso }}"
										p-placeholder="{{ litAltProcesso?.instancia.digiteProcesso }}"
										formControlName="processo"
										(focusout)="validaNumPro()">
									</po-input>
								</div>

								<!-- Comarca -->
								<po-combo
									class="po-lg-4"
									name="comarca"
									p-label="{{ litAltProcesso?.instancia.comarca }}"
									[p-filter-service]='comarcasAdapterService'
									formControlName="comarca"
									(p-change)="buscaListaForos($event)"
									p-debounce-time="500"
									p-disabled-init-filter="false">
								</po-combo>

								<!-- Foro -->
								<po-combo #comboForo
									class="po-lg-4"
									name="foro"
									p-label="{{ litAltProcesso?.instancia.foro }}"
									formControlName="foro"
									[p-options]="listForo"
									(p-change)="buscaListaVaras($event)"
									[p-disabled]="isDisableForo"
									[p-filter-service]="foroAdapterService"
									p-debounce-time="500"
									p-disabled-init-filter="false">
								</po-combo>

								<!-- Vara -->
								<po-combo #comboVara
									class="po-lg-4 "
									name="vara"
									p-label="{{ litAltProcesso?.instancia.vara }}"
									[p-options]="listVara"
									formControlName="vara"
									[p-disabled]="isDisableVara"
									[p-filter-service]="varaAdapterService"
									p-debounce-time="500"
									p-disabled-init-filter="false">
								</po-combo>

								<!-- Correspondente -->
								<po-combo #comboEscritorio
									class="po-lg-4"
									name="correspondente"
									p-label="{{ litAltProcesso?.instancia.escritorio }}"
									[p-filter-service]='escritorioAdapterService'
									[p-filter-params]="filtroEscritorio"
									formControlName="correspondente"
									p-optional="true"
									p-debounce-time="500"
									p-disabled-init-filter="false">
								</po-combo>

								<!-- Data de Encerramento -->
								<po-datepicker id="dtEncerra"
									class="po-lg-4"
									name="dtEncerra"
									p-label="{{ litAltProcesso?.instancia.dataEncInst }}"
									[p-max-date]="maxDate"
									formControlName="dtEncerra"
									p-optional="true">
								</po-datepicker>
							</div>
						</form>
					</po-widget>

					<!--Botões de ação Instancias -->
					<div class="po-row po-mt-2" style="justify-content: flex-end;">
						<po-button
							class=" btn po-pull-right"
							p-small="false"
							p-label="Cancelar"
							(p-click)="cancelInstancia()">
						</po-button>

						<po-button
							class=" btn po-pull-right"
							p-type="primary"
							p-small="false"
							p-label="{{ btnSalvarInstancia }}"
							(p-click)="salvarInstancia()">
						</po-button>
					</div>
				</po-container>

				<po-container class="po-lg-12 po-pl-5 po-pr-5" p-no-border="true">
					<!-- Grid Instancias-->
					<po-widget class="juriLoadingCover" *ngIf="! isEditaInstancia" p-no-shadow="true">
						<po-table 
							[p-columns]="colInstancia"
							[p-items]="itemsInstancia"
							p-striped="true"
							p-sort="false">
						</po-table>
					</po-widget>
					
					<!--Botões de ação Grid Instancias -->
					<div *ngIf="! isEditaInstancia"
						class= "po-row po-mt-2"
						style= "justify-content: flex-end;">
						<po-button
							class=" btn po-pull-right"
							p-small="false"
							p-label="{{ litAltProcesso?.instancia.novaInstancia }}"
							(p-click)="novaInstancia()">
						</po-button>
					</div>

					<po-modal #confirmExclInsta
						p-title="{{litAltProcesso?.instancia.titExcInstancia}}"
						[p-primary-action]="excluirInsta"
						[p-secondary-action]="closeInsta">
						{{ litAltProcesso?.instancia.verExclInsta }} {{nomeInstancia}} {{ litAltProcesso?.instancia.verExclInsta2 }}
					</po-modal>
				</po-container>
			</po-step>

			<!-- Campos Adicionais-->
			<po-step *ngIf="hasExtraFields"
				p-status="default"
				p-label="{{litAltProcesso?.camposAdic.titExtraFields}}">
				<po-container class="po-lg-12 po-pl-5 po-pr-5" p-no-border="true">
					<po-loading-overlay
						p-screen-lock="true"
						[hidden]="isHideLoadCmpAdic"
						p-text="{{ litAltProcesso?.loadGernerico }}">
					</po-loading-overlay>

					<po-widget p-no-shadow="true">
						<po-dynamic-form
							#customForm
							[p-fields]="listExtraFields"
							[p-value]="oValores">
						</po-dynamic-form>
					</po-widget>

					<div class="po-lg-12 po-pr-0">
						<po-button class="po-pull-right po-lg-2 po-pr-0"
							p-label="{{litAltProcesso?.camposAdic.btnSalvarAlt}}"
							[p-loading]="isLoadingAlteraProcesso"
							p-type="primary"
							(p-click)="beforeSubmit()">
						</po-button>
					</div>
				</po-container>
			</po-step>
		</po-stepper>
	</div>

	<!-- Modal Justificativa Encerramento -->
	<jur-justif-modal #modJustif>
	</jur-justif-modal>

	<!-- Modal Justificativa Correspondente -->
	<jur-justif-modal #modCorresp>
	</jur-justif-modal>

	<!-- Modal Valida CNJ -->
	<po-modal #modalValidaCNJ
		p-title="{{litAltProcesso?.modais.numProcInvalido}}"
		[p-secondary-action]="cancelValidCnj"
		[p-primary-action]="continueValidCnj">
		{{ litAltProcesso?.modais.invalidCNJ }}
	</po-modal>

</po-page-detail>