<po-page-default 
	[p-breadcrumb]="breadcrumb"
	p-title="{{ tituloPagina }}">
	<div class="po-lg-12 po-md-12 po-pl-0 po-pr-0 po-mb-2">
		<po-button
			p-label="{{ btnNovoLabel }}"
			p-type="primary"
			(p-click)="callDetail()">
		</po-button>
		<div class="jurAlignButton po-lg-2 po-md-2 po-pr-0 po-pull-right">
			<po-combo
				name="ato"
				p-placeholder="{{ litAnd?.pesquisarAnd }}"
				p-label=" "
				[p-filter-service]='fwModelAdaptorService'
				[p-filter-params]="adaptorParamAtoProcessual"
				(p-change)="search()"
				p-icon="po-icon-search"
				[(ngModel)]="searchKey"
				p-change-on-enter="true">
			</po-combo>
		</div>
	</div>
	<po-container class="juriLoadingCover po-lg-12 po-pr-0 po-pl-0">
		<po-loading-overlay
		p-screen-lock="true"
		[hidden]="isHideLoadingAndamentos"
		p-text="{{ litAnd?.carregando }}" >
		</po-loading-overlay>
		<po-table
			[p-columns]="colAndamentos"
			[p-items]="listAndamentos"
			p-striped="true"
			p-sort="true"
			p-striped="true"
			(p-show-more)="showMore()"
			[p-show-more-disabled]="isShowMoreDisabled"
			p-hide-text-overflow="true">
		</po-table>
	</po-container>

</po-page-default>