<po-page-default
	p-title="{{ litUnidades?.titulo }}"
	[p-breadcrumb]="breadcrumb">
	<!-- Cabeçalho -->
	<div class="po-lg-12 po-md-12 po-pl-0 po-pr-0 po-mb-2">
		<!-- Botão de nova unidade-->
		<po-button 
			p-type="default"
			p-label="{{ litUnidades?.btnNovaUnidade }}" 
			p-type="primary"
			(p-click)="callUnidades('')">
		</po-button>

		<!-- Pesquisa -->
		<div class="jurAlignButton po-lg-2 po-md-2 po-pr-0 po-pull-right">
			<po-combo
				name="searchUnidades" 
				[(ngModel)]="searchKey"
				p-placeholder="{{ litUnidades?.pesquisar }}" 
				p-icon="po-icon-search"
				(p-change)="search()"
				[p-filter-service]='fwModelAdaptorService'
				[p-filter-params]="adaptorParamUnidades"
				p-change-on-enter="true"
				>
			</po-combo>
		</div>

	</div>

	<!-- Grid-->
	<po-container class="juriLoadingCover po-lg-12 po-pr-0 po-pl-0">

		<po-loading-overlay *ngIf="!isHideLoadingGrig"
			p-screen-lock="false"
			[hidden]="isHideLoadingGrig"
			p-text="{{ litUnidades?.loadProv }}"> 
		</po-loading-overlay>
		<!-- Tabela com o retorno de unidades-->
		<po-table
			[p-columns]="columns"
			[p-items]="listUnidades"
			p-striped="true"
			p-sort="true"
			(p-show-more)="showMore()"
			[p-show-more-disabled]="isShowMoreDisabled"
			p-hide-text-overflow="true">
		</po-table>

	</po-container> 
</po-page-default>
