<po-page-default
	[p-breadcrumb]="breadcrumb"
	[p-title]="titleDet">
	<div>
		<po-loading-overlay
			p-screen-lock="true"
			[hidden]="isHideLoadingExporta"
			p-text="{{ litDtPqAvan?.loadExport }}" >
		</po-loading-overlay>

		<!-- Combo de Filtros -->
		<po-combo
			class="po-pl-lg-0 po-lg-2 po-pr-2"
			name="filtrosSalvos"
			p-placeholder="{{ litDtPqAvan?.formPesqAvan.filtSalv }}"
			[p-disabled]="isNoFilter"
		>
		</po-combo>

		<!-- Exportar todos os processos -->
		<po-switch
			class="po-pl-lg-0 po-lg-6"
			[(ngModel)]="isNoFilter"
			name="isNoFilter"
			(p-change)="switchActionsTodosProcessos()"
			[p-disabled]="HasDisclaimer"
			p-label-off="{{ litDtPqAvan?.switchLabel }}"
			p-label-on="{{ litDtPqAvan?.switchLabel }}"
 			p-tooltip="{{ litDtPqAvan?.toolTipTodosProc }}"
		>
		</po-switch>

		<!-- DropDown de Exportação -->
		<po-dropdown *ngIf= "!hasModeloExportacao"
			class="po-pull-right po-mt-1"
			p-label="{{ litDtPqAvan?.formPesqAvan.expRelat }}"
			[p-actions]="tipoExportacao"
			[p-disabled]="lDisabledExp">
		</po-dropdown>

		<!-- Combo de Exportação -->
		<po-combo *ngIf= "hasModeloExportacao"
			class="po-pull-right "
			name="exportacao"
			[p-filter-service]="fwModelAdaptorService"
			[p-filter-params]="adaptorParamModelosExp"
			p-placeholder="{{ litDtPqAvan?.placeHoldCmb }}"
			[(ngModel)]="exportacao"
			[p-disabled]="lDisabledExp"
			(p-change)="exportaRelatorio($event)">
		</po-combo>

		<po-button class="po-pull-right po-mr-2 po-mt-1 "
			name="salvarFiltros"
			p-label="{{ litDtPqAvan?.formPesqAvan.salvaFil }}">
		</po-button>
		
		<po-widget  p-no-border="true" p-no-shadow="true">
			<po-combo
				#cmbSelectCampo
				class="po-lg-3"
				(p-change)="getDadosPesq()"
				name="campoProcesso"
				p-label="{{ litDtPqAvan?.formPesqAvan.campoProc }}"
				[(ngModel)]="campoProcesso"
				p-debounce-time="500"
				[p-filter-service]="pesqAvancadaAdapter"
				[p-disabled]="isNoFilter"
			>
			</po-combo>
					
			<div>
				<div [hidden]="tipoCampoSelecionado != 'D'">
					<po-select #selSugestData
						class="po-lg-2 "
						(p-change)="getSugestData()"
						name="atalhoData"
						[(ngModel)] = "atalhoData"
						p-label="{{ litDtPqAvan?.formPesqAvan.atalhoData }}"
						[p-options]="listAtaData">
					</po-select>

					<po-datepicker class="po-lg-2 "
						p-label="{{ litDtPqAvan?.formPesqAvan.dataInicio }}"
						name="dataInicio"
						[(ngModel)] = "dataInicio"
						(p-change)="getVldButtonDisclaimer()">
					</po-datepicker>

					<po-datepicker class="po-lg-2 "
						p-label="{{ litDtPqAvan?.formPesqAvan.dataFinal }}"
						name="dataFinal"
						[(ngModel)] = "dataFinal"
						(p-change)="getVldButtonDisclaimer()">
					</po-datepicker>
				</div>

				<div [hidden]="tipoCampoSelecionado != 'COMBO'">
					<po-combo #cmbCombo
						class="po-lg-4 "
						name="comboPesquisa"
						[(ngModel)] = "comboPesquisa"
						p-label="{{ litDtPqAvan?.formPesqAvan.seleciona }}"
						[p-options]='listDadosCombo'
						(p-change)="getVldButtonDisclaimer()">
					</po-combo>
				</div>

				<div [hidden]="tipoCampoSelecionado != 'N'">
					<po-decimal class="po-lg-4"
						name="valor"
						[(ngModel)] = "campoSelecionadoValue"
						p-clean
						p-label="{{ litDtPqAvan?.formPesqAvan.valor }}"
						(keyup)="getVldButtonDisclaimer()">
					</po-decimal> 
				</div>

				<div [hidden]="tipoCampoSelecionado != 'F3'">
					<po-combo #cmbF3List
						class="po-lg-4 "
						name="f3Pesquisa"
						p-label="{{ litDtPqAvan?.formPesqAvan.seleciona }}"
						[p-filter-service]='f3Adapter'
						[(ngModel)]="f3Value"
						(keyup)="getVldButtonDisclaimer()"
						(p-change)="getVldButtonDisclaimer()">
					</po-combo>
				</div>

				<div [hidden]="tipoCampoSelecionado != 'C'">
					<po-input class="po-sm-5"
						name="texto"
						p-label="{{ litDtPqAvan?.formPesqAvan.texto }}"
						p-clean
						[(ngModel)]="campoSelecionadoValue"
						(keyup)="getVldButtonDisclaimer()"
						(p-change)="getVldButtonDisclaimer()">
					</po-input>
				</div>

				<div [hidden]="tipoCampoSelecionado != 'M'">
					<po-input class="po-sm-5"
						p-clean
						name="memo"
						p-label="{{ litDtPqAvan?.formPesqAvan.texto }}"
						[(ngModel)]="campoSelecionadoValue"
						(keyup)="getVldButtonDisclaimer()">
					</po-input>
				</div>
			</div>
				
			<po-button class="po-pull-right po-mt-4 "
				name="adicionarFiltro"
				p-label="{{ litDtPqAvan?.formPesqAvan.adicFiltro }}"
				p-type="secondary"
				[p-disabled]="bDisableAddFilter"
				(p-click)="addDisclaimer()">
			</po-button>
		</po-widget>

		<div *ngIf="HasDisclaimer">
			<h2 class="po-info-label" > 
				{{ litDtPqAvan?.formPesqAvan.mosResultDisc }} 
			</h2>
		</div>

		<div *ngIf="HasDisclaimer"
			 style="margin-bottom : 12px !important" >

			<po-disclaimer-group
				[p-disclaimers]="disclaimers"
				(p-change)="changeFilters()">
			</po-disclaimer-group>
		</div>

		<div *ngIf="HasDisclaimer" 
			 class="juriLoadingCover">
			
			 <h2 class="po-font-text-small po-mb-1" 
				style="text-align: right">
				{{ nResultPesquisa + litDtPqAvan?.procLocalizados}}
			</h2>

			<po-loading-overlay
				p-screen-lock="true"
				[hidden]="isHideLoadingPesqAvan"
				p-text="{{ litDtPqAvan?.loadPesqAvan }}" >
			</po-loading-overlay>
			
			<po-table
				[p-columns]="colPesquisa"
				[p-items]="listResultPesq"
				p-sort="false"
				[p-striped]="true"
				p-hide-text-overflow="true">
			</po-table>
		</div>
		<div *ngIf="!HasDisclaimer">
			<div class="po-text-center po-page-change-password-required-title po-mt-4">
					{{ litDtPqAvan?.nenhumFiltroSelec }}
			</div>
		
			<img src=".\assets\ImgNotFound.svg" class="po-modal-password-recovery-user-image po-mt-5">
		</div>

		<div class="po-mt-2 po-lg-12"
			 style="padding-left: 38%;"
			 name="cntNavegation"
			 p-no-border="true" 
			 *ngIf="HasDisclaimer">

			<po-button class="po-ml-lg-4 po-lg-2" 
				name="btnPrevious"
				p-label="{{ litDtPqAvan?.anterior }}"
				p-small="true"
				[p-disabled]=btnPreDisable
				(p-click)="showMore('previous')">
			</po-button>
			
			<po-button class="po-lg-2" *ngIf="HasDisclaimer"
				name="btnNext"
				p-label="{{ litDtPqAvan?.proximo }}"
				p-small="true"
				[p-disabled]=btnNxtDisable
				(p-click)="showMore('next')">
			</po-button>
		</div>
	</div>
</po-page-default>
