a:hover {
	text-decoration: underline;
}

a:link {  
	text-decoration: underline;
	color: #000000;
}

a:visited {  
	text-decoration: underline;
	color: #000000;}

a:active {
	text-decoration: underline;
}

.body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.texto {
	color: #666666;
	font-family: Verdana;
	font-size: 9px;
	background-color: #FFFFFF;
	margin: 3px;
	padding: 3px;
    border-collapse: collapse;    
}

.titulo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #406496;
	margin: 3px;
	padding: 3px;
}

.tabela {
	color: #000000;
	padding: 0px;
    border-collapse: collapse;
	
}

.tabela tr td {border:1px solid #6B6B6B;}

.cabecalho_1 {
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
	background-color: #C6C6C6;
	border-collapse: collapse;
	font-weight: bold;
	margin: 3px;
	padding: 3px;
	
}


.cabecalho_1_branco {
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
	background-color: #DDDDDD;
	border-collapse: collapse;
	font-weight: bold;
	
}


.cabecalho_2 {
	color: #000000;
	font-family: Verdana;
	font-size: 9px;
	background-color: #7BA0CA;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
}



.cabecalho_3 {
	color: #333333;
	font-family: Verdana;
	font-size: 9px;
	font-weight:bold;
	background-color: #E4EAEF;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
}



.cabecalho_4 {
	color: #000000;
	font-family: Verdana;
	font-size: 9px;
	font-weight:bold;
	background-color: #AECDE3;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
}



.bar{
	position: relative;
	z-index:100;
	left:15px;
	top: 20px;
}


.cabecalho_verm {
	color: #6C1713;
	font-family: Verdana;
	font-size: 9px;
	background-color: #EA6A6A;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
	font-weight: bold;
}

.cabecalho_verde {
	color: #294B30;
	font-family: Verdana;
	font-size: 9px;
	background-color: #8BBF96;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
	font-weight: bold;
}

.cabecalho_amarelo {
	color: #776000;
	font-family: Verdana;
	font-size: 9px;
	background-color: #FFEB9B;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
	font-weight: bold;
}

.cabecalho_branco {
	color: #776000;
	font-family: Verdana;
	font-size: 9px;
	background-color: #FFFFFF;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
	font-weight: bold;
}

.cabecalho_cinza {
	color: #776000;
	font-family: Verdana;
	font-size: 9px;
	background-color: #808080;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
	font-weight: bold;
}

.cabecalho_cinza_escuro {
	color: #776000;
	font-family: Verdana;
	font-size: 9px;
	background-color: #5A5A5A;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
	font-weight: bold;
}

.texto1 {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	margin: 3px;
	padding: 3px;
    border-collapse: collapse;
}
.texto2 {

	color: #333333;
	font-family: Verdana;
	font-size: 9px;
	background-color: #E4EAEF;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
}
