<div
	id="cont"
	fxLayout="column"
	fxLayoutAlign="space-between center"
	(keydown.arrowleft)="previousMonthButtonClick()"
	(keydown.arrowright)="nextMonthButtonClick()"
	(swipeleft)="nextMonthButtonClick()"
	(swiperight)="previousMonthButtonClick()"
	style="height: 100%;"
>
	<div
		class="header-date"
		fxLayout="row"
		fxLayoutAlign="space-between center"
		style="min-height: 60px;"
	>
		<div class="po-clickable" (click)="previousMonthButtonClick()">
			<span class="po-icon po-icon-arrow-left"></span>
		</div>

		<div fxLayout="row" fxLayoutAlign="space-between center">
			<button *ngIf="btnAddShow" mat-icon-button (click)="addEventClicked()">
				<mat-icon>add</mat-icon>
			</button>

			<span> {{ actDate }} </span>

			<div class="po-clickable" (click)="showChangeDate = !showChangeDate">
				<span
					class="po-icon {{ showChangeDate ? 'po-icon-arrow-up' : 'po-icon-arrow-down' }}"
				></span>
			</div>
		</div>

		<div class="po-clickable" (click)="nextMonthButtonClick()">
			<span class="po-pull-right po-icon po-icon-arrow-right"></span>
		</div>
	</div>

	<div
		*ngIf="showChangeDate"
		class="header-select-date"
		fxLayout="row"
		fxLayoutAlign="center center"
		style="height: auto;"
	>
		<div class="po-lg-6 po-md-6 po-sm-6" fxLayoutAlign="center" [@enterAnimation]>
			<po-select
				class="po-lg-3 po-md-3 po-sm-3"
				p-label="Ano"
				(p-change)="onYearChange($event)"
				[(ngModel)]="currentYear"
				[p-options]="years"
			>
			</po-select>
			<po-select
				class="po-lg-4 po-md-4 po-sm-4"
				p-label="Mês"
				[(ngModel)]="currentMonth"
				(p-change)="onMonthChange($event)"
				[p-options]="months"
			>
			</po-select>
		</div>
	</div>

	<div class="calendar-container" fxLayout="column" fxFlex>
		<!-- Weekdays header -->
		<div
			fxLayout="row"
			fxLayoutAlign="space-between center"
			class="weekdays-container"
			style="height: 30px;"
		>
			<div
				class="weekdays"
				*ngFor="let day of weekdays"
				fxLayout="row"
				fxLayoutAlign="center center"
			>
				<span *ngIf="!isSmall">
					{{ day.name }}
				</span>
				<span *ngIf="isSmall">
					{{ day.shortName }}
				</span>
			</div>
		</div>
		<!-- Days body -->
		<!-- Months -->
		<div fxFlex fxLayout="column" style="height: 100%;">
			<div fxFlex class="cell-container" *ngFor="let item of arrCalendar">
				<div
					fxFlex
					class="cell-item"
					fxLayout="row"
					fxLayoutAlign="space-between stretch"
					(click)="openDialog(test)"
					[ngStyle]="{
						backgroundColor:
							test.day == actDay && test.month == actMonth - 1 && test.year == actYear
								? 'lightblue'
								: 'white'
					}"
					*ngFor="let test of item"
					style="height: 100%; width: 100%;"
				>
					<div fxLayout="column" style="height: 100%; width: 100%;">
						<div>
							<b
								class="calendar-days"
								[ngStyle]="{
									color: test.month == currentMonth ? 'black' : 'lightgray'
								}"
								>{{ test.day }}
							</b>
							<span
								*ngIf="test.events && test.events.length > 0 && isSmall"
								class="dot"
							></span>
						</div>

						<div fxFlex *ngIf="!isSmall" style="height: 100%; overflow-x: hidden;">
							<div
								class="row-items"
								*ngFor="let event of test.events; let i = index"
								[ngStyle]="{ backgroundColor: event.color }"
							>
								<span class="po-icon {{ event.iconTag }}"></span>
								<span style="font-weight: bold;">
									{{ event.title }}
								</span>
								<span *ngIf="test.day == (event.startDate | date: 'dd')">
									- {{ event.desc }}</span
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
