.box {
	height: 100% !important;
	width: 100%;

	background: white;
	border: 0.2px solid lightgray;
}

.header-date {
	
	font-weight: 500px;
	font-size: 22px;

	width: 100%;

	padding: 10px;
	border-bottom: 0.2px solid lightgray;
}

.header-select-date {
	height: 100%;
	width: 100%;

	margin-top: 15px;
	margin-bottom: 15px;
}
.header-add-event {
	margin: 20px;
}

.select-date-button {
	color: black;
	background: white;
}

.add-Button {
	width: 60px;
	height: 60px;
	font-size: 22px;
	border-radius: 30px;
	margin: 20px;
	background-color: green;
	color: white;
}

.calendar-container {
	height: 100%;
	width: 100%;
}

.calendar-div {
	height: 100%;
	width: 100%;
}

.weekdays-container {
	height: 100%;
	width: 100%;
	// height: 30px;
}

.weekdays {
	border: 0.2px solid lightgray;
	padding: 5px;
	width: 100%;
}

.cell-container {
	height: 100%;
	width: 100%;
}

.cell-item {  
	border: 0.2px solid lightgray; 
	width: 100%;
	height: 100%;
	overflow: auto;
	cursor: pointer;
}

.row-items {
	margin: 2px;
	padding-left: 5px;
	// width: calc(100% - 4px);
	font-size: 12px;
	font-weight: 300;
	color: white;
	border-radius: 3px;
}

.buttons {
	margin: 3px;
}

button:focus {
	outline: none;
}

.selects {
	width: 200px;
	margin: 3px;
}

.calendar-days {
	padding: 3px;
	font-weight: 500;
}

.dot {
	height: 8px;
	width: 8px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar:horizontal {
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px grey;
	border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: grey;
}
