<po-page-default >
	<!-- Pesquisa rápida e + Criar novo contrato -->
	<div class="po-lg-12">
		<po-combo class="po-pr-lg-0 po-pl-0 po-lg-4"
			[(ngModel)]="searchContract"
			(p-change)="onSelectSearchedContract()"
			p-change-on-enter="boolean"
			name="searchContract"
			p-debounce-time=500
			p-disabled-init-filter
			p-filter-minlength="3"
			p-icon="po-icon-search"
			[p-filter-service]="jurconsultasAdapter"
			p-tooltip ={{litHomeContratos?.toolTipPesqRapida}}
			p-tooltip-position="top"
			p-placeholder="{{ litHomeContratos?.pesqContrato }}">
		</po-combo>

		<po-button class="po-pull-right po-pt-1"
			(p-click)="verificaFiliaisDoUsuario()"
			p-label="{{ litHomeContratos?.criarNovoContrato }}" 
			p-icon="po-icon-plus"
			p-type="primary"
		>
		</po-button>
	</div>

	<!-- Favoritos e Vencimentos -->
	
	<div class="po-row">
		<po-widget class="po-lg-6 po-mt-2 juriLoadingCover" 
			name="wdgFavoritosContratos" 
			p-height="400" 
			p-title="{{ litHomeContratos?.favoritos.meusFav }}" 
			p-primary-label="{{ litHomeContratos?.favoritos.verFav }}" 
			(p-primary-action)="openFavoritos()">
			<po-loading-overlay *ngIf="!isHideLoadingFavoritos"
				p-screen-lock="false"
				[hidden]="isHideLoadingFavoritos"
				p-text="{{ litHomeContratos?.favoritos.loadFav }}" >
			</po-loading-overlay>
			<po-table *ngIf="isHideLoadingFavoritos"
				[p-columns]="colFavoritos"
				[p-items]="listFavoritos"
				p-sort="false"
				[p-striped]="true">
			</po-table>
		</po-widget>		
		<po-widget class="po-lg-6 po-mt-2 juriLoadingCover" 
			name="wdgVencimentoContratos" 
			p-height="400" 
			p-title="{{ litHomeContratos?.vencimentos.vencimentos }}">
			<po-loading-overlay *ngIf="!isHideLoadingVencimentos"
				p-screen-lock="false"
				[hidden]="isHideLoadingVencimentos"
				p-text="{{ litHomeContratos?.vencimentos.loadVenc }}"> 
			</po-loading-overlay>
			<po-table *ngIf="isHideLoadingVencimentos"
				[p-columns]="colVencimentos"
				[p-items]="listVencimentos"
				p-sort="false"
				[p-striped]="true">
			</po-table>
		</po-widget>
	</div>

	<!-- Tarefas -->
	<div class="po-row">
		<po-widget class="po-lg-12 juriLoadingCover" 
			name="wdgTarefasContratos" 
			[p-height]="(listTarefas?.length) ? 400 : 250"
			[p-primary-label]="(listTarefas?.length)? litHomeContratos?.tarefas.exportarExcel : null"
			(p-primary-action)="exportarExcel()"
			[p-secondary-label]="(listTarefas?.length)? litHomeContratos?.tarefas.exportarPDF : null"
			(p-secondary-action)="exportarPDF()">
			<div class="po-row">
				<div class="po-font-text-bold po-sm-8 po-md-8 po-lg-8">
					{{ litHomeContratos?.tarefas.tarefasVencer }}
				</div>
				<div class="po-sm-4 po-md-4 po-lg-4 po-mt-0">
					<div class="po-pull-right po-mb-1 po-clickable" (click)="openPainelTarefa()">
						<span class="po-icon {{ 'po-icon po-icon-calendar' }}"></span>
						{{ litHomeContratos?.tarefas.painelAtividades }}
					</div>
				</div>
			</div>
			
			<po-loading-overlay *ngIf="!isHideLoadingTarefas"
				p-screen-lock="false"
				[hidden]="isHideLoadingTarefas"
				p-text="{{ litHomeContratos?.tarefas.loadTarPendente }}" >
			</po-loading-overlay>
			<po-table *ngIf="isHideLoadingTarefas"
				[p-columns]="colTarefas"
				[p-items]="listTarefas"
				p-sort="true"
				p-striped="true"
				[p-show-more-disabled]="isShowMoreDisabled"
				(p-show-more)="showMoreTarefas()"
			></po-table>
		</po-widget>
	</div>

	<div>
		<po-modal #filiais
			class="po-mb-2"
			p-title="{{ litHomeContratos?.tituloModalFil }}"
			[p-primary-action]="salvar"
			[p-secondary-action]="cancelar">
			{{ litHomeContratos?.selecionaFilial }}
			<form [formGroup]="formFiliais">
				<div class="po-lg-12 form-group">
					<po-combo #comboFilial
						name="filialCont"
						p-label="{{ litHomeContratos?.filial }}"
						p-debounce-time=500
						formControlName="filialCont"
						[p-filter-service]='filiaisAdapterService'>
					</po-combo>
				</div>
			</form>
		</po-modal>
	</div>

	<!-- Modal Concluir tarefas -->
	<div class="po-row juriLoadingCover">
		<po-modal #concluiTarefa
			[p-title]="litHomeContratos?.tarefas.modConcluirTitle" 
			[p-primary-action]="putConcluirTarefa"
			[p-secondary-action]="fechar">

			<form [formGroup] = "formConcluiComp">
				<div class="po-row po-mb-4">
					<po-input
						class="po-md-4"
						name="Compromisso"
						formControlName="tipo"
						[p-label]="litHomeContratos?.tarefas.modCompromisso"
						p-disabled= "true"
						[p-readonly]="true">
					</po-input>

					<po-input
						class="po-md-4"
						name="status"
						formControlName="statusAtual"
						[p-label]="litHomeContratos?.tarefas.modStatusAtual"
						p-disabled= "true"
						[p-readonly]="true">
					</po-input>

					<po-combo
						class="po-md-4"
						name="status"
						formControlName="novoStatus"
						[p-label]="litHomeContratos?.tarefas.modNovoStatus"
						p-debounce-time=500
						[p-filter-service]='fwModelAdaptorService'
						[p-filter-params]="adaptorStatusFup">
					</po-combo>

					<po-textarea
						class="po-lg-12"
						name="descricao"
						[p-label]="litHomeContratos?.tarefas.modDescricao"
						p-rows="3"
						formControlName="descricao">
					</po-textarea>

					<!-- Botão de incluir anexo -->
					<po-button 
						class="po-lg-4 po-mb-lg-1 po-row"
						[p-label]="litHomeContratos?.btnSelecionar"
						(p-click)="getDocuments()">
					</po-button>
					
					<po-upload #docUpload
						class="po-lg-12 uploadDoc"
						p-url="/juri/JURLEGALPROCESS/anexo"
						p-multiple="true"
						(p-upload)="uploadFiles($event)"
						(p-success)="uploadSucess()"
						p-hide-send-button
						p-hide-select-button
						p-required>
					</po-upload>
				</div>
			</form>
			<jur-justif-modal #modJustif>
			</jur-justif-modal>
		</po-modal>
	</div>

	<!-- Acompanhamento de contratos -->
	<div class="po-row">
		<h1 class="po-page-header-title po-lg-12">{{litHomeContratos?.acompanhamento.acompanhamento}}</h1>
		<!-- Contratos em andamento -->
		<po-widget class="po-lg-3 po-mt-2 juriLoadingCover" 
			name="wdgAndamento" 
			p-height="220" 
			p-primary-label="{{ litHomeContratos?.acompanhamento.verEmAndamento }}" 
			(p-primary-action)="openAcompEmAndamento()" 
			p-title="{{ litHomeContratos?.acompanhamento.contratosEmAndamento }}">
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingAndamentos"
				p-text="{{ litHomeContratos?.acompanhamento.loadEmAndamento }}">
			</po-loading-overlay>
			<div class="po-font-display po-button-link po-text-center" >{{nEmAndamento}}</div>
			<div class="po-font-text-bold po-text-center">{{anoMes}}</div>
		</po-widget>
		<!-- Novos contratos -->
		<po-widget class="po-lg-3 po-mt-2 juriLoadingCover"
			name="wdgNovosProcessos"
			p-height="220"
			p-primary-label="{{ litHomeContratos?.acompanhamento.verNovos }}"  
			(p-primary-action)="openAcompNovos()"
			p-title="{{ litHomeContratos?.acompanhamento.contratosNovos }}">
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingNovos"
				p-text="{{ litHomeContratos?.acompanhamento.loadNovos }}"> 
			</po-loading-overlay>
			<div class="po-font-display po-button-link po-text-center">{{nNovos}}</div>
			<div class="po-font-text-bold po-text-center">{{anoMes}}</div>
		</po-widget>
		<!-- Contratos encerrados -->
		<po-widget class="po-lg-3 po-mt-2 juriLoadingCover" 
			name="wdgEncerrados" 
			p-height="220" 
			p-primary-label="{{ litHomeContratos?.acompanhamento.verEncerrados }}"  
			(p-primary-action)="openAcompaEncerrados()" 
			p-title="{{ litHomeContratos?.acompanhamento.contratosEncerrados }}"> 
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingEncerrados"
				p-text="{{ litHomeContratos?.acompanhamento.loadEncerrados }}">
			</po-loading-overlay>
			<div class="po-font-display po-button-link po-text-center">{{nEncerrados}}</div>
			<div class="po-font-text-bold po-text-center">{{anoMes}}</div>
		</po-widget>
		<!-- SLA Jurídico -->
		<po-widget class="po-lg-3 po-mt-2 juriLoadingCover" 
			name="wdgSLA" 
			p-height="220" 
			p-primary-label="{{ litHomeContratos?.acompanhamento.verSLA }}"  
			(p-primary-action)="openSLA()" 
			p-title="{{ litHomeContratos?.acompanhamento.slaJuridico }} - {{anoMes}}"> 
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingSLA"
				p-text="{{ litHomeContratos?.acompanhamento.loadSLA }}">
			</po-loading-overlay>
			<div class="po-font-display po-button-link po-text-center">{{nSLADias}}</div>
			<div class="po-font-text-bold po-text-center">{{ litHomeContratos?.acompanhamento.diasSLA }}</div>
		</po-widget>
	</div>

	<!-- Grafico de Contratos -->
	<div class="po-row">
		<h1 class="po-page-header-title po-lg-12">{{ litHomeContratos?.grafico.titulo }}</h1>
		<h2 class="po-info-value po-lg-12">{{ litHomeContratos?.grafico.descricao }}</h2>
		<po-widget class="po-lg-12 po-mt-2 juriLoadingCover">
			<po-container class="po-lg-12" p-no-border="true">
				<po-container class="po-lg-12 juriLoadingCover" p-no-border="true">
					<po-loading-overlay
						p-screen-lock="false"
						[hidden]="isHideLoadingGraph"
						p-text="{{ litHomeContratos?.grafico.load }}"> 
					</po-loading-overlay>
					<canvas baseChart
						height="100"
						[datasets]="barChartData"
						[labels]="barChartLabels"
						[options]="barChartOptions"
						[chartType]="barChartType">
					</canvas>
				</po-container>	
			</po-container>
		</po-widget>
	</div>

</po-page-default>
