<po-page-default
	p-title = "{{litUsuarios?.breadcrumb.usuarios}}"
	[p-breadcrumb]="breadcrumb">
	
	<div class="po-row">
		<!-- Pesquisar usuário -->
		<po-input class="po-lg-4 po-pl-0"
			p-icon="po-icon-search"
			[name]="filter"
			p-placeholder="{{litUsuarios?.searchPlaceHolder}}"
			(p-change-model)="filter = $event"
			(p-change)="filter = $event"
			(p-enter)="filter = $event"
			p-clean="true">
		</po-input>
	</div>

	<div class="po-mt-2 juriLoadingCover">
		<po-loading-overlay
			p-screen-lock="true" 
			[hidden]="isHideLoadingUsers" 
			p-text="{{ litUsuarios?.carregando }}">
		</po-loading-overlay>
		<!-- Lista de usuários -->
		<po-list-view
			p-property-title="nome"
			[p-items]="listUsuarios | filterUserByName: filter"
			[p-actions]="actions"
			(p-title-action)="openPerfil($event)">
			<!-- Conteúdo item lista -->
			<ng-template p-list-view-content-template let-item>
				<div class='po-mt-0 po-row po-pl-0'>
					<div class="po-lg-6 po-pl-0 po-mt-1">
						<p class='po-lg-12 po-font-text-small'>{{ item.email }}</p>
					</div>
					<div class="po-lg-3 po-pl-0 po-mt-1">
						<p class='po-lg-12 po-font-text-small'>{{ item.tipo }}</p>
					</div>
					<div class="po-lg-3">
						<po-tag
							[p-value]="item.ativo"
							[p-type]="item.status === '2' ? 'success' : 'danger'">
						</po-tag>
					</div>
				</div>
			</ng-template>
		</po-list-view>
	</div>
</po-page-default>
