<po-page-default
	[p-breadcrumb]="breadcrumb"
	p-title="{{ litHistorico.bread.historico }}">
	<div>	
		<form [formGroup]="formHistorico" class="po-mb-2">	
			<po-widget  p-no-border="true" p-no-shadow="true">
				<!-- data inicial -->
				<po-datepicker class="po-lg-2 "
					(p-change)="getDadosHist()"
					p-label="{{ litHistorico?.formHist.dataInicial }}"
					name="dataInicial"
					formControlName="dataInicial">
				</po-datepicker>
				<!-- data final -->
				<po-datepicker class="po-lg-2 "
					(p-change)="getDadosHist()"
					p-label="{{ litHistorico?.formHist.dataFinal }}"
					name="dataFinal"
					formControlName="dataFinal">
				</po-datepicker>
				<!-- usuarios -->
				<po-multiselect
					class="po-lg-3 "
					[p-disabled]="isDisableUsuarios"
					(p-change)="getDadosHist()"
					name="usuario"
					p-label="{{ litHistorico?.formHist.usuarios }}"
					formControlName="usuario"
					p-debounce-time=500
					[p-options]="listUsuarios">
				</po-multiselect>
				<!-- Campo -->
				<po-combo #cmbCampo 
					[hidden]="!isAuditTrail"
					class="po-lg-3 " 
					name="campoProcesso"
					p-label="{{ litHistorico?.formHist.campo }}"
					formControlName="campoProcesso"
					p-debounce-time=500
					[p-filter-service]="historicoAdapter">
				</po-combo>
				<!-- Consultar -->
				<po-button class="po-pull-right po-mb-4 po-mt-4 po-lg-1 po-md-2 po-sm-2"
					name="consultar"
					p-label="{{ litHistorico?.btnConsultar }}"
					p-type="primary"
					(p-click)="getFilteredHist()">
				</po-button>
			</po-widget>
		</form>
	</div>
	<div>
		<!-- Resultado de pesquisa -->
		<div class="po-row">
			<h1 class="po-font-subtitle">{{ litHistorico?.titResultado }}</h1>
		</div>
		<div class="po-mt-2 juriLoadingCover">
			<po-loading-overlay
				p-screen-lock="true" 
				[hidden]="isHideLoadingHist" 
				p-text="{{ litHistorico?.loadResult }}">
			</po-loading-overlay>
			<po-list-view
				p-property-title="title"
				[p-items]="listItensResult">
				
				<ng-template p-list-view-content-template let-item>
					<div class="po-row">
						<!-- Usuário -->
						<po-info 
							*ngIf="item?.user"
							class="po-lg-4"
							p-label="{{ litHistorico?.listView.usuario }}" 
							[p-value]="item.user">
						</po-info>
						<!-- Data de alteração -->
						<po-info 
							*ngIf="item?.date"
							class="po-lg-4"
							p-label="{{ litHistorico?.listView.data }}" 
							[p-value]="item.date">
						</po-info>
						<!-- Hora de Alteração -->
						<po-info 
							*ngIf="item?.time"
							class="po-lg-4"
							p-label="{{ litHistorico?.listView.hora }}" 
							[p-value]="item.time">
						</po-info>
					</div>
				</ng-template>
				<ng-template p-list-view-detail-template let-item>
					<div class="po-row">
						<!-- ID Campo -->
						<po-info
							*ngIf="item?.field"
								class="po-lg-3"
							p-label="{{ litHistorico?.listView.campo }}" 
							[p-value]="item.field">
						</po-info>
						<!-- Nome do campo -->
						<po-info 
							*ngIf="item?.fieldName" 
							class="po-lg-3"
							p-label="{{ litHistorico?.listView.nomeCampo }}" 
							[p-value]="item.fieldName">
						</po-info>
						<!-- Valor antigo -->
						<po-info 
							*ngIf="item?.oldData"
								class="po-lg-3"
							p-label="{{ litHistorico?.listView.valorAntes }}" 
							[p-value]="item.oldData">
						</po-info>
						<!-- Valor Novo -->
						<po-info 
							*ngIf="item?.newData" 
							class="po-lg-3" 
							p-label="{{ litHistorico?.listView.valorDepois }}"
							[p-value]="item.newData">
						</po-info>
					</div>
					<div class="po-row">
						<!-- Descrição da justificativa / motivo -->
						<po-info 
							*ngIf="item?.description" 
							class="po-lg-12" 
							p-label="{{ litHistorico?.listView.descricao }}" 
							[p-value]="item.description">
						</po-info>
					</div>
					<p *ngIf="!item?.field && !item?.description" class="po-text-center">
						{{ litHistorico?.listView.naoHaDetalhes }}
					</p>

				</ng-template>
			</po-list-view>
		</div>
	</div>
</po-page-default>
