:host ::ng-deep .po-widget {
	margin-bottom : 11px !important;
	margin-top    : 11px !important;
	position      : relative;
}

.loading {
	position      : relative;
}

.historico-components {
	position: relative !important;
}