<po-page-detail [p-breadcrumb]="breadcrumb" p-title="{{ litModImport?.title }}">
	<po-loading-overlay
		p-screen-lock="true"
		[hidden]="isLoadingCadastro"
		p-text="{{ litModImport?.loading }}"
	>
	</po-loading-overlay>
	<po-widget class="juriLoadingCover">
		<form [formGroup]="formProcesso">
			<div class="po-row form-group">
				<!-- Tipo de assunto jurídico -->
				<po-select
					class="po-lg-3"
					name="assuntoJuridico"
					p-label="{{ litModImport?.fields.assuntoJuridico }}"
					formControlName="assuntoJuridico"
					p-required="true"
					[p-options]="listTipoAssunto"
					(p-change)="setTipoAssuntoJur($event)"
				>
				</po-select>

				<!-- campo combobox para buscar modelos -->
				<po-combo
					class="po-lg-3"
					name="modelo"
					formControlName="modelo"
					p-label="{{ litModImport?.fields.modelo }}"
					p-icon="po-icon-search"
					[p-filter-service]="getDetModelsAdapter"
					p-debounce-time="500"
					p-filter-minlength="3"
					[p-disabled]="isDisableSelTpAssJur"
					(p-change)="getDadosModelo($event)"
					p-change-on-enter="true"
				>
				</po-combo>

				<!-- campo combobox tipo de Follow up para audiencia-->
				<po-combo
					class="po-lg-3"
					name="tipoAudiencia"
					formControlName="tipoAudiencia"
					p-label="{{ litModImport?.fields.tipoAudiencia }}"
					p-tooltip="{{ litModImport?.fields.tipoAudienciaTooltip }}"
					p-tooltip-position="top"
					p-debounce-time="500"
					[p-filter-service]="tpTarefaService"
				>
				</po-combo>

				<!-- campo combobox resposavel audiencia de Follow up -->
				<po-combo
					class="po-lg-3"
					name="respAudiencia"
					formControlName="respAudiencia"
					p-label="{{ litModImport?.fields.respAudiencia }}"
					p-tooltip="{{ litModImport?.fields.respAudienciaTooltip }}"
					p-tooltip-position="top"
					p-debounce-time="500"
					[p-filter-service]="participanteAdapterService"
				>
				</po-combo>
			</div>
		</form>
	</po-widget>
	<po-container *ngIf="!lIniciar" class="po-lg-12" id="containerInicio" p-no-border="true">
		<div class="po-text-center po-page-change-password-required-title po-mt-4">
			{{ litModImport?.msgNotStarted }}
		</div>
		<img src=".\assets\ImgNotFound.svg" class="po-modal-password-recovery-user-image po-mt-5" />
	</po-container>
	<div *ngIf="lIniciar" class="po-row po-mt-3">
		<div class="po-offset-lg-1 po-offset-xl-1 po-lg-10 juriLoadingCover">
			<po-divider p-label="Detalhes do Processo"> </po-divider>
			<form [formGroup]="formProcesso">
				<div class="po-row">
					<!-- Area -->
					<po-combo
						class="po-lg-4"
						name="areaJuridica"
						formControlName="areaJuridica"
						p-label="{{ litModImport?.fields.areaJuridica }} *"
						[p-filter-service]="areaJuridicaAdapterSerive"
					>
					</po-combo>

					<!-- Unidade -->
					<po-combo
						class="po-lg-4"
						name="unidade"
						p-label="{{ litModImport?.fields.unidade }} *"
						p-debounce-time="500"
						[p-filter-service]="unidadeAdapterService"
						formControlName="unidade"
					>
					</po-combo>

					<!-- Centro de custo -->
					<po-combo
						class="po-lg-4"
						name="centroCusto"
						formControlName="centroCusto"
						p-label="{{ litModImport?.fields.centroCusto }}"
						[p-filter-service]="custoAdapterService"
					>
					</po-combo>
				</div>

				<div class="po-row">
					<!-- Gerente -->
					<po-combo
						class="po-lg-4"
						name="gerente"
						formControlName="gerente"
						p-label="{{ litModImport?.fields.gerente }} *"
						[p-filter-service]="participanteAdapterService"
					>
					</po-combo>
					<!-- Responsavel -->
					<po-combo
						class="po-lg-4"
						name="responsavel"
						formControlName="responsavel"
						p-label="{{ litModImport?.fields.responsavel }}"
						[p-filter-service]="participanteAdapterService"
					>
					</po-combo>
					<!-- Estagiário -->
					<po-combo
						class="po-lg-4"
						name="estagiario"
						formControlName="estagiario"
						p-label="{{ litModImport?.fields.estagiario }}"
						[p-filter-service]="participanteAdapterService"
					>
					</po-combo>
				</div>

				<div class="po-row">
					<!-- Detalhamento -->
					<po-textarea
						class="po-lg-12 helpInLine"
						p-name="detalhamento"
						formControlName="detalhamento"
						p-label="{{ litModImport?.fields.detalhamento }}"
						p-placeholder="{{ litModImport?.fields.detalhamentoPlaceHolder }}"
						p-help="{{ litModImport?.fields.detalhamentoHelp }}"
						[p-maxlength]="250"
					>
					</po-textarea>
				</div>

				<div class="po-row">
					<!-- Forma de correção -->
					<po-combo
						class="po-lg-4"
						name="formaCorrecao"
						formControlName="formaCorrecao"
						p-label="{{ litModImport?.fields.formaCorrecao }}"
						[p-filter-service]="fCorrecaoAdapterService"
					>
					</po-combo>

					<!-- Assunto/objeto -->
					<po-combo
						class="po-lg-4"
						name="assunto"
						p-label="{{ litModImport?.fields.assunto }}"
						[p-filter-service]="assuntoAdapterService"
						formControlName="assunto"
					>
					</po-combo>

					<!-- Rito -->
					<po-combo
						class="po-lg-4"
						name="rito"
						formControlName="rito"
						p-label="{{ litModImport?.fields.rito }}"
						[p-filter-service]="ritoAdapterService"
					>
					</po-combo>
				</div>

				<div class="po-row">
					<!-- Instância -->
					<po-select
						class="po-lg-4"
						name="instancia"
						formControlName="instancia"
						p-label="{{ litModImport?.fields.instancia }}"
						[p-options]="listInstancia"
					>
					</po-select>
					<!-- Natureza -->
					<po-combo
						#cmbNatureza
						class="po-lg-4"
						name="natureza"
						formControlName="natureza"
						p-label="{{ litModImport?.fields.natureza }} *"
						[p-filter-service]="naturezaAdapterService"
						(p-change)="filtraTipoAcao(cmbNatureza?.selectedOption)"
						p-change-on-enter="true"
					>
					</po-combo>

					<!-- Tipo de ação -->
					<po-combo
						class="po-lg-4"
						name="tipoAcao"
						formControlName="tipoAcao"
						p-label="{{ litModImport?.fields.tipoAcao }} *"
						[p-filter-service]="tipoAcaoAdapterService"
						[p-disabled]="disabletpAcao"
					>
					</po-combo>
				</div>

				<div class="po-row">
					<!-- Comarca -->
					<po-combo
						class="po-lg-4"
						name="comarca"
						formControlName="comarca"
						p-label="{{ litModImport?.fields.comarca }}"
						p-debounce-time="500"
						[p-filter-service]="comarcasAdapterService"
						(p-change)="buscaListaForos($event)"
						p-change-on-enter="true"
					>
					</po-combo>

					<!-- Foro -->
					<po-combo
						class="po-lg-4"
						name="foro"
						formControlName="foro"
						p-label="{{ litModImport?.fields.foro }}"
						[p-filter-service]="foroAdapterService"
						p-debounce-time="500"
						[p-disabled]="isDisableForo"
						(p-change)="buscaListaVaras($event)"
					>
					</po-combo>

					<!-- Vara -->
					<po-combo
						class="po-lg-4"
						name="vara"
						formControlName="vara"
						p-label="{{ litModImport?.fields.vara }}"
						[p-filter-service]="varaAdapterService"
						p-debounce-time="500"
						[p-disabled]="isDisableVara"
					>
					</po-combo>
				</div>

				<div class="po-row">
					<!-- Escritório -->
					<po-combo
						class="po-lg-12"
						name="escritorio"
						formControlName="escritorio"
						p-label="{{ litModImport?.fields.escritorio }}"
						[p-filter-service]="escritorioAdapterService"
					>
					</po-combo>
				</div>
			</form>

			<div *ngIf="hasExtraFields">
				<po-loading-overlay
					p-screen-lock="true"
					[hidden]="isHideLoadCmpAdic"
					p-text="{{ litModImport?.loading }}"
				>
				</po-loading-overlay>
				<po-divider p-label="Campos Adicionais"> </po-divider>
				<po-dynamic-form #customForm [p-fields]="listExtraFields" [p-value]="oValores">
				</po-dynamic-form>
			</div>
		</div>

		<div class="po-row po-mt-5" style="justify-content: flex-end;">
			<po-button
				class="btn po-pull-right po-mr-0"
				p-type="default"
				p-label="{{ litModImport?.buttons.back }}"
				(p-click)="goBack()"
			>
			</po-button>

			<po-button
				class="btn po-pull-right po-mr-0"
				p-label="{{ litModImport?.buttons.import }}"
				p-type="primary"
				[p-loading]="bLoadingIncProcess"
				(p-click)="submitImportacao()"
			>
			</po-button>
		</div>
	</div>
</po-page-detail>
