<po-page-detail
	[p-breadcrumb]="breadcrumb"
	[p-title]="titleDet">
	<form [formGroup]="formAnd" class="po-mb-2 po-row">
		<po-widget class="po-lg-12 po-md-12 po-pl-0 po-pr-0 juriLoadingCover" 
			p-no-shadow="true">
			<po-datepicker class="form-group po-lg-3"
				p-label="{{ litDetAnd?.inputData }}"
				name="dataAndamento"
				formControlName="dataAndamento">
			</po-datepicker>

			<po-combo class="form-group po-lg-3"
				name="ato"
				p-label="{{ litDetAnd?.inputAto }}"
				p-debounce-time=500
				[p-filter-service]='atoAdapterService'
				[p-filter-params]="filtroAto"
				formControlName="ato">
			</po-combo>

			<po-combo *ngIf="isProcesso" class="form-group po-lg-3"
				name="fase"
				p-label="{{ litDetAnd?.inputFase }}"
				p-debounce-time=500
				[p-filter-service]='faseAdapterService'
				formControlName="fase">
			</po-combo>
			<po-select *ngIf="isProcesso" class="form-group po-lg-3"
				name="instancia"
				p-label="{{ litDetAnd?.inputInsta }}"
				[p-options]="instancias"
				[p-disabled]="isDisabledInst"
				formControlName="instancia">
			</po-select>
			<div class="po-row po-mb-lg-1">
				<po-textarea
					name="teor"
					class="form-group po-lg-12"
					p-label="{{ litDetAnd?.inputTeor }}"
					p-rows="4"
					formControlName="teor">
				</po-textarea>
			</div>
			<po-loading-overlay
				p-screen-lock="true"
				[hidden]="isHideLoadingDetAnd"
				p-text="{{ litDetAnd?.carregando }}" >
			</po-loading-overlay>
			<po-upload #docUpload
				class="po-lg-12 po-mb-lg-2 uploadDoc"
				p-url="/juri/JURLEGALPROCESS/anexo"
				p-multiple="true"
				(p-upload)="uploadFiles($event)"
				(p-success)="uploadSucess()"
				p-drag-drop
				p-hide-send-button
				p-drag-drop-height=160
				p-required>
			</po-upload>
			<po-button class="po-pull-right po-lg-12 po-ml-0"
				name="btnPesquisaAvan"
				p-label="Ver todos os anexos"
				[p-disabled]="bOperacaoInclusao"
				p-small="true"
				(p-click)="callAnexos()"
				p-type="link">
			</po-button>	
		</po-widget>
	</form>	
	<po-widget class="po-row po-mb-2 po-mt-2"
		p-no-shadow="true">
		<div class="po-font-subtitle titulos">{{ tituloPrazo }}</div>
		<po-button class="po-row po-mb-lg-2"
			p-label="{{ litDetAnd?.btnPrazo }}"
			[p-disabled]="disableInclusaoPrazo"
			(p-click)="createTarefa()">
		</po-button>
		<div class="po-row juriLoadingCover">
			<po-loading-overlay
			p-screen-lock="true" 
				[hidden]="isHideLoadingTarefas" 
				p-text="{{ litDetAnd?.loadTarefa }}">
			</po-loading-overlay>						
			<!-- Grid de Tarefas -->
			<po-table
			[p-columns]="colTarefas"
			[p-items]="listTarefas"
			p-sort="true"
				[p-striped]="true"
				p-hide-text-overflow="true">
			</po-table>

			<!-- Modal Concluir tarefas -->
			<po-modal #concluiTarefa
				[p-title]="litDetAnd.modalConcluirPt.modTitle" 
				[p-primary-action]="putConcluirTarefa"
				[p-secondary-action]="fecharConcluiModal">

				<form #concluiForm="ngForm">
					<div class="po-row po-mb-4">
						<po-input
							class="po-md-4"
							name="Compromisso"
							[(ngModel)]="descTipo"
							[p-label]="litDetAnd.modalConcluirPt.modCompromisso"
							[p-readonly]="true">
						</po-input>

						<po-input
							class="po-md-4"
							name="status"
							[(ngModel)]="statusAtual"
							[p-label]="litDetAnd.modalConcluirPt.modStatusAtual"
							[p-readonly]="true">
						</po-input>

						<po-combo
							class="po-md-4"
							name="status"
							[(ngModel)]="newStatus"
							[p-label]="litDetAnd.modalConcluirPt.modNovoStatus"
							p-debounce-time=500
							[p-filter-service]='fwModelAdaptorService'
							[p-filter-params]="adaptorStatusFup">
						</po-combo>
						<po-button 
							class="po-lg-4 po-mb-lg-1 po-row"
							[p-label]="litDetAnd.btnSelecionar"
							(p-click)="getDocumentsNTA()">
						</po-button>
						<po-upload #docUploadNTA
							class="po-lg-12 uploadDoc"
							p-url="/juri/JURLEGALPROCESS/anexo"
							p-multiple="true"
							(p-upload)="uploadFilesNTA($event)"
							(p-success)="uploadSucessNTA()"
							p-hide-send-button
							p-hide-select-button
							p-required>
						</po-upload>
					</div>
				</form>
			</po-modal>
		</div>
	</po-widget>
	
	<div class="po-pull-right">
		<po-button class="btn"
			p-label="{{ litDetAnd?.btnCancelar }}"
			(p-click)="onCancel()">
		</po-button>

		<po-button class="btn"
			p-label="{{ btnExcluir }}"
			[p-disabled]="bOperacaoInclusao"
			(p-click)="modalAnd.open()">
		</po-button>

		<po-modal #modalAnd
			p-title="{{ litDetAnd?.modal.titleExclusao }}"
			[p-primary-action]="excluir"
			[p-secondary-action]="fechar">
			{{ litDetAnd?.modal.msgExclusao }}
		</po-modal>

		<po-button class="btn"
			p-type="default"
			p-label="{{ bOperacaoInclusao? btnIncluir : btnAlterar }}"
			p-type="primary"
			[p-loading]="isHideLoadingInclusao"
			(p-click)="confirmVerify()">
		</po-button>
	</div>
	<jur-justif-modal #modJustif>
	</jur-justif-modal>
</po-page-detail>
