<po-page-default
	p-title="{{ litTipoContrato?.titulo }}"
	[p-breadcrumb]="breadcrumb">
	<!-- Cabeçalho -->
	<div class="po-lg-12 po-md-12 po-pl-0 po-pr-0 po-mb-2">

		<po-button 
			p-type="default"
			p-label="{{ litTipoContrato?.btnNovoTipo }}"
			p-type="primary"
			(p-click)="callTipoContrato('')">
		</po-button>

		<!-- Pesquisa --> 
		<div class="jurAlignButton po-lg-2 po-md-2 po-pr-0 po-pull-right">
			<po-combo
				name="tipoContrato" 
				[(ngModel)]="searchKey"
				p-placeholder="{{ litTipoContrato?.pesqTipo }}" 
				p-icon="po-icon-search"
				(p-change)="search()"
				p-label=" "
				[p-filter-service]='fwModelAdaptorService'
				[p-filter-params]="adaptorParamTipoContrato"
				p-change-on-enter="true"
				>
			</po-combo>
		</div> 

	</div>

	<!-- Grid -->
	<po-container class="juriLoadingCover po-lg-12 po-pr-0 po-pl-0">

		<po-loading-overlay *ngIf="!isHideLoadingGrig"
			p-screen-lock="false"
			[hidden]="isHideLoadingGrig"
			p-text="{{ litTipoContrato?.loadProv }}"> 
		</po-loading-overlay>

		<po-table
			[p-columns]="columns"
			[p-items]="tpContratoList"
			p-striped="true"
			p-sort="true"
			p-striped="true"
			(p-show-more)="showMore()"
			[p-show-more-disabled]="isShowMoreDisabled"
			p-hide-text-overflow="true">
		</po-table>

	</po-container>
</po-page-default>
>