<po-page-default 
	[p-breadcrumb]="breadcrumb" 
	p-title="{{ litDes?.tituloDes }}">
	<!-- Pesquisa -->
	<div class="po-lg-12 po-pl-0 po-pr-0 po-mb-2">
		<po-button 	
			p-label="{{ litDes?.btnNovoDes }}"
			p-type="primary" 
			(p-click)="callDetailDespesa()">
		</po-button>
		<div class="jurAlignButton po-pull-right po-lg-2 po-pr-0">
			<po-combo
				name="tipo"
				p-label=" "
				p-placeholder="{{ litDes?.btnPesquisar }}"
				(p-change)="getDespesas()"
				[p-filter-service]='fwModelAdaptorService'
				[p-filter-params]="adaptorParamTipoDespesa"
				p-debounce-time=500
				p-icon="po-icon-search"
				[(ngModel)]="searchKey"
				p-change-on-enter="true">
			</po-combo>
		</div>
	</div>

	<!-- Grid de Despesa-->
	<po-container p-no-border="false" p-no-padding="true" class="juriLoadingCover po-lg-12 po-pr-0 po-pl-0">
		<po-loading-overlay
			p-screen-lock="true" 
			[hidden]="isHideLoadingDespesa" 
			p-text="{{ litDes?.loadDes }}">
		</po-loading-overlay>
		<po-table 
			[p-columns]="colDespesa" 
			[p-items]="despesaList" p-striped="true" p-sort="false"
			p-striped="true">
		</po-table>
	</po-container>
</po-page-default>