<po-page-default [p-breadcrumb]="breadcrumb" p-title="{{ litPedidos?.tituloPrincipal }}">
	<po-container class="po-md-6 po-lg-6 po-mb-2 po-text-center po-font-text-large po-pl-0">
		{{ litPedidos?.totais.totalProvavel }} R$ {{ this.totalProvavel | number: '1.2-2' }}
	</po-container>
	<po-container class="po-md-6 po-lg-6 po-mb-2 po-text-center po-font-text-large po-pr-0">
		{{ litPedidos?.totais.totalProvavelAtu }} R$ {{ this.totalProvavelAtu | number: '1.2-2' }}
	</po-container>
	<po-container class="po-lg-12 po-md-12 po-pl-0 po-pr-0 po-mb-2">
		<po-table [p-columns]="colTotaisPedidos" [p-items]="totaisPedidos" p-sort="true">
		</po-table>
	</po-container>

	<!-- Grid de Pedidos-->
	<po-container p-no-border="true" p-no-padding="true" class="po-lg-12 po-md-12 po-pr-0 po-pl-0">
		<div class="po-font-subtitle po-row po-mb-2">
			{{ litPedidos?.tituloSecundario }}
		</div>
		<div class="po-pull-right po-pt-1">
			<h2 class="po-info-value po-lg-12">
				{{ litPedidos?.grid.quantidadeReg }}: {{ this.qtdPedidos }}
			</h2>
		</div>
		<po-button
			class="btn"
			p-label="{{ litPedidos?.grid.btnNovoPedido }}"
			p-type="primary"
			(p-click)="createPedido()"
		>
		</po-button>

		<po-button class="btn po-ml-2" p-label="{{ litPedidos?.grid.btnAlteraEmLote }}">
		</po-button>
		<div class="juriLoadingCover po-lg-12 po-md-12 po-pt-2 po-pl-0 po-pr-0">
			<po-loading-overlay
				p-screen-lock="false"
				[hidden]="isHideLoadingPedidos"
				p-text="{{ litPedidos?.carregando }}"
			>
			</po-loading-overlay>
			<po-table #gridPedidos [p-columns]="colPedidos" [p-items]="pedidos" p-sort="true">
			</po-table>
		</div>
	</po-container>

	<po-modal
		#confirmMigracaoNSY
		p-title="{{ litPedidos?.modal.atualizacao }}"
		[p-primary-action]="migrar"
		[p-secondary-action]="fechar"
	>
		{{ litPedidos?.modal.msgAjustes }}
	</po-modal>
	<po-modal
		#modalMigracaoNSY
		p-title="{{ litPedidos?.modal.atualizacao }}"
		[p-primary-action]="confirmaPedido"
		[p-secondary-action]="checkPedido"
	>
		<form [formGroup]="formMigracao">
			<po-select
				#listPedMigr
				class="po-lg-6 po-pl-0 po-pr-0"
				name="tpPedido"
				p-label="Pedidos"
				[p-options]="listPedidos"
				formControlName="tpPedido"
				(p-change)="callTabMigracao()"
			>
			</po-select>
			<po-container class="po-lg-12 po-mb-2 po-mt-2" style="padding: 2px;">
				{{ msgMigracao }}
				<po-table
					#tblPedidosMigracao
					class="po-mb-2"
					[p-columns]="colMigracaoPedido"
					[p-items]="listPedidosMigracao"
				>
				</po-table>
				<div
					class="po-row po-field-optional po-mt-2"
					*ngIf="listPedidosMigracao.length > 1 && !tblMigraPedido.checkbox"
				>
					<p class="po-row">
						{{ litPedidos?.modal.alertConfPriLinha }}
					</p>
					<p class="po-row">
						{{ litPedidos?.modal.alertConfSegLinha }}
					</p>
				</div>
			</po-container>
			<p
				*ngIf="listPedidosMigracao.length > 1"
				class="po-row po-mt-2 po-field-container-bottom-text-error po-text-color-07"
			>
				{{ litPedidos?.modal.alertMigracao }}
			</p>
		</form>
	</po-modal>
</po-page-default>
