<po-page-default 
	[p-breadcrumb]="breadcrumb" 
	p-title="{{ litGar?.tituloGar }}">
	<!-- Pesquisa -->
	<po-button 
		p-label="{{ litGar?.btnNovoGar }}" 
		p-type="primary" (p-click)="callDetailGarantia()">
	</po-button>
	<div class="jurAlignButton po-lg-2 po-md-2 po-pr-0 po-pull-right">
		<po-combo
			name="tipo"
			p-placeholder="{{ litGar?.btnPesquisar }}"
			p-label=" "
			[p-filter-service]='fwModelAdaptorService'
			[p-filter-params]="adaptorParamTipoGarantia"
			(p-change)="filtraTipo()"
			p-icon="po-icon-search"
			[(ngModel)]="searchKey"
			p-change-on-enter="true">
		</po-combo>
	</div>
	<div class="po-row po-pt-2 teste">
		<po-widget class="po-md-4 po-lg-4 po-mb-2 po-pb-0 po-pl-0">
			<div class="po-font-text-large po-text-center"> {{litGar?.WgtTotDepositos}}: R$ {{this.totalDepositos | number : '1.2-2'}}</div>
		</po-widget>
		<po-widget class="po-md-4 po-lg-4 po-mb-2 po-pb-0">
			<div class="po-font-text-large po-text-center"> {{litGar?.WgtTotLevant}}: R$ {{this.totalLevantamentos | number : '1.2-2'}}</div>
		</po-widget>
		<po-widget class="po-md-4 po-lg-4 po-mb-2 po-pb-0 po-pr-0">
			<div class="po-font-text-large po-text-center"> {{litGar?.WgtTotSalJuizo}}: R$ {{this.saldoTotalJuizo | number : '1.2-2'}}</div>
		</po-widget>
	</div>
	<!-- Grid de Garantias-->
	<po-widget class="po-row juriLoadingCover">
		<po-loading-overlay
			p-screen-lock="true" 
			[hidden]="isHideLoadingGarantias" 
			p-text="{{ litGar?.loadGar }}">
		</po-loading-overlay>
		<po-table 
			[p-columns]="colGarantias" 
			[p-items]="garantiasList" p-striped="true" p-sort="false"
			p-striped="true">
		</po-table>
	</po-widget>
</po-page-default>