<po-page-detail class="anexos"
	[p-breadcrumb]="breadcrumb"
	[p-title]="titleAnex">
	<po-button class="po-md-2 po-lg-2 po-pl-0"
		p-label="{{ litAnexos?.btnAnexos.incluir }}" 
		p-type="primary"
		(p-click)="incluirAnx()">
	</po-button>
	<po-button class="po-md-2 po-lg-2"
		p-label="{{ litAnexos?.btnAnexos.download }}" 
		p-type="secondary"
		(p-click)="downloadSelectedAttachments()">
	</po-button>
	<po-button class="po-md-2 po-lg-2"
		p-label="{{ litAnexos?.btnAnexos.excluir }}" 
		p-type="secondary"
		(p-click)="deleteAnx()">
	</po-button>
	<po-input class="po-lg-2 po-offset-lg-2 po-pull-right po-pr-0 jurAlignButton" name="searchKey" 
		(keydown)="search($event)"
		[(ngModel)]="searchKey"
		p-placeholder="{{ litAnexos?.btnAnexos.pesquisarAnx }}" 
		p-icon="po-icon-search">
	</po-input>
	<po-upload
		class="po-lg-12 po-pl-0 po-pr-0 po-mt-2"
		[(ngModel)]="dragndropAnexos"
		p-drag-drop
		p-drag-drop-height=100
		p-required
		p-restrictions="{maxSize: 209715200}"
		p-url="/juri/JURLEGALPROCESS/anexo"
		(p-upload)="uploadFiles($event)"
		(p-success)="uploadSucess()"
		p-multiple="true"
		p-hide-select-button="true"
		[p-literals]="attachmentLiterals">
	</po-upload>
	
	<po-widget class="po-row juriLoadingCover po-mt-2 po-pt-2" >
		<po-loading-overlay *ngIf="!isHideLoadingAnexos"
			p-screen-lock="false"
			[hidden]="isHideLoadingAnexos"
			p-text="{{ litAnexos?.loadAnx }}" >
		</po-loading-overlay>
		<po-table
			p-checkbox
			[p-columns]="columnAnx"
			[p-items]="listAnx"
			p-sort="false">
		</po-table>
	</po-widget>

	<po-modal #ExcluirAnexo
		p-click-out="false"
		p-hide-close="false"
		p-title="Excluir anexos?"
		[p-primary-action]="primaryActAnexo"
		[p-secondary-action]="secondaryActAnexo"
		class="modalAnexo">
		<po-divider></po-divider>
		<div class="po-font-text-large">{{ litAnexos?.infoAnexos.confirmExc }}</div>
		<br>
		<po-container 
			p-height="108" 
			p-no-border="true">
			<ul class="po-font-text-bold po-text-color-01" style="list-style-type: none">
				<li *ngFor="let item of anexos">{{item}}</li>
			</ul>
		</po-container>
		<br>
		<div class="po-text-color-07 po-font-text-large-bold">
			{{ litAnexos?.infoAnexos.atentionExc }}<p>
				{{ litAnexos?.infoAnexos.listExc }}
		</div>
	</po-modal>	
</po-page-detail>
