<div class="po-wrapper">
	<po-menu
		p-collapsed="true"
		p-filter
		p-logo=""
		p-short-logo=".\assets\totvs-logo-menu-panel.svg"
		[p-menus]="menus">
	</po-menu>

	<po-toolbar
		[p-title]="title"
		[p-actions]="toolbarActions"
		p-actions-icon="po-icon-settings"
		[p-notification-actions]="listNotifications?.getValue()"
		[p-notification-number]="getNotificationNumber()"
		[p-profile-actions]="profileActions"
		[p-profile]="profileUser"
		> 
	</po-toolbar>

	<router-outlet></router-outlet>

</div>